<include file="Public:header" />

<div class="ban1">
  <div class="banner_img">
    <img src="{$images.pic}" alt="" />
  </div>
</div>


<!--  / warpper  -->
<div class="warpper wrapper1 wrapper_s1">
  
  
  <div class="title">
    <div class="line"></div>
    <p class="font_tit1">The artist</p>
    <h5>动 • 漫</h5>
  </div>

  <div class="ysDm clearfix">
  <div class="row">
 <div class="ysj-cont1">
 <div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>雕塑家 • 林岗</h5>
          <p>1967年3月生于杭州 1982年考入浙江美术学院附中</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/y02.png" width="100%"> </a> </div>
</div>
 <div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>画家 • 蓝正辉</h5>
          <p>1959年 生于四川省隆昌 2003年 《水墨疾走》个展及研讨会</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/ysz1.png" width="100%"> </a> </div>
</div>  
<div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>画家 • 刘阳</h5>
          <p>京人，满族。 曾于中央美术学院、新闻学院、中国社会科学院...</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/ysz2.png" width="100%"> </a> </div>
</div> 
<div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>艺术家 • 陈法军</h5>
          <p>1962年出生浙江天台县。 1986年加入天台美术家协会...</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/ysz3.png" width="100%"> </a> </div>
</div> 
<div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>雕塑家 • 林岗</h5>
          <p>1967年3月生于杭州 1982年考入浙江美术学院附中</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/y04.png" width="100%"> </a> </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>画家 • 蓝正辉</h5>
          <p>1959年 生于四川省隆昌 2003年 《水墨疾走》个展及研讨会</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/ysz4.png" width="100%"> </a> </div>
</div> 
    <div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>画家 • 刘阳</h5>
          <p>京人，满族。 曾于中央美术学院、新闻学院、中国社会科学院...</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/y01.png" width="100%"> </a> </div>
</div>  
 
<div class="col-lg-3 col-md-3 col-sm-3">
     <div class="ysj_list"> <a href="{:U('/Home/ArtCommunity/designerdot')}">
          <div class="ysj_list_wz">
          <h5>艺术家 • 陈法军</h5>
          <p>1962年出生浙江天台县。 1986年加入天台美术家协会...</p>
          <i>+</i>
          </div>
           <img src="__IMAGES__/y03.png" width="100%"> </a> </div>
</div> 
      
  </div>

  </div>
   
 </div>
 
  </div>
 </div>



  </div>


<!--  / warpper  -->

<include file="Public/footer" />

</body>
</html>