<include file="Public:header" />

<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">

    <!--  / user  -->
    <div class="Selleruser">
        <div class="SellerFlower">
            <div class="pZlCon">
                <div class="order_sh">
                    <h5>选择支付方式</h5>
                    <div class="order_shon clearfix">
                        <div class="order_shona pro_xz"> <img src="__IMAGES__/zffs1.jpg" width="100%"> <input type="hidden" name="pay_type" value="1" ></div>
                        <!--<div class="order_shona"> <img src="__IMAGES__/zffs2.jpg" width="100%"> <input type="hidden" name="pay_type" value="2" ></div>-->
                        <div class="order_shona"> <img src="__IMAGES__/zffs3.png" width="100%"> <input type="hidden" name="pay_type" value="3" ></div>
                        <div class="order_shona"> <img src="__IMAGES__/zffs4.png" width="100%"> <input type="hidden" name="pay_type" value="4" ></div>
                    </div>
                </div>
                <div class="order1_tall">
                    <div class="shopcar_zj clearfix">
                        <div class="shopcar_zjs_btn">
                            <h5 class="pBH5"><span>培训报名费用：￥{$train_info.fee}</span></h5>
                            <a class="payZ" href="javascript:void();">支付</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  / user  -->

<!--  / warpper  -->

<include file="Public/footer" />

<div class="dizhi wxzf-box">
    <div class="dizhi_bg"></div>
    <div class="dizhi_con dizhi_con_weixin" style="width:320px;height:auto;margin:0px;top:30%;left:40%;">

        <div class="ewm text-center">
            <h5 style="margin-bottom:16px;">打开微信扫码支付</h5>
            <img src="" id="weixin_erweima" width="150" title="打开微信扫一扫支付"/>
            <h6>浙江美术网全心全意为您服务，让您省心放心，扫码即可支付！</h6>
        </div>
    </div>
</div>

</body>
</html>

<script>
    $('.zf').click(function(){
        $('.task').stop(true).fadeIn(1000);
        setTimeout(function(){
            $('.task_con').addClass('task_con_on');
        },300)
    })

    $('.task_con>img').click(function(){
        $('.task').stop(true).fadeOut(1000);
        $('.task_con').removeClass('task_con_on');
    })

    $('.payZ').click(function(){
        var member_id = '{$member_id}';
        if(member_id == 0){
            dialog.showTips("请先注册，若有账号，请先登录！", "",'/Wxin/User/login');
            return false;
        }
        var pay_type = $(".order_sh .pro_xz input[name='pay_type']").val();
        $.ajax({
            url:'/Home/ArtCommunity/trainPay/',
            type:'post',
            data:{
                type:pay_type,
                tel_train_id: '{$_GET["applyID"]}'
            },
            dataType:'json',
            success: function(g){
                //console.log(g);
                if(g.status == 1){
                    dialog.showTips("是否支付", "firm",function(){
                        window.location.href = g.url;
                    });
                } else if(g.status == 2) {
                    //dialog.showTips(g.info, "firm", function () {
                    window.location.href=g.url;
                    //});
                }else if(g.status == 3){
                    order_no = g.order_id;
                    //console.log(g.url);
                    $('#weixin_erweima').attr('src', g.url);
                    $('.wxzf-box').stop(true).fadeIn(1000);
                    setTimeout(function () {
                        $('.dizhi_con_weixin').addClass('dizhi_con_on');
                    }, 200)
                    int = setInterval(function () {
                        $.post("{:U('Home/ArtCommunity/order_status')}", {order_no: order_no,type:2},
                            function (g) {
                                if (g.status == 1) {
                                    window.location.href = g.url;
                                }
                            })
                    }, 1000);
                }else if(g.status == 4){
                    alert('支付成功');

                    window.location.href=g.info;
                }else{
                    alert(g.info);
                    return false;
                }
            }

        })
    })
</script>