<include file="Public:header" />

<div class="ban1">
  <div class="banner_img"> <img src="__IMAGES__/xinwen.jpg" alt="" /> </div>
</div>

<!--  / warpper  -->
<div class="warpper wrapper1 wrapper_s1">
  <div class="title">
    <div class="line"></div>
    <p class="font_tit1">Can recommend</p>
    <h5>可 • 推 • 荐 </h5>
  </div>
  <div class="news">
    <div class="news_fl">
      <div class="tab-controls"> <a href="/news.html">艺术头条</a> <a href="javascript:;">展览资讯</a> <a href="/contest.html">大赛征稿</a> <a href="javascript:;">名家访谈</a> <a href="/hall.html" class="active tabs_a fl">3D展厅</a> <a href="/video.html">视频</a> <!--<a class="active" href="/recommend.html">可推荐</a> --></div>
    </div>
    <div class="pagebox clearfix">
      <section class="page0 page active clearfix">
        <div class="main">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="pin pin_style1"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="sect5_top"><img src="__IMG__/sec01.jpg" alt=""></p>
                <p class="sect5_hist">马科，本名胡兴三 <br>
                  浙江宁海人，现居宁波。文化部中国书画院高级院士，世界外交官中国文化之旅组委会“文化传播大使” </p>
                <p class="sect5_video"><img src="__IMG__/sec03.jpg"></p>
                <div class="sect5_collection">
                  <p class="descript">Discover<br>
                    the new Collection</p>
                  <i></i>
                  <p class="sect5_foot"> <img src="__IMG__/sec02.jpg" alt=""> <img src="__IMG__/shougong2.jpg" alt=""> <img src="__IMG__/shougong3.jpg" alt=""> </p>
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:20px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;"> READ MORE </p>
              </div>
              </a> </div>
            <div class="pin pxp"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>12.05 2016</b></span></p>
                <h3>穆王八骏天马驹，后人...</h3>
                <p class="cont_describe1">西周的遗产：周穆王的“八匹马”“八骏”的故事“八骏”是中国文学史和艺术史上经久不息的母题，八骏是八匹骏马的总称，酒令划拳中的“八匹马”说的就是它们...</p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen4.jpg" alt=""></span></p>
              </div>
              </a> </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>02.05 2017</b></span></p>
                <h3>著名书画家李明...</h3>
                <p class="cont_describe1"> 2017年1月20日，笕桥美院（杭州民进画院）院长、著名书画家“李氏国花创始人”李明先生偕同院助手，执行院长、2014’中国十大女艺术家江红女士... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/sec41.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>01.04 2017</b></span></p>
                <h3>《海之韵》2017迎新春赵...</h3>
                <p class="cont_describe1"> 《海之韵》2017迎新春赵保乐、姜云宗书画巡回展将于2017年1月7日下午三点在荣宝斋美术馆隆重开幕，本次展览由国家新闻出版局广电总局美术家协会... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen11.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin pxp"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>11.10 2016</b></span></p>
                <h3>第十九届（2016) 西湖艺术...</h3>
                <p class="cont_describe1">第十九届（2016）西湖艺术博览会于2016年11月7日下午圆满落下帷幕。回顾整个西湖艺博会，可谓精彩纷呈。3号晚上的开幕酒会暨VIP之夜，众多艺术界大咖... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen12.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>01.17 2017</b> BY <b>art-zhejiang</b></span></p>
                <h3>“纪念刘华清将军诞辰...</h3>
                <p class="cont_describe1">由上海艺术博览会组委会主办，上海市书法家协会、上海市美术家协会、上海朵云轩艺术中心、上海东北文化经济交流促进会出任支持单位，义邑文化传媒...</p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/sec42.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>12.23 2016</b> BY <b>art-zhejiang</b></span></p>
                <h3>中国国家艺术网荣获...</h3>
                <p class="cont_describe1">2016年12月6日，由工信部指导，中国电子商务协会主办的2016中国电子商务行业门户大会在北京国际会议中心隆重举行。本次大会以“开放、互联、共享”为主题...</p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen13.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin pxp"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>11.14 2016</b> BY <b>art-zhejiang</b></span></p>
                <h3>馆长放大招 民营美术馆...</h3>
                <p class="cont_describe1">2016年11月8日，(CPAMF) 第四届中国民营美术馆发展论坛在上海二十一世纪民生美术馆盛大开幕。99艺术网CEO杨凯与第四届中国民营美术馆发展论坛轮值主席...</p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen14.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 hidden-sm ">
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>01.27 2017</b> BY <b>art-zhejiang</b></span></p>
                <h3>川岳荐灵——邹伟民诗画...</h3>
                <p class="cont_describe1"> 2017年1月13日，川岳荐灵——邹伟民诗画艺术展在成都市温江区美术馆正式开幕。此次展览由中外视觉艺术院、重庆师范大学美术学院、中共成都市温江区... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen2.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>11.21 2016</b></span></p>
                <h3>中国工艺美术产业研究院...</h3>
                <p class="cont_describe1"> 11月16日，中国工艺美术产业研究院-白茶研究院成立大会在中国白茶之乡政和县东平镇白之源白茶体验馆举行。中国工艺美术产业研究院秘书长胡玉宝、副秘书长... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen3.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
            <div class="pin pxp"> <a href="{:U('/Home/News/details')}">
              <div class="box">
                <p class="cont_date_p"><span><b>10.31 2016</b></span></p>
                <h3>杭州国力雕塑艺术有限公司...</h3>
                <p class="cont_describe1">10月26日下午，南阳理工学院艺术设计学院与杭州国力雕塑艺术有限公司、南阳雕塑院两家单位校地校企合作签约仪式在学院会议室举行。出席此次签约的有杭州... </p>
                <p class="cont_img1"><span class="cont_img1_hd"><img src="__IMG__/xinwen15.jpg" alt=""></span></p>
              </div>
              </a>
              <div class="fenxiang" style="padding:0 10px 10px"> 
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style" style="margin-top:10px"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_weixin"></a> 
                  <!-- <a class="jiathis_button_renren"></a> --> 
                  <!-- <a class="jiathis_button_xiaoyou"></a> --> 
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> 
                  <!-- <a class="jiathis_counter_style"></a> --> 
                </div>
                <!-- JiaThis Button END -->
                <p class="sect_footstyle" style="line-height:18px;height:14px;font-size:14px;"> READ MORE </p>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </section>
    </div>
  </div>
  <div class="top"> <a class="top_a" href="javascript:goTop();"> <img src="__IMAGES__/top.png"> </a> </div>
</div>
<!--  / warpper  -->

<include file="Public/footer" />

</body>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script>
   $('.product-sort a').click(function(){
      // alert($(this).parent().find('a').length)
      $(this).parent().find('a').removeClass('active')
      $(this).addClass('active')
    })
</script>
<!--  / banner切换  -->
<script src="__JS__/swiper.min.js"></script>
<script>
$(document).ready(function(e) {
    
	var mySwiper1 = new Swiper('.swiper-banner',{
		pagination: '.pagination1',
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left_01').on('click', function(e){
		e.preventDefault()
		mySwiper1.swipePrev()
	})
	  
	$('.arrow-right_01').on('click', function(e){
		e.preventDefault()
		mySwiper1.swipeNext()
	})
	
	var mySwiper2 = new Swiper('.swiper-tuijian',{
		loop:true,
		autoplay:5000, 
		spaceBetween: 0,
		slidesPerGroup : 1,//设置几个一切
		slidesPerView :4,//一行几
		paginationClickable: true,
		autopalyDisableOnInteraction:false,
	})
	$('.arrow-left2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipePrev()
	})
	  
	$('.arrow-right2').on('click', function(e){
		e.preventDefault()
		mySwiper2.swipeNext()
	})
	
	
	
	
	$(".ss").click(function(e){
		    $(".sskuang").css({"left":"0","opacity":"1"})  
	})
	
	$(".close").click(function(e){
		    $(".sskuang").css({"left":"-100%","opacity":"0"})  
	})
	
  
  
  

});





$(window).scroll(function ()
{
	
 
		 	 
	
	 if($(window).scrollTop()>=60){ 
		 $('.header').addClass('header_fixed');
	 }
	 else {
        $('.header').removeClass('header_fixed');
        } 
		 
	 

	
});		 
		 
</script>

<!--  / banner切换  -->

<script>

$(document).ready(function() {

	$(".wx").hover(function(){
		$(".ewm1").stop().animate({"opacity":"1"},500);
		    
	},function(){
		$(".ewm1").stop().animate({"opacity":"0"},500);
		    
	})
	
	$(".sj").hover(function(){
		$(".ewm2").stop().animate({"opacity":"1"},500);
		    
	},function(){
		$(".ewm2").stop().animate({"opacity":"0"},500);
		    
	})
	
	
	
});

</script>
</html>
