<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/sellerCss.css">

<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">
    <div class="title">
      <div class="line"></div>
      <p class="font_tit1">Shop</p>
      <h5>店 • 铺</h5>
    </div>

    <div class="dianpu_sec1">
      <div class="dianpu_title">
        <div class="dianpu_title_pic">
          <div class="dianpu_title_img"><img src="__IMAGES__/29_avatar_small.jpg" alt="" /></div>
          <div class="dianpu_title_text">
            <h3>{$artist.artist_name}</h3>
            <h6>加入时间: {$artist.create_at|date='Y-m-d',###}</h6>
          </div>
        </div>
        <div class="dianpu_title_canyu">
          <ul>
            <li>
              <h3>{$artist.fans}</h3>
              <span>粉丝</span>
            </li>
            <li>
              <h3>{$artist.browser}</h3>
              <span>访问量</span>
            </li>
            <li>
              <h3>{$artist.like}</h3>
              <span>喜欢</span>
            </li>
            <!-- <li>
              <h3>{$artist.browser}</h3>
              <span>藏品</span>
            </li> -->
          </ul> 
        </div>
      </div>
    </div>

    <div class="dianpu_sec2">
      <div class="dianpu_xian"><img src="./images/dianpu_bg.gif" alt="" /></div>
      <div class="dianpu_sec2_list">
        <h3>店铺商品</h3><br/>
        <div class="row">
          <volist name="goods" id="vo">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="dianpu_sec2_li">
              <div class="dianpu_sec2_img"> <if condition="$vo.cstore eq 1"><a href="{:U('/Home/Products/products_dot')}/id/{$vo.id}"> <else /> <a href="{:U('/Home/Products/buy')}/id/{$vo.id}"></if><img src="{$vo.index_pic}" width="287" height="287" alt="" /></a></div>
              <div class="dianpu_cont_text">
                  <h4><span><i class="left"></i>{$vo.goods_name}<i class="right"></i></span></h4>
                  <h3 class="dianpu_Price-h3"><span class="login"><a href="/Home/User/login">登录</a>可查看价格</span><i class="price">￥</i><span class="price" style="font-size: 24px !important;">{$vo.price}</span></h3>
                  <p class="dianpu_small_cont"><!--<span>市场价：</span><i>￥</i>600--> <a href="#"><if condition="$vo.is_groom eq 0">可租赁<else />可推荐</if></a>
                  </p><div class="clear"></div>
                  <p></p>
                  <if condition="$vo.cstore eq 1">
                   <div class="dianpu_htx"> <a href="{:U('/Home/Products/products_dot')}/id/{$vo.id}"> 查看详情 </a> </div>
                  <else />
                    <div class="dianpu_htx"> <a href="{:U('/Home/Products/buy')}/id/{$vo.id}"> 查看详情 </a> </div>
                  </if>
                </div>
            </div>
          </div>
          
         </volist>
        </div>
        <br/>
        <h3>推荐商品</h3>
        <br/>
        <!--推荐商品-->
        <div class="row">
          <volist name="goodstj" id="vo">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="dianpu_sec2_li">
              <div class="dianpu_sec2_img"> <if condition="$vo.cstore eq 1"><a href="{:U('/Home/Products/products_dot')}/id/{$vo.id}/artists_id/{$artist.id}"> <else /> <a href="{:U('/Home/Products/buy')}/id/{$vo.id}/artists_id/{$artist.id}"></if><img src="{$vo.index_pic}" width="287" height="287" alt="" /></a></div>
              <div class="dianpu_cont_text">
                  <h4><span><i class="left"></i>{$vo.goods_name}<i class="right"></i></span></h4>
                  <h3 class="dianpu_Price-h3"><span class="login"><a href="/Home/User/login">登录</a>可查看价格</span><i class="price">￥</i><span class="price" style="font-size: 24px !important;">{$vo.price}</span></h3>
                  <p class="dianpu_small_cont"><!--<span>市场价：</span><i>￥</i>600--> <a href="#"><if condition="$vo.is_groom eq 0">可租赁<else />可推荐</if></a>
                  </p><div class="clear"></div>
                  <p></p>
                  <if condition="$vo.cstore eq 1">
                   <div class="dianpu_htx"> <a href="{:U('/Home/Products/products_dot')}/id/{$vo.id}/artists_id/{$artist.id}"> 查看详情 </a> </div>
                  <else />
                    <div class="dianpu_htx"> <a href="{:U('/Home/Products/buy')}/id/{$vo.id}/artists_id/{$artist.id}"> 查看详情 </a> </div>
                  </if>
                </div>
            </div>
          </div>
          
         </volist>
        </div>
        <!--推荐商品-->
      </div>
    </div>     
    <div class="top"> <a class="top_a" href="javascript:goTop();"> <img src="images/top.png"> </a> </div>    
          
</div>
<!--  / warpper  --> 

<!--  / footer  -->
<include file="Public/footer" />

<!--  / footer  -->

<script type="text/javascript">
  $(document).ready(function(){
      var member_id = '{$Think.session.member_id}';
     
      if(!member_id){
          dialog.showTips("请先注册，若有账号，请先登录！", "",'/Home/User/login');
          return false;
      }

       if(member_id == 0){
            $('.login').show();
            $('.price').hide();
        }else{
            $('.login').hide();
            $('.price').show();
        }
  })
</script>
<script>
 
</script>
</body>
</html>
