<include file="Public:header" />
<style>
 .allorderUl li a {
  display: block;
  position: relative;
  color: #666;
  width: 25%;
  text-align: center;
  height: auto;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  float: left;
 }
 .pop-up_box .pop-up_box_close {
  background: url(__IMAGES__/.pop-up_box_close.png) no-repeat center center;
  background-color: #000;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
 }
 .pop-up_box .pop-up_box_bottom {
  display: block;
  background-color: #e66c6a;
  color: #FFFFFF;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  width: 46%;
  border: none;
  margin-top: 20px;
 }
 .recommend_enter p{
  width: 100px !important;
 }
 .recommend_enter p span{
  float:left !important;
 }
</style>
<!--order_top-->
<div class="allorder_top">
 <h3 class="headH3"> <a href="/Wxin/Shop/shop/tag/shop/value/6"> <i class="fa fa-angle-left"></i> 发货 </a> </h3>
 <ul class="allorderUl delivery_list">
  <li <eq name="_GET['status']" value="2">class="title_first"</eq>><a href="{:U('Wxin/Shop/selDeliver',array('status'=>2,'tag'=>'selDeliver'))}">待发货的订单</a></li>
  <li <eq name="_GET['status']" value="3">class="title_first"</eq>><a href="{:U('Wxin/Shop/selDeliver',array('status'=>3,'tag'=>'selDeliver'))}">发货中的订单</a></li>
  <li <eq name="_GET['status']" value="4">class="title_first"</eq>><a href="{:U('Wxin/Shop/selDeliver',array('status'=>4,'tag'=>'selDeliver'))}">已发货的订单</a></li>
  <li <eq name="_GET['status']" value="0">class="title_first"</eq>><a href="{:U('Wxin/Shop/selDeliver',array('status'=>0,'tag'=>'selDeliver'))}">被取消的订单</a></li>
  
  <div class="clear"></div>
 </ul>
</div>
<div class="warp_box">
 <volist name="order" id="vo">
 <div class="user_r_list">
  <div class="allorder_topz allorder_topz_sy">
   <div class="allorder_topz_center" style="
    margin: 47px 0;
">
    <h5><span>时间：{$vo.order_time|date='Y-m-d H:i:s',###}</span></h5><h5><span>订单号：{$vo.order_no}</span></h5>
    <div class="allorder_topz_right delivery_topz_right"><switch name="vo.order_status">

     <case value="0">已取消</case>
     <case value="2">待发货</case>
     <case value="3">已发货</case>
     <case value="4">已完成</case>

     <case value="6">退款中</case>
    </switch></div>
   </div>
  </div>
  <div class="allorder_kuang">
   <div class="shop_xx_warp">
    <div class="shop_xx_center">
     <div class="shop_xx_left shop_xx_fd"> <a href="javascript:;"><img src="{$vo.index_pic}" width="100%" /></a> </div>
     <div class="shop_xx_right shop_xx_fd">
      <p><b>{$vo.index_name}</b><br />数量 <i>{$vo.goods_nums}</i></p>
      <p>收货人<i>{$vo.person_name}</i></p>
      <h3 class="shop_xx_jg"><b>单价</b><b>¥{$vo.price}</b></h3>
     </div>
     <div class="clear"></div>
    </div>
   </div>
   <div class="llk_border">
    <div class="llk">
     <div class="od_zongji"> 实付：<span>¥{$vo.total_fee}</span></div>
    </div>
    <div class="clear"></div>
   </div>
   <div class="od_button">
    <div class="od_fukuan"><a href="{:U('/Wxin/PersonalCenter/orderDetails/tag/selSellout',array('id'=>$vo['id']))}">查看详情</a></div>
    <if condition="$vo.order_status eq 2">
    <div class="od_quxiao"><a href="javascript:void(0);" class="quxiao" data-id="{$vo.id}">发货</a></div>
     <elseif condition="$vo.order_status eq 3"/>
     </if>
    <div class="clear"></div>
   </div>
  </div>
</div>
  </volist>
</div>
<div class="ght">
 <!--<div class="ght_line"></div>
 <div class="dibu_wz">已经到底啦</div>
 <div class="ght_line"></div>-->
</div>

<include file="Public:footer" />
<div class="pop-up_box" style="display: none">
 <div class="groom_bg">
  <div class="pop-up_box_close task_btn1_quxiao"></div>
  <h3>归还物流信息</h3>
  <div class="groom_tkcontent">
   <div class="pop-up_box_xiegang">
    <!--<img src="__IMAGES__/pop-up_box_xiegang.png"/>-->
    <span style="color:red;">*</span>快递公司:

    <select style="width: 182px;height: 35px" name="express_name">
     <foreach name="express_list" item="vo">
      <option value="{$vo['express_ma']}">{$vo['express_company']}</option>
     </foreach>
    </select>
    <input value="activate selectator" id="activate_selectator1" type="button" style="width:70px;height:30px;float:left;margin:1px 8px 0 12px;background:rgba(255, 102, 0, 1);color: #fff;border:0;font-size: 15px;display: none;">
    <br />
    <span style="color:red;">*</span>快递单号:
    <input type="text" onKeyUp="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" class="input describe1" name="express_no" style="height:35px;width: 182px;"></td>

   </div>
   <button style="float:left;" class="pop-up_box_bottom buy task_btn1_on1" id="fahuo">确定发货</button>
   <button class="pop-up_box_bottom task_btn1_quxiao">取消</button>
  </div>
 </div>
</div>
<script>
 var p = 2;
 // 加载刷新。
 function refresh(refresh,loadmore) {
  $(window).scroll(function(){
   console.log('正在滑动f');

   var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
   var scrollHeight = $(document).height();   //当前页面的总高度
   var clientHeight = $(this).height();    //当前可视的页面高度
   // console.log("top:"+scrollTop+",doc:"+scrollHeight+",client:"+clientHeight);
   if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部 count++;         //每次滑动count加1
    // filterData(serviceTypeId,industryId,cityId,count); //调用筛选方法，count为当前分页数
    console.log('下拉');

    if(loadmore){
     loadmore();
    }
   }else if(scrollTop<=0){
    //滚动条距离顶部的高度小于等于0 TODO
    //alert("下拉刷新，要在这调用啥方法？");

    console.log('上拉');
    if(refresh){
     refresh();
    }

   }

  });

 }
 //调用
 refresh(fn1,fn2);

 function fn1(){
  window.location.href = "{:U('Wxin/Shop/selDeliver')}";
 }
 function fn2(){
  $.ajax({
   type: "POST",
   url: "{:U('/Wxin/Shop/get_selDeliver')}",
   data: {
    p: p,
   },
   dataType: "json",
   success: function (g) {
    if (g.status == 1) {
     p++;
     $('.warp_box').append(g.html);
    } else {
     //alert(g.info);
    }
   }
  });
 }
</script>
<script>
 function quxiao(obj){
  var ordid = $(obj).data('id');
  $("#ordid").val(ordid);
  //console.log($("#ordid").val());
  $('.pop-up_box').stop(true).fadeIn(1000);
 }
 $('.quxiao').click(function(){
  console.log($(this).data('id'));
  var ordid = $(this).data('id');
  $("#ordid").val(ordid);
  //console.log($("#ordid").val());
  $('.pop-up_box').stop(true).fadeIn(1000);
  /*setTimeout(function(){
   $('.task_con').addClass('task_con_on');
   },300)*/
 })
 $('.task_btn1_quxiao').click(function(){
  $('.pop-up_box').stop(true).fadeOut(1000);
  //$('.task_con').removeClass('task_con_on');
 })
 //发货
 $("#fahuo").click(function(){
  var data = {};
  data.express_name    = $.trim($("select[name=express_name]").val());
  // data.express_fee     = $.trim($("input[name=express_fee]").val());
  data.express_no         = $.trim($("input[name=express_no]").val());
  if(!data.express_name){
   alert("请选择物流公司！");return false;
  }
  if(!data.express_no){
   alert("请填写快递单号！");return false;
  }
  data.id = $("#ordid").val() ;
  // console.log(data);return false;

  $.ajax({
   url:"{:U('Wxin/Shop/express')}",
   type:'post',
   data :data,
   datatype : 'json',
   success:function(data){
    if(data.status==1){
     $('.wap_tanc').attr('z-index','999999');
     $('.wap_tanc_bg').attr('z-index','999999');
     $('.wap_tanc_con').attr('z-index','999999');
     // alert(data.info);
     //return false;//z-index
     // dialog.showTips(data.info,'warn',function(){
     window.location.reload();
     // })
    }else{
     window.location.reload();
     alert(data.info);
    }
   }
  });
 });
</script>
</body>
</html>