<include file="Public:header" />
<div class="dianpu_box">
  <div class="SellerCon">
    <div class="SellerTop">
      <h3>创建店铺</h3>
    </div>
    <div class="SellerFlower">
      <div class="clear"></div>

      <div class="SellerFlower SellerFlower2">
        <!--<div class="SellerFlist SellerFlistCurr"> <span>3</span>
          <h3 class="paiUncenter_h3">审核</h3>
        </div>-->
        <div class="pZlCon pZlCon1">
          <div class="SelAudCon">
            <div class="SelAudPic SelAudPic1"> <img src="__IMAGES__/SelAudPic1.png"> </div>
            <div class="SellerTop SelIdTop">
              <if condition="$status eq 1">
                <h3>亲，店铺申请提交成功！祝您生意兴隆！</h3>
                <h6>现在后台正在为您审核资料！</h6>
                <else />
                <h3>亲，您的资料已提交！</h3>
                <h6>现在后台正在为您审核资料,请稍等！</h6>
              </if>
            </div>
          </div>
          <div class="SelAudTxt clearfix">
            <h6>美术网不会主动联系您缴纳保证金，谨防假冒客服诈骗！</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="indexbottom"></div>

    <include file="Public/footer" />

</body>
</html>
