<include file="Public:head"/>
<style>
	.imgnav{
		max-height: 30px;
		overflow: hidden;
		cursor: pointer;
	}
	.imgwrapper{
		display: block;
		width: 78px;
		height: 78px;
		overflow: hidden;
	}
	.imgwrapper img{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		border:0;
	}
	.spanpd10{
		margin:10px;
	}
	.wxtables.wxtables-sku.newtable{
		width: 40%;
		margin: 0;
	}
	.img-list li{
		width: 60px;
		height:60px;
	}
    .left{
      margin-left:129px
    }
    .fleft{
      margin-left:9px
    }
	.cst_h3 span{font-weight: normal;}
	#imgdiv img{ max-width:190px; max-height:190px; display:none; margin:5px;}
	.btnimage{width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; position:relative; text-align:center; line-height:31px;}
	.file{ position:absolute; top:0px; left:0; width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; opacity:0}
	#imgdiv2 img{ max-width:88px; max-height:88px; display:none; margin:5px;}
	#xuanze2{ width:60px; height:30px; background:white; border:1px solid #d9d9d9; }
	#xuanze2:hover{ background:#E6E6E6; }
	.huase{display:none; width:86px; height:30px; margin:5px; text-indent:5px;}

</style>
<style>
    .formitems input {margin-top:5px}
</style>
<script type="text/javascript" src="__LHG__/lhgcore.min.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>

<div class="container">
  <div class="inner clearfix">
    <include file="Public:left"/>
    <!-- end content-left -->

    <div class="content-right fl">
      <h1 class="content-right-title">修改征稿信息</h1>
      <input type="hidden" id="j-isSid" value="0">
      <!-- 是否选择了淘宝类目 -->
      <input type="hidden" id="j-hasNorms" value="1">
      <!-- 淘宝类目下是否有属性 -->
      <input type="hidden" id="supplier" value="">
      <form aciton="{:U('/Admin/Callforpaper/editRelease')}" enctype="multipart/form-data" method="post" id="add_step2" onsubmit="return toVaild();">
        <!-- end 基本信息 -->
		<input type='hidden' name='id' value="{$number['id']}"/>
        <div class="panel-single panel-single-light mgt20">
          <h3 class="cst_h3 mgb20">征稿信息</h3>
		  
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>期数：</label>
            <div class="form-controls">
              <input type="text" class="input" name="title" onblur="value=value.replace(/[^0-9]/g,'')" onkeyup="value=value.replace(/[^0-9]/g,'')" id="title" value="{$number['number']}">(只能为数字)
              <span class="fi-help-text"></span> 
            </div>
          </div>

          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>主题：</label>
            <div class="form-controls">
             <input type="text" class="input xxlarge" name="theme" maxlength="100" id="theme" value="{$number['theme']}">
              <span class="fi-help-text"></span>
            </div>
          </div>

          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>主题图片：</label>
            <div class="form-controls pdt5 j-imglistPanel">
              <div class="baotuan_showimge fl mgr10">
			   <img src="{$number['picn']}" height="80">
              </div>
              <div class="btnimage fl">选择图片
                <input type="file"  accept="image/jpg,image/jpeg,image/png" name="pic" id="baotuan" class="file" >
              </div>
              <div class="baotuan_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
                <span class="baotuan_percent">80%</span>
              </div>
              <span class="fi-help-text fl lh30 mgl10">建议大小（宽453px高280px）</span>
            </div>
          </div>
			
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>开始时间：</label>
            <div class="form-controls">
              <input type="text" class="laydate-icon" name="starttime" id="starttime" value="{$number['start_time']|date='Y-m-d',###}">
              <span class="fi-help-text"></span> 
            </div>
          </div>
		  
		  <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>投稿结束时间：</label>
            <div class="form-controls">
              <input type="text" class="laydate-icon" name="collectiontime" id="collectiontime" value="{$number['collectiontime']|date='Y-m-d',###}">(开始评选)
              <span class="fi-help-text"></span> 
            </div>
          </div>
		  
		   <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>公布结果：</label>
            <div class="form-controls">
              <input type="text" class="laydate-icon" name="selectiontime" id="selectiontime" value="{$number['selectiontime']|date='Y-m-d',###}">(结束评选)
              <span class="fi-help-text"></span> 
            </div>
          </div>
		  
		 <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>整期投稿结束时间：</label>
            <div class="form-controls">

                <empty name="number['end_time']">
                    <input type="text" class="laydate-icon" name="endtime" id="endtime" value="">
                    <else/>
                    <input type="text" class="laydate-icon" name="endtime" id="endtime" value="{$number['end_time']|date='Y-m-d',###}">
                </empty>
              <span class="fi-help-text"></span>
            </div>
          </div>
          <!-- <div class="formitems"> -->
            <!-- <label class="fi-name"><span class="colorRed">*</span>作者：</label> -->
            <!-- <div class="form-controls"> -->
              <!-- <input type="text" class="input" name="auth" id="auth" value=""> -->
              <!-- <span class="fi-help-text"></span> -->
            <!-- </div> -->
          <!-- </div> -->

          <!-- <div class="formitems"> -->
            <!-- <label class="fi-name"><span class="colorRed">*</span>排序：</label> -->
            <!-- <div class="form-controls"> -->
              <!-- <input type="text" class="input" name="sort" id="sort" value=""> -->
              <!-- <span class="fi-help-text"></span> -->
            <!-- </div> -->
          <!-- </div> -->

          <!-- <div class="formitems"> -->
            <!-- <label class="fi-name"><span class="colorRed">*</span>新闻图片(小)：</label> -->
            <!-- <div class="form-controls pdt5 j-imglistPanel"> -->
              <!-- <div class="xuanze_showimge fl mgr10"> -->
              <!-- </div> -->
              <!-- <div class="btnimage fl">选择图片 -->
              <!-- <input type="file"  accept="image/jpg,image/jpeg,image/png" name="news_pic" id="xuanze" class="file" > -->
              <!-- </div> -->
              <!-- <div class="xuanze_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" /><span class="xuanze_percent">80%</span> -->
              <!-- </div> -->
              <!-- <span class="fi-help-text fl lh30 mgl10">建议大小（宽305px高204px）</span> -->
          <!-- </div> -->
          <!-- </div> -->

          

		  
		  <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>承办方1：</label>
            <div class="form-controls">
             <input type="text" class="input xxlarge" name="contractor1" maxlength="30" id="contractor1" value="{$number['contractor1']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
		<div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>承办方1图片：</label>
            <div class="form-controls pdt5 j-imglistPanel">
				<div class="piccon_showimge fl mgr10">

                    <empty name="number['piccon1']">
                        <img src="{$number['piccon1']}" height="80">
                    </empty>
                </div>
              <div class="btnimage fl">选择图片
                <input type="file"  accept="image/jpg,image/jpeg,image/png" name="piccon" id="piccon" class="file" >
              </div>
              <div class="piccon_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" /> <span class="piccon_percent">80%</span></div>
              <span class="fi-help-text fl lh30 mgl10">建议大小（宽90px高90px）</span>
            </div>
          </div>
		  
		  	<div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>承办方2：</label>
            <div class="form-controls">
             <input type="text" class="input xxlarge" name="contractor2" maxlength="30" id="contractor2" value="{$number['contractor2']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
		<div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>承办方2图片：</label>
            <div class="form-controls pdt5 j-imglistPanel">
				<div class="piccon1_showimge fl mgr10">
                    <empty name="number['piccon1']">
                        <img src="{$number['piccon2']}" height="80">
                    </empty>

                </div>
              <div class="btnimage fl">选择图片
                <input type="file"  accept="image/jpg,image/jpeg,image/png" name="piccons" id="piccons" class="file" >
              </div>
              <div class="piccon1_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" /> <span class="piccon1_percent">80%</span></div>
              <span class="fi-help-text fl lh30 mgl10">建议大小（宽90px高90px）</span>
            </div>
          </div>
		<div class="formitems">
					
					<label class="fi-name"><span class="colorRed"></span>评委：全选：<input type="checkbox" name="checkbox1" id="c1" value="全选"/></label>
								<div class="form-controls pdt5 j-imglistPanel">
					  <div class="first_showimge fl mgr10">
					  <style>
						.first_showimge img{margin-left:10px;}
					  </style>
					  <volist name="judges" id="vo">
						<div style="float:left;text-align:center;"><img src="{$vo['picj']}" width="80" height="80"><p><input type="checkbox" name="judges[]" value="{$vo.id}" <?php if(in_array($vo['id'],$ids)){echo "checked";}?>      />{$vo['aname']}</div>
					  </volist>
						
						<!-- <a href="{$paper_list['wpic1']}" target="_bank"><img src="{$paper_list['wpic1']}"  width="80" height="80"> </a> -->
						<!-- <a href="{$paper_list['wpic2']}" target="_bank"><img src="{$paper_list['wpic2']}"  width="80" height="80"> </a> -->
						<!-- <a href="{$paper_list['wpic3']}" target="_bank"><img src="{$paper_list['wpic3']}"  width="80" height="80"> </a> -->
						<!-- <a href="{$paper_list['wpic4']}" target="_bank"><img src="{$paper_list['wpic4']}"  width="80" height="80"> </a> -->
					  </div>
					 
					  <div class="first_prize fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
						<span class="first_prize">80%</span>
					  </div>
					
					</div>
			</div>
          <!--<div class="formitems">-->
            <!--<label class="fi-name"><span class="colorRed">*</span>商品切换图片(多选)：</label>-->
            <!--<div class="form-controls pdt5 j-imglistPanel">-->
              <!--<div class="btnimage fl">选择图片-->
                <!--<input type="file"  accept="image/jpg,image/jpeg,image/png" name="serial" id="duoxuan" class="file" >-->
              <!--</div>-->
              <!--<div class="duoxuan_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />-->
                <!--<span class="duoxuan_percent">80%</span>-->
              <!--</div>-->
              <!--<span class="fi-help-text fl lh30 mgl10">建议大小（宽1050px高1000px）</span>-->
              <!--<div style="clear:both">-->
              <!--</div>-->
              <!--<div class="duoxuan_showimge mgr10">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

      </div>

	  
	    <div class="panel-single panel-single-light mgt20 j-showinhyd" style="display: block;">
        <h3 class="cst_h3 mgb20">主题描述：</h3>
        <div class="formitems">
          <label class="fi-name"><span class="colorRed">*</span>主题描述：</label>
          <div class="form-controls">
            <script id="editor" name="detail" type="text/plain" style="width:730px;height:300px;">{$number['contonts']|htmlspecialchars_decode|stripslashes}</script></div>
        </div>
       </div>
	  
           <div class="panel-single panel-single-light mgt20 j-showinhyd" style="display: block;">

        <h3 class="cst_h3 mgb20">奖励列表</h3>
			<div class="formitems">
				<label class="fi-name"><span class="colorRed"></span>一等奖：</label>
						<input type="text" name="first_name" id='first_name' maxlength="20" value="{$prize['first_name']}"/>(奖品名称)<br/>
              <input type="text" name="first_number" onkeyup="numm(this)" id='first_number' value="{$prize['first_number']}"/>(获奖人数)<br/>
              <input type="text" name="first_money" id='first_money' onkeyup="num(this)" class="left" value="{$prize['first_money']}"/>(奖品价值金额)
				<div class="form-controls pdt5 j-imglistPanel">
				  <div class="first_showimge fl mgr10">
					<img src="{$prize['first_picture']}" height="80">
				  </div>
				  <div class="btnimage fl">选择图片
					<input type="file"  accept="image/jpg,image/jpeg,image/png" name="first" id="first" class="file" >
				  </div>
				  <div class="first_prize fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
					<span class="first_prize">80%</span>
				  </div>
				  <span class="fi-help-text fl lh30 mgl10">建议大小（宽153px高129px）</span>
				</div>
			  </div>
			  
			  <div class="formitems">
				<label class="fi-name"><span class="colorRed"></span>二等奖：</label>
				<input type="text" name="second_name" id='second_name' maxlength="20" value="{$prize['second_name']}"/>(奖品名称)<br/>
              <input type="text" name="second_number" onkeyup="numm(this)" id='second_number' value="{$prize['second_number']}"/>(获奖人数)<br/>
              <input type="text" name="second_money" id='second_money' onkeyup="num(this)" class="left" value="{$prize['second_money']}"/>(奖品价值金额)
				<div class="form-controls pdt5 j-imglistPanel">
				  <div class="second_showimge fl mgr10">
					<img src="{$prize['second_picture']}" height="80">
				  </div>
				  <div class="btnimage fl">选择图片
					<input type="file"  accept="image/jpg,image/jpeg,image/png" name="second" id="second" class="file" >
				  </div>
				  <div class="second_prize fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
					<span class="second_prize">80%</span>
				  </div>
				  <span class="fi-help-text fl lh30 mgl10">建议大小（宽153px高129px）</span>
				</div>
			  </div>
			  
			  <div class="formitems">
				<label class="fi-name"><span class="colorRed"></span>三等奖：</label>
				<input type="text" name="third_name" id='third_name' maxlength="20" value="{$prize['third_name']}"/>(奖品名称)<br/>
              <input type="text" name="third_number" onkeyup="numm(this)" id='third_number' value="{$prize['third_number']}"/>(获奖人数)<br/>
              <input type="text" name="third_money" id='third_money' onkeyup="num(this)" class="left" value="{$prize['third_money']}"/>(奖品价值金额)
				<div class="form-controls pdt5 j-imglistPanel">
				  <div class="third_showimge fl mgr10">
					<img src="{$prize['third_picture']}" height="80">
				  </div>
				  <div class="btnimage fl">选择图片
					<input type="file"  accept="image/jpg,image/jpeg,image/png" name="third" id="third" class="file" >
				  </div>
				  <div class="third_prize fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
					<span class="third_prize">80%</span>
				  </div>
				  <span class="fi-help-text fl lh30 mgl10">建议大小（宽153px高129px）</span>
				</div>
			  </div>
			  
			  <div class="formitems">
				<label class="fi-name"><span class="colorRed"></span>创意奖：</label>
				<input type="text" name="create_name" id='create_name' maxlength="20" value="{$prize['create_name']}"/>(奖品名称)<br/><input type="text" name="create_number" onkeyup="numm(this)" id='create_number' value="{$prize['create_number']}"/>(获奖人数)<br/>
              <input type="text" name="create_money" id='create_money' onkeyup="num(this)" class="left" value="{$prize['create_money']}"/>(奖品价值金额)
				<div class="form-controls pdt5 j-imglistPanel">
				  <div class="create_showimge fl mgr10">
					<img src="{$prize['create_picture']}" height="80">
				  </div>
				  <div class="btnimage fl">选择图片
					<input type="file"  accept="image/jpg,image/jpeg,image/png" name="create" id="create" class="file" >
				  </div>
				  <div class="create_prize fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" />
					<span class="create_prize">80%</span>
				  </div>
				  <span class="fi-help-text fl lh30 mgl10">建议大小（宽153px高129px）</span>
				</div>
			  </div>
      </div>
    </div>

    <!-- end 详情及其它 -->

    <div class="panel-single panel-single-light mgt20 txtCenter">
      <a href="{:U('Admin/Callforpaper/release')}" class="btn">取消</a>
      <input type="button" class="btn btn-primary" onclick="toVaild()" value="保存">
    </div>
  </form>
</div>
<!-- end container -->

<include file="Public:foot"/>
<script>
  function num(obj){
      obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
      obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
      obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
      obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
      obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
  }
          function numm(obj){
              obj.value = obj.value.replace(/[^\d]/g,""); //清除"数字"和以外的字
          }
  </script>
              <link href="__UM__/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
              <script type="text/javascript" src="__UM__/third-party/jquery.min.js"></script>
              <script type="text/javascript" src="__UM__/third-party/template.min.js"></script>
              <script type="text/javascript" charset="utf-8" src="__UM__/umeditor.config.js"></script>
              <script type="text/javascript" charset="utf-8" src="__UM__/umeditor.min.js"></script>
              <script type="text/javascript" src="__UM__/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
              

  $("#j-select_category_id").click(function(){
    $('.select-fenlei').show();
    /*$('#albums-overlay').show();*/
  });
  $(".cancle").click(function(){
    $(this).parent().parent('.jbox').hide();
    /*$('#albums-overlay').hide();*/
  });

  $("#select_class").click(function(){
    var clssid=$("#select_class_id  option:selected").val();
    var classname=$("#select_class_id option:selected" ).text();
    $('#class_id').val(clssid);
    $('#class_name').val(classname);
    $(this).parent().parent('.jbox').hide();
    /*$('#albums-overlay').hide();*/
  });

  $("#j-select_series_id").click(function(){
    $('.select-series').show();
    $('#albums-overlay1').show();
  });
  $(".cancle").click(function(){
    $(this).parent().parent('.jbox').hide();
    $('#albums-overlay1').hide();
  });

  $("#select_series").click(function(){
    var seriesid=$("#select_series_id  option:selected").val();
    var seriesname=$("#select_series_id option:selected" ).text();
    $('#series_id').val(seriesid);
    $('#series_name').val(seriesname);
    $(this).parent().parent('.jbox').hide();
    $('#albums-overlay1').hide();
  });





  UM.getEditor('editor',{
    toolbars: [

    ['source', 'fontfamily','fontsize','bold','italic', 'underline','forecolor','redo','undo','insertunorderedlist','insertorderedlist','cleardoc', 'justifyleft','justifyright','justifycenter','justifyjustify','insertimage','inserttable','insertrow','insertcol', "mergeright", "mergedown", "deleterow", "deletecol", "splittorows", "splittocols", "splittocells", "deletecaption",  'inserttitle', 'mergecells', 'deletetable','cleardoc','insertparagraphbeforetable', 'edittable', 'edittd']

    ],

    autoHeightEnabled: false,
    autoFloatEnabled: true,
    elementPathEnabled:false,
    enableContextMenu:false,
    wordCount:false,

  });

</script>


  <script type="text/javascript">

	
    function toVaild(){
        var title = $('#title').val();
        var theme = $('#theme').val();
        var starttime = $('#starttime').val();
		var collectiontime = $('#collectiontime').val();
		var selectiontime = $('#selectiontime').val();
        var endtime = $('#endtime').val();
        var contractor1 = $('#contractor1').val();
        var contractor2 = $('#contractor2').val();
        var pic = $('#pic2').val();
        var content = $('#content').val();
		var detail = UM.getEditor('editor').getContent();
		//console.log(detail);return false;
        var first_name = $('#first_name').val();
        var second_name = $('#second_name').val();
        var third_name = $('#third_name').val();
        var create_name = $('#create_name').val();
		
        var first_number = $('#first_number').val();
        var second_number = $('#second_number').val();
        var third_number = $('#third_number').val();
        var create_number = $('#create_number').val();
		
        var pic3 = $('#pic3').val();
        var pic4 = $('#pic4').val();
        var pic5 = $('#pic5').val();
        var pic6 = $('#pic6').val();
		
        var piccon1 = $('#piccon1').val();
        var piccon2 = $('#piccon2').val();

        if(title == ""){
            alert('期数不能为空');
            return false;
        }
		theme = theme.replace(/\s+/g,"");
		if(theme == ''){
            alert('主题不能为空');
            return false;
        }
        <!-- if(detail == ''){ -->
            <!-- alert('主题描述不能为空'); -->
            <!-- return false; -->
        <!-- } -->
        if(starttime == ''){
            alert('开始日期不能为空');		  //开始投稿
            return false;
        }
		if(collectiontime == ''){
            alert('作品投稿结束日期不能为空');//投稿结束 开始评选
            return false;
        }
		if(selectiontime == ''){
            alert('作品评选结束日期不能为空');//评选结束 开始公布结果
            return false;
        }
       /* if(endtime == ''){
            alert('结束日期不能为空');//整期结束
            return false;
        }
		*/
		
		contractor1 = contractor1.replace(/\s+/g,"");
       /* if(contractor1 == ''){
            alert('承办方不能为空');
            return false;
        } */
		contractor2 = contractor2.replace(/\s+/g,"");
		/*if(contractor2 == ''){
            alert('承办方不能为空');
            return false;
        }*/
		first_name = first_name.replace(/\s+/g,"");
        /*if(first_name == ''){
            alert('一等奖名字不能为空');
            return false;
        }*/
		second_name = second_name.replace(/\s+/g,"");
        /*if(second_name == ''){
            alert('二等奖名字不能为空');
            return false;
        }*/
		third_name = third_name.replace(/\s+/g,"");
        /*if(third_name == ''){
            alert('三等奖名字不能为空');
            return false;
        }*/
		create_name = create_name.replace(/\s+/g,"");
		/*if(create_name == ''){
            alert('创意奖名字不能为空');
            return false;
        }*/
		first_number = first_number.replace(/\s+/g,"");
        /*if(first_number == ''){
            alert('一等奖数量不能为空');
            return false;
        }
        if(isNaN(first_number)){
          alert('一等奖人数 请输入数字');return false;
        }*/
		second_number = second_number.replace(/\s+/g,"");
        /*if(second_number == ''){
            alert('二等奖数量不能为空');
            return false;
        }
         if(isNaN(second_number)){
          alert('二等奖人数 请输入数字');return false;
        }*/
		third_number = third_number.replace(/\s+/g,"");
        /*if(third_number == ''){
            alert('三等奖数量不能为空');
            return false;
        }
        if(isNaN(third_number)){
          alert('三等奖人数 请输入数字');return false;
        }
	       if(isNaN(create_number)){
          alert('创意奖人数 请输入数字');return false;
        }*/
        /*<!-- if(pic3 == undefined){ -->
            <!-- alert('一等奖图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
        <!-- if(pic4 == undefined){ -->
            <!-- alert('二等奖图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
        <!-- if(pic5 == undefined){ -->
            <!-- alert('三等奖图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
		<!-- if(pic6 == undefined){ -->
            <!-- alert('创意奖图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
        <!-- if(news_pic ==undefined){ -->
            <!-- alert('图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
        <!-- if(pic == undefined){ -->
            <!-- alert('图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->
		<!-- if(piccon1 == undefined){ -->
            <!-- alert('图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->

		<!-- if(piccon2 == undefined){ -->
            <!-- alert('图片不能为空'); -->
            <!-- return false; -->
        <!-- } -->*/
      
	  //判断 结束投稿日期不能小于开始投稿日期  作品结束评选日期不能小于作品开始评选日期 结束时间不能小于公布结果时间
		
		
		if(starttime > collectiontime){
			alert('开始投稿日期要小于作品开始评选日期');
			return false;
		}
		if(collectiontime > selectiontime){
			alert('投稿结束日期要小于公布结果日期');
			return false;
		}
        if(endtime){
            if(selectiontime > endtime){
                alert('公布结果日期要小于改期征稿大赛结束日期');
                return false;
            }
            if(starttime > endtime){
                alert('投稿时间要小于改期征稿大赛结束日期');
                return false;
            }
        }

        $.ajax({
            url:'/Admin/Callforpaper/editRelease',
            type:'post',
            data:$("form").serialize(),
            dataType:'json',
            success:function(g){
                if(g.status == 1){
                    dialog.showTips(g.info, "release","/Admin/Callforpaper/release");
                }else{
                    console.log(g);
                    alert(g.info);
                    return false;

                }
            }
        })
	}
</script>
<!--提交表单前验证end-->

<!--上传图片-->

<!--<script type="text/javascript" src="__JS__/jquery.js"></script>-->

<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript">

  function delImg(obj){
    if(!confirm("删除这张图片？")){
      return false;
    }
    var id = $(obj).attr("data-id");
    if(id){
      alert(1);
      return false;
    }
    $(obj).next("input").remove();
    $(obj).remove();
  }
  $(function () {
		
    var percent = $('.xuanze_percent');
    var progress = $('.xuanze_percent');
    $("#xuanze").wrap("<form id='myupload1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
		$("#xuanze").change(function(){ //选择文件
			$("#myupload1").ajaxSubmit({
				dataType:  'json', //数据格式为json
				beforeSend: function() { //开始上传
					progress.show(); //显示进度条
					var percentVal = '0%';
					percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%'; //获得进度
					percent.html(percentVal); //显示上传进度百分比
				},
				success: function(data) { //成功
					var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="news_pic" id="pic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
					$('.xuanze_showimge').html(img);
					progress.hide();
				},
				error:function(xhr){ //上传失败
					//console.log(xhr.status)
				}
			});
		});


		var percent = $('.duoxuan_percent');
		var progress = $('.duoxuan_percent');
		$("#duoxuan").wrap("<form id='myupload' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
		$("#duoxuan").change(function(){ //选择文件
			$("#myupload").ajaxSubmit({
				dataType:  'json', //数据格式为json
				beforeSend: function() { //开始上传
					progress.show(); //显示进度条
					var percentVal = '0%';
					percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%'; //获得进度
					percent.html(percentVal); //显示上传进度百分比
				},
				success: function(data) { //成功
					var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80"  class="mgr10 mgt10 " onclick="delImg(this)"><input type="hidden" name="pic1[]" id="pic1" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
					console.log(img);
					$('.duoxuan_showimge').append(img);
					progress.hide();
				},
				error:function(xhr){ //上传失败
					//console.log(xhr.status)
				}
			});
		});

		var percent = $('.baotuan_percent');
    var progress = $('.baotuan_percent');
    $("#baotuan").wrap("<form id='baotuan1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#baotuan").change(function(){ //选择文件
      $("#baotuan1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="pic" id="pic2" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.baotuan_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//first_prize
	var percent = $('.first_prize');
    var progress = $('.first_prize');
    $("#first").wrap("<form id='first1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#first").change(function(){ //选择文件
      $("#first1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="pic3" id="pic3" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.first_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//second_prize
	var percent = $('.second_prize');
    var progress = $('.second_prize');
    $("#second").wrap("<form id='second1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#second").change(function(){ //选择文件
      $("#second1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="pic4" id="pic4" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.second_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//third_prize
	var percent = $('.third_prize');
    var progress = $('.third_prize');
    $("#third").wrap("<form id='third1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#third").change(function(){ //选择文件
      $("#third1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="pic5" id="pic5" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.third_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//create_prize
	var percent = $('.create_prize');
    var progress = $('.create_prize');
    $("#create").wrap("<form id='create1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#create").change(function(){ //选择文件
      $("#create1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="pic6" id="pic6" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.create_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//piccon1
	var percent = $('.piccon_progress');
    var progress = $('.piccon_percent');
    $("#piccon").wrap("<form id='piccons1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#piccon").change(function(){ //选择文件
      $("#piccons1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="piccon1" id="piccon1" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.piccon_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	//piccon2
	var percent = $('.piccon1_progress');
    var progress = $('.piccon1_percent');
    $("#piccons").wrap("<form id='piccons2' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#piccons").change(function(){ //选择文件
      $("#piccons2").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="piccon2" id="piccon2" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          $('.piccon1_showimge').html(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
	
	
//判断期数是否存在
	var t = $("#title").val();
  // $("#title").bind('change',function(){
		$("#title").blur(function(){
			var title = $("#title").val();
		if(t != title){
        $.ajax({
            url: "{:U('/Admin/Callforpaper/ajaxNumber')}",
            type: "post",
            data: {
              number: title
            },
            dataType: "json",
            success:function (g){
                //console.log(g);
               if (g.status == 0) {
                 alert(g.info);
                //$("#title").val("");
                return false;
              }
            }
          });
    }
			
				
			});
	// });
		
	$('.btn-primary').click(function(){

			
	})
	//全选
	if($("input[name='judges[]']").length == $("input[name='judges[]']:checked").length){
		$('#c1').attr('checked',true);
	}else{
		$('#c1').removeAttr('checked');
	}
	$("input[name='judges[]']").click(function(){
		if($("input[name='judges[]']").length == $("input[name='judges[]']:checked").length){
			$('#c1').attr('checked',true);
		}else{
			$('#c1').removeAttr('checked');
		}
	})
	$('#c1').click(function(){
		console.log($(this).attr("checked"));
		if($(this).attr("checked")){
			<!-- $("input[name='judges[]']").each(function(){  -->
				<!-- if($(this).attr("checked"))  -->
				<!-- {  -->
					<!-- $(this).removeAttr("checked");  -->
				<!-- }  -->
				<!-- else -->
				<!-- {  -->
					<!-- $(this).attr("checked","true");  -->
				<!-- }  -->
			<!-- }) -->
			$("input[name='judges[]']").attr("checked","true"); 
		}else{
			$("input[name='judges[]']").removeAttr("checked"); 
		}
		
	})
	 
	 
	})
  function add_re(r){
   $('#restriction'+r).show();
 }
 function del_re(r){
   $('#restriction'+r).hide();
 }
</script>

              <script src="__LAYDATE__/laydate.js"></script>

              <script>
                  ;!function(){
                      laydate({
                          elem: '#starttime',
                          format: 'YYYY-MM-DD',
                      })

                  }();
                  ;!function(){
                      laydate({
                          elem: '#collectiontime',
                          format: 'YYYY-MM-DD',
                      })

                  }();
                  ;!function(){
                      laydate({
                          elem: '#selectiontime',
                          format: 'YYYY-MM-DD',
                      })

                  }();
                  ;!function(){
                      laydate({
                          elem: '#endtime',
                          format: 'YYYY-MM-DD',
                      })

                  }();
              </script>












