<include file="Public:header" />

<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;"> 
  
  <!--  / user  -->
  <div class="Selleruser">
    <div class="row">
      <div class="col-sm-12">
        <div class="SellerCon">
          <div class="SellerTop">
            <h3>入驻预售美术网平台</h3>
          </div>
          <div class="SellerFlower">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>1</span>
                  <h3 class="paiUncenter_h3">签署协议</h3>
                </div>
              </div>
              <!--<div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>2</span>
                  <h3 class="paiUncenter_h3">账号类型</h3>
                </div>
              </div>-->
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>2</span>
                  <h3 class="paiUncenter_h3">选择类目</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>3</span>
                  <h3 class="paiUncenter_h3">提交资料</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>4</span>
                  <h3 class="paiUncenter_h3">审核</i></h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist SellerFlistCurr"> <span>5</span>
                  <h3 class="paiUncenter_h3 paiCH3">缴纳保证金，<br />入驻成功</h3>
                </div>
              </div>
            </div>
            
            
            <div class="pZlCon">
              <div class="SelSucCon">
                <img src="__IMAGES__/SelSuccess.png">
                <h3>恭喜亲，预售入驻成功！</h3>
                <h6>赶紧竞卖您的作品了！</h6>
                <a href="{:U('/Home/PersonalCenter/buyerAddPm/tag/buyerAddPm')}">立即加入竞卖</a>
                <h4>美术网不会主动联系您缴纳保证金，谨防假冒客服诈骗！</h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!--  / user  --> 

<!--  / warpper  -->

<include file="Public/footer" />

</body>

</html>
