<div class="content-left fl">
    <dl class="left-menu shop_8 sub_membership">
        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">公司管理</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='0'>active</eq>">
            <a href="{:U('/Admin/company/index')}">公司列表</a>
        </dd>
        <dd class="subshop_0 <eq name='comptype' value='1'>active</eq>">
            <a href="{:U('/Admin/company/catelist')}">公司类型列表</a>
        </dd>
        <dd class="subshop_0 <eq name='comptype' value='2'>active</eq>">
            <a href="{:U('/Admin/company/labellist')}">公司福利列表</a>
        </dd>


        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">认证公司管理</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='3'>active</eq>">
            <a href="{:U('/Admin/company/hrlist')}">认证账号列表</a>
        </dd>
        <dd class="subshop_0 <eq name='comptype' value='4'>active</eq>">
            <a href="{:U('/Admin/company/createhr')}">创建认证账号</a>
        </dd>
    </dl>
</div>