<div class="content-left fl">
    <dl class="left-menu shop_8 sub_membership">
        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">会员管理</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='0'>active</eq>">
            <a href="{:U('/Admin/Member/index')}">会员列表</a>
        </dd>
<!-- 
         <dd class="subshop_0 <eq name='comptype' value='1'>active</eq>">
            <a href="{:U('/Admin/Member/sign')}">用户签到日志</a>
        </dd>

        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">审核身份证</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='2'>active</eq>">
            <a href="{:U('/Admin/Member/ifexamine')}">请求审核列表</a>
        </dd>
 -->
       

    </dl>
</div>