<include file="Public:header" />

<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;"> 
  
  <!--  / user  -->
  
  <div class="user">
    <div class="">
      <div class="row">
        <div class="col-sm-2">
          <include file="Public:user_left" />
        </div>
        <div class="col-sm-10">
          <div class="buyerMy">
            <ul class="user_all">
              <li class="actived" onclick="fnTabBoxSlide(this,2,1);"><a href="javascript:;">拍品提醒</a></li>
              <li onclick="fnTabBoxSlide(this,2,2);"><a href="javascript:;">专场提醒</a></li>
            </ul>
            <div class="buyerMy_list">
              <div id="TabShow1" class="TabHide2">
                <div class="buyerMy_sec1">
                  <volist name="res" id="vo">
                    <div class="buyerMy_sec1_li">
                      <h5><span>恣意的泼笔</span></h5>
                      <table>
                        <tr>
                          <th class="buyerMy_sec1_li_frist" style="width:40%;">作品名称</th>
                          <th style="width:15%;">当前价格</th>
                          <th style="width:10%;">状态</th>
                          <th style="width:20%;">结束时间</th>
                          <th style="width:15%;">操作</th>
                        </tr>
                        <tr>
                          <td class="buyerMy_sec1_li_frist"><a class="user_proa" href="#"><img src="{$vo.logo_pic}" width="100"><span>{$vo.goods_name} {$vo.goods_cap}</span></a></td>
                          <td>¥{$vo.dangqian|default=0}</td>
                          <td>
                            <if condition="($vo.start gt $now_time)">
                              未开始
                              <elseif condition="($vo.end gt $now_time)"/>
                              进行时
                              <else/>
                              已结束
                            </if>

                          </td>
                          <td>{$vo['end']|date="Y年m月d日",###}</td>
                          <td><a onclick="remindDel(this)" data-id="{$vo.id}" href="javascript:;">删除</a></td>
                        </tr>
                      </table>
                    </div>
                  </volist>
                </div>
              </div>
              <div id="TabShow2" class="TabHide2" style="display: none;">
                <div class="buyerMy_sec2">
                  <div class="buyerMy_sec2_list">
                    <div class="row">
                      <volist name="res1" id="v" empty="暂无数据">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="buyerMy_sec2_li">
                          <h5>恣意的泼笔</h5>
                          <div class="buyerMy_sec2_img"><img src="__IMAGES__/buyerMy2_1.jpg" alt="" /></div>
                          <h4>{$v.zcj|default=0}人出价</h4>
                          <h3> <span class="buyerMy_sec2_jin">
                            <if condition="($v.start gt $now_time)">
                              未开始
                              <elseif condition="($v.end gt $now_time)"/>
                              正在进行
                              <else/>
                              已结束
                            </if>
                          </span> <span class="buyerMy_sec2_time"><i><img src="__IMAGES__/buyerMy_clock.png" alt="" /></i>结束时间:<span>{$v['end']|date="Y-m-d",###}</span></span> <span onclick="remindDel(this)" data-id="{$v.id}" class="buyerMy_sec2_delete">删除</span> </h3>
                        </div>
                      </div>
                      </volist>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  / user  --> 
  
</div>
<!--  / warpper  -->

<include file="Public/footer" />

</body>
<script>
    function remindDel(obj) {
        if(!confirm('确定删除吗?')){
            return false;
        }

        var id = $(obj).attr('data-id');
        $.ajax({
            url: "{:U('/Home/PersonalCenter/remindDel')}",
            type: "post",
            dataType: "json",
            data: {
                id: id
            },
            success:function(msg){
                if (msg.status==1){
                    alert( msg.info);
                    location.reload();
                }else{
                    alert( msg.info);
                }
            }
        })


    }

  function fnTabBoxSlide(Focus,Hide,Show){
    $(Focus).siblings().removeClass("actived");
    $(Focus).addClass("actived");
    $(".TabHide"+Hide).hide();
    $("#TabShow"+Show).slideDown("fast");
};
</script>
</html>
