<include file="Public:header" />



<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">

  
  <!--  / user  -->

  <div class="user">
    <div class="">
      
      <div class="row">
        <div class="col-sm-2">
            <include file="Public:user_left" />
        </div>
        <div class="col-sm-10">
          <div class="user_r6">
            <div class="user8_con2">
                  <div class="xgmm">
                    <div class="xgmm_con" style="display:block;">
                      <p><span>当前密码：</span><input type="password" value="" id="nowpass"></p>
                      <p><span>新密码：</span><input type="password" value="" id="newpass"></p>
                      <p><span>确认密码：</span><input type="password" value="" id="password"></p>
                    </div>    
                  </div>
                  <div class="user_r6_line"></div>
                  <a href="javascript:void (0)" id="save">保存</a>
                </div>
          </div>
        </div>
      </div>
          
    </div>      
  </div>

  <!--  / user  -->
   
</div>
<!--  / warpper  -->

<include file="Public/footer" />
<script>
    $('#save').click(function () {
        var nowpass = $('#nowpass').val();
        var newpass = $('#newpass').val();
        var password = $('#password').val();

        if (!newpass.match(/^.{6,24}$/)) {
            dialog.showTips("新密码长度必须是6-24位！","warn");
            return false;
        }
        if(newpass==""){
            dialog.showTips("确认密码不能为空", "warn");
            return false;
        }
        if (!password.match(/^.{6,24}$/)) {
            dialog.showTips("确定密码长度必须是6-24位！","warn");
            return false;
        }

        if(newpass!=password){
            dialog.showTips("两次密码不一致", "warn");
            return false;
        }

        $.ajax({
            url: "{:U('/Home/personalCenter/editPassword')}",
            type: "post",
            dataType: "json",
            data: {
                password:newpass,
                nowpass:nowpass,
            }
        }).done(function (g) {
            if (g.status == 1) {
                alert(g.info);
                return false;
            } else {
                alert(g.info);
            }

        })
    })
</script>
</body>
</html>