<include file="Public:header" />



<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">
  
  <!--  / user  -->
  <div class="Selleruser">
    <div class="row">
        <div class="col-sm-2">
            <include file="Public:user_left" />
        </div>
      <div class="col-sm-10">
        <div class="SellerCon">
         <div class="SellerTop SelIdTop">
          <h3>身份已通过验证</h3><br />
         </div>
         <div class="SelIdentCon">
          <div class="SelCertName">
           <span>姓名：</span>
           <span><input type="text"></span>
          </div>
          <div class="SelCertName">
           <span>电话：</span>
              <span><input type="text"></span>
          </div>
          <div class="SelCertClass">
           <span>证件类型：</span>
           <span>二代身份证</span>
          </div>
          <div class="SelCertName SelCertName1">
           <span>证件号：</span>
              <span><input type="text"></span>
          </div>
          <div class="SelIdentAddPic">
           <span>证件图片: </span>
           <div class="SelIdentPic">
            <div class="SelIdetPic-list">
              <div class="SelIdPic-A">
               <img src="images/SeladdPic1.jpg" />   
              </div>
            </div>
            <div class="SelIdetPic-list">
              <div class="SelIdPic-A">
               <img src="images/SeladdPic1.jpg" />   
              </div>
            </div>
           </div>
          </div>
          <div class="SelIdentTime">
           <span>居住地址：</span>
           <span>浙江省</span>
           <span>杭州市</span>
           <span>西湖区</span>
           <span>文三路999号某某小区</span>
          </div>
          <div class="SelNoticeStyle">
           <h4><a href="SelIdentity.html">编辑</a></h4>
          </div>
         </div>
        </div>  
      </div>
    </div>
          
   </div>      
</div>


  <!--  / user  -->

<!--  / warpper  --> 

<!--  / footer  -->
<div class="footer_top">
    <p class="phone">+86 400-8888-8888</p>
    <p class="web">http://www.<span>浙江美术网</span>.com</p>
</div>

<div class="footer">
	<div class="container">
    	<div class="row">
        	
            
            <div class="footer_center">
        <ul>
          <h3><a href="novice.html">新手上路</a></h3>
          
          <li><a href="novice.html">新手专区</a></li> <li><a href="SelCenter.html">云推荐</a></li>
          <li><a href="#">在线帮助</a></li>
          <li><a href="user.html">个人中心</a></li>
        </ul>
        <ul>
          <h3><a href="payment.html">付款方式</a></h3>
          <li><a href="payment.html">快捷支付</a></li>
          <li><a href="free.html">免密支付</a></li>
          <li><a href="credit.html">信用卡</a></li>
          <li><a href="bigmoney.html">大额支付</a></li>
        </ul>
        <ul>
          <h3><a href="ensure.html">消费者保障</a></h3>
          <li><a href="ensure.html">品质保障</a></li>
          <li><a href="promise.html">退货承诺</a></li>
          <li><a href="bond.html">消费者保障保证金</a></li>
        </ul>
        <ul>
          <h3><a href="products.html">创意商店</a></h3>
          <li><a href="products.html">家居•办公</a></li>
          <li><a href="products.html">设计衍生</a></li>
          <li><a href="products.html">手工•非遗</a></li>
          <li><a href="products.html">民间工艺</a></li>
          <li><a href="gexingdingzhi.html">个性•定制</a></li>
        </ul>
        <ul>
          <h3><a href="#">关于我们</a></h3>
          <li><a href="contact.html">联系方式</a></li>
          <li><a href="join.html">在线招聘</a></li>
          <li class="erweima"> <i class="fa fa-weixin wx"></i> <i class="fa fa-tablet sj"></i> <i class="fa fa-envelope" style=" font-size:14px;"></i> <img src="images/erweima.jpg" class="ewm1" /> <img src="images/erweima.jpg" class="ewm2" /> </li>
        </ul>
        <div class="clear"></div>
      </div>
            
            <div class="footer_bottom">
            	<h3>合作伙伴</h3>
                
                <ul class="hzkh">
                	<li>
                    	<img src="images/hz1.png" />
                    </li>
                    <li>
                    	<img src="images/hz2.png" />
                    </li>
                    <li>
                    	<img src="images/hz3.png" />
                    </li>
                    <li>
                    	<img src="images/hz4.png" />
                    </li>
                    <li>
                    	<img src="images/hz5.png" />
                    </li>
                    <li>
                    	<img src="images/hz6.png" />
                    </li>
                    
                    <div class="clear"></div>
                </ul>
                
            </div>
            
        </div>
    </div>
    
    <div class="copy">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6">
            		<p>Copyright © 2017 <span>浙江美术网</span> All Rights Reserved.</p>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                	<div id="footer_unohacha">
                    <div style="display:none;"><a href="http://www.unohacha.com/">网站建设,网页设计,高端网站</a></div>
                    <iframe title="UNOHACHA 吾诺瀚卓" allowTransparency="true" frameborder="0" scrolling="no" width="110" height="40" style="background-color:transparent" allowTransparency="true" src="unohacha/index.html"></iframe>
                    
                </div>


                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="task">
  <div class="task_bg"></div>
  <div class="task_con" style="margin-top:-300px;">
    <img src="images/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要取消订单？</div>
    <div class="task_btn">
      <div class="task_btn1">
        <a href="##" class="task_btn1_on">确定</a>
        <a href="##" class="task_btn1_quxiao">取消</a>    
      </div>
    </div>
  </div>
</div>

<div class="task1">
  <div class="task1_bg"></div>
  <div class="task1_con" style="margin-top:-300px;">
    <img src="images/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要删除订单？</div>
    <div class="task1_btn">
      <div class="task1_btn1">
        <a href="##" class="task1_btn1_on">确定</a>
        <a href="##" class="task1_btn1_quxiao">取消</a>    
      </div>
    </div>
  </div>
</div>

<!--  / footer  -->

</body>
<script> 
function fnTabBoxSlide(Focus,Hide,Show){
    $(Focus).siblings().removeClass("actived");
    $(Focus).addClass("actived");
    $(".TabHide"+Hide).hide();
    $("#TabShow"+Show).slideDown("fast");
};
$('.quxiao').click(function(){
    $('.task').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task_con').addClass('task_con_on');
    },300)
})
$('.task_con>img').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})
$('.task_btn1_quxiao').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})

$('.delete').click(function(){
    $('.task1').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task1_con').addClass('task1_con_on');
    },300)
})
$('.task1_con>img').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})
$('.task1_btn1_quxiao').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})

</script>
</html>
