<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/sellerCss.css">
<link rel="stylesheet" href="__CSS__/paiUncenter.css" />

<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;"> 
  
  <!--  / user  -->
  <div class="Selleruser">
    <div class="row">
      <div class="col-sm-12">
        <div class="SellerCon">
          <div class="SellerTop">
            <h3>入驻预售美术网平台</h3>
          </div>
          <div class="SellerFlower">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>1</span>
                  <h3 class="paiUncenter_h3">签署协议</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>2</span>
                  <h3 class="paiUncenter_h3 paiCH3">账号类型<br />（个人、公司）</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>3</span>
                  <h3 class="paiUncenter_h3">选择类目</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>4</span>
                  <h3 class="paiUncenter_h3">提交资料</h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist"> <span>5</span>
                  <h3 class="paiUncenter_h3">审核</i></h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="SellerFlist SellerFlistCurr"> <span>6</span>
                  <h3 class="paiUncenter_h3 paiCH3">缴纳保证金，<br />入驻成功</h3>
                </div>
              </div>
            </div>
            
            
            <div class="pZlCon">
              <div class="order_sh">
                <h5>支付方式</h5>
                <div class="order_shon clearfix">
                  <div class="order_shona pro_xz">
                    <img src="__IMAGES__/zffs1.jpg" width="100%">
                  </div>
                  <div class="order_shona">
                    <img src="__IMAGES__/zffs2.jpg" width="100%">
                  </div>
                  <div class="order_shona">
                    <img src="__IMAGES__/zffs3.png" width="100%">
                  </div>
                </div>    
              </div>
              <div class="order1_tall">

                <div class="shopcar_zj clearfix">
                  <div class="shopcar_zjs_btn">
                      <h5 class="pBH5"><span>预售入驻保证金：￥6888.88</span></h5> 
                        <a href="{:U('/Home/Auction/paySuccess')}">支付</a>
                      </div> 
                </div>
                    
             </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!--  / user  --> 

<!--  / warpper  -->

<include file="Public/footer" />

<div class="task">
  <div class="task_bg"></div>
  <div class="task_con" style="margin-top:-300px;"> <img src="__IMAGES__/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要取消订单？</div>
    <div class="task_btn">
      <div class="task_btn1"> <a href="##" class="task_btn1_on">确定</a> <a href="##" class="task_btn1_quxiao">取消</a> </div>
    </div>
  </div>
</div>
<div class="task1">
  <div class="task1_bg"></div>
  <div class="task1_con" style="margin-top:-300px;"> <img src="__IMAGES__/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要删除订单？</div>
    <div class="task1_btn">
      <div class="task1_btn1"> <a href="##" class="task1_btn1_on">确定</a> <a href="##" class="task1_btn1_quxiao">取消</a> </div>
    </div>
  </div>
</div>


</body>
</html>