<style>
    .pm_cont2 ul li i.yzan{
        background:url(__IMAGES__/like1s.png) left center no-repeat;
        padding-left:20px;
        font-style:normal;
        color:#888;
    }
</style>
<div class="pm_cont">
    <ul class="pm_cont_list">
        <li  class="focus" onClick="fnTabBoxFade(this,4,1);" class="on">
            <a>拍品描述</a>
        </li>
        <li onClick="fnTabBoxFade(this,4,2);"><a>出价记录(<span id="cjs">{$cjcont|default=0}</span>)</a></li>
        <li onClick="fnTabBoxFade(this,4,3);"><a >服务保障</a></li>
        <li onClick="fnTabBoxFade(this,4,4);"><a>保证金须知</a></li>
        <div class="clear"></div>
    </ul>
    <div id="TabShow1" class="TabHide4 pm_cont1" >
        <div class="pm_cont1_top">
            {$remind.content|htmlspecialchars_decode|stripslashes}
        </div>
        <div class="pm_cont1_bottom"> <!--<span>材料：{$res.goods_liao} </span>--> <span>尺寸：{$res.goods_range}</span> <!--<span>上市时间：{$res.goods_shi}</span>--> <span>浏览次数： {$res.weiguan|default=0}</span> <span>评估价：{$res.evaluate}</span>
            <div class="clear"></div>
            <div class="pm_cont1_text_all">
                <!--<div class="col-lg-6 col-md-6 col-sm-6 colpadding">
                    <div class="buyCt buyCtLeft">
                        <p><span>作者简介：</span></p>
                        <p><img src="{$res.serial}">{$res.detail|htmlspecialchars_decode|stripslashes}</p>
                    </div>
                </div>-->
                <div class="col-lg-6 col-md-6 col-sm-6 colpadding">
                    <div class="pm_cont1_text">
                        <p><span>作品简介：</span></p>
                        {$res.goods_des|htmlspecialchars_decode|stripslashes}</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="TabShow2" class="TabHide4 pm_cont2"  style=" display:none" >
        <input type="hidden" name="chujia_id" value="{$chujia[0]['id']}">
        <ul class="pm_top" id="frist">
            <li>状态</li>
            <li>竞卖人</li>
            <li>价格</li>
            <li>时间</li>
            <li>评价</li>
            <div class="clear"></div>
        </ul>

        <foreach name="chujia" item="v">
            <if condition="$key eq 0">
                <ul class="pm_ok">
                    <li><span>领先</span></li>
                    <else/>
                    <ul>
                        <li><span>出局</span></li>
            </if>
            <li>{$v.person_name}</li>
            <li>¥{$v.jiage}</li>
            <li>{$v['time']|date="Y-m-d H:i:s",###}</li>
            <li><i onclick="dzan(this)" data-zans="{$v.zan}" data-id="{$v.id}" <eq name="v.is_zan" value="1">class="yzan"<else/>class="zan"</eq>>({$v.zan})</i></li>
            <div class="clear"></div>
            </ul>
        </foreach>
    </div>
    <div id="TabShow3" class="TabHide4 pm_cont3"  style="display:none;"  >
        <div class="pm_cont3_con">
            {$service.content|htmlspecialchars_decode|stripslashes}
        </div>
    </div>
    <div id="TabShow4" class="TabHide4 pm_cont4"  style=" display:none" >
        <div class="pm_cont4_con">
            {$baozhangjin.content|htmlspecialchars_decode|stripslashes}
        </div>
    </div>
</div>

<script src="__JS__/jquery.fn.TabBox.js"></script>

<script>
    function dzan(obj) {
        var member_id = '{$name}';
        if(member_id == 0){
            dialog.showTips("请先注册，若有账号，请先登录！", "",'/Home/User/login');
            return false;
        }
        var id = $(obj).attr('data-id');
        var goods_id = $('#goods_id').val();
        $.ajax({
            url: "{:U('/Home/Pm/zan')}",
            type: "get",
            dataType: "json",
            data: {'chujia_id':id,'goods_id':goods_id},
            success:function(msg){
                if (msg.status==1){
                    alert(msg.info);
                    var zans = parseInt($(obj).attr('data-zans'));
                    $(obj).attr('data-zans',(zans+1));
                    $(obj).html('('+(zans+1)+')');
                    $(obj).removeClass('zan');
                    $(obj).addClass('yzan');
                }else if(msg.status==-1){
                    alert(msg.info);
                    var zans = parseInt($(obj).attr('data-zans'));
                    $(obj).attr('data-zans',(zans-1));
                    $(obj).html('('+(zans-1)+')');
                    $(obj).removeClass('yzan');
                    $(obj).addClass('zan');
                }else {
                    alert(msg.info);
                }
            }
        })
    }
</script>
<script>
    function CuJa() {
        var goods_id = $('#goods_id').val();
        var id = $('input[name="chujia_id"]').val();
        //console.log(id);
        var cjs = parseInt($('#cjs').html());
        $.ajax({
            url: "{:U('/Home/Pm/chujiaJL')}",
            type: "get",
            dataType: "json",
            data: {'goods_id':goods_id,id:id},
            success:function(msg){
                if (msg.status==1){
                    $('input[name="chujia_id"]').val(msg.info[0]['id']);
                    var str = '<ul class="pm_top"> <li>状态</li> <li>竞卖人</li> <li>价格</li> <li>时间</li> <li>评价</li> <div class="clear"></div> </ul>';

                    for (var k in msg.info){
                        if (k==0){
                            str+='<ul class="pm_ok"><li><span>领先</span></li>';
                        }else {
                            str+='<ul><li><span>出局</span></li>';
                        }

                        str+='<li>';
                        str+=msg.info[k]['person_name'];
                        str+='</li><li>¥';
                        str+=msg.info[k]['jiage'];
                        str+='</li><li>';
                        str+=msg.info[k]['time'];
                        if (msg.info.is_zhan==1){
                            str+='</li><li><i id="'+msg.info[k]['id']+'" onclick="dzan(this)" data-zans="'+msg.info[k]['zan']+'" class="yzan">(';
                        }else {
                            str+='</li><li><i id="'+msg.info[k]['id']+'" onclick="dzan(this)" data-zans="'+msg.info[k]['zan']+'" class="zan">(';
                        }
                        str+=msg.info[k]['zan'];
                        str+=')</i></li><div class="clear"></div></ul>';

                        cjs+=1;

                    }
                    if(id){
                        $('#TabShow2').find('ul').eq(1).removeClass('pm_ok');
                        $('#TabShow2').find('ul').eq(1).find('li').find('span').html('出局');
                        $('#TabShow2').find('ul').eq(0).remove();
                        $('#TabShow2').find('ul').eq(0).before(str);
                    }else {
                        $('#TabShow2').find('ul').eq(0).remove();
                        $('#TabShow2').find('ul').eq(0).before(str);
                    }
                    if (msg.info){
                        $('#dangqian').html('￥'+msg.info[0]['jiage']);
                    }
                    $('#cjs').html(cjs);
                    //console.log('1111');
                    //alert( msg.info);
                }else{
                    //alert( msg.info);
                }
            }
        })
    }

    $(document).ready(function(){
        fnTabBoxFade(this,4,1);
    });

    function timehtml(t, obj) {
        var times = t;
        window.setInterval(function() {
            var d = 0,
                h = 0,
                m = 0,
                s = 0;

            if (t > 0) {
                d = Math.floor(t / (60 * 60 * 24));
                h = Math.floor(t / (60 * 60)) - (d * 24);
                m = Math.floor(t / 60) - (d * 24 * 60) - (h * 60);
                s = Math.floor(t) - (d * 24 * 60 * 60) - (h * 60 * 60) - (m * 60);
            }
            if (d <= 9)
                d = '0' + d;
            if (h <= 9)
                h = '0' + h;
            if (m <= 9)
                m = '0' + m;
            if (s <= 9)
                s = '0' + s;
            if (t>0){
                $(obj).html("<i>正在竞卖</i> 距结束： <span>"+d + "</span>天<span>" + h + "</span>时<span>" + m + "</span>分<span>" + s + "</span>秒");
            }else {
                window.location.reload();
            }
            t--;
        }, 1000);
    }
    $(function() {
        $(".djstime").each(function() {
            var endtime = $(this).attr("data-endtime");
            var message = $(this).attr("data-msg");
            if(message==''||message==undefined){
                message='竞卖结束';
            }
            var nowtime = new Date().getTime();
            var time = (endtime * 1000 - nowtime) / 1000; time = time.toFixed(0);
            if (time <= 0) {
                $(this).html("<div></div><span style='color:#FC2233;'>"+message+"</span>");
                $(this).find('i').css({'font-family':'宋体','font-style':'normal','font-size':'14px'});
                return true;
            } else {
                timehtml(time, this);
            }
        })
    });
</script>