<style>
    .pages {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .pages .current {
        background: #ff6801 !important;
        border: 1px solid #ff6801 !important;
        color: #fff !important;
    }
    .pages a,.pages span {
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        background: #fff;
        font-size: 14px;
        border: 1px solid #dbdbdb;
        color: #666;
        padding: 0 20px;
        cursor: pointer;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }

</style>
<div class="user_left">
    <div class="user_tx">
        <div class="user_tx_img">
           <empty name="headimg.person_img">
                <img src="__IMAGES__/user_tx.jpg">
                <else/>
                <img src="{$headimg.person_img}" width="100">
            </empty>
           <input id="imgOne" name="imgOne" type="hidden" />
            <input style="width: 108px;height: 100px; background: red;border-radius: 50%; position: absolute; top: 3px;left: -15px;padding: 0;z-index: 10;cursor: pointer;opacity: 0;" type="file" accept="image/jpg,image/jpeg,image/png" class="input sort" name="serial" id="xuanze" />
        </div>
        <span>{$artists['zy_name']}</span>

        <a href="/Home/Shop/dianpu/type/1">店铺预览</a>
    </div>
    <div class="user_nav">
        <ul>
            <if condition="$artistsRec.art_cate neq 16">

            <h5>店铺管理</h5>
            <a href="{:U('/Home/Shop/seldpsy/tag/seldpsy')}/detail/6"><li <eq name="Think.get.tag" value="seldpsy">class="user_nav_on"</eq> >店铺收益</li></a>
            <!--<a href="{:U('/Home/Shop/seldpsy/tag/selcpsy')}/detail/7"><li <eq name="Think.get.tag" value="selcpsy">class="user_nav_on"</eq> >推荐收益</li></a>-->
            <div class="user_nav_line"></div>
            <h5>交易管理</h5>
            <a href="{:U('/Home/Shop/selSellout/tag/selSellout')}"><li <eq name="Think.get.tag" value="selSellout">class="user_nav_on"</eq> >已卖出作品</li></a>
            <!-- <a href="{:U('/Home/Shop/selEvaluate/tag/selEvaluate')}"><li <eq name="Think.get.tag" value="selEvaluate">class="user_nav_on"</eq> >已评价</li></a> -->
            <div class="user_nav_line"></div>
                <if condition="$artistid neq 16">
            <h5>物流管理</h5>
                    <a href="{:U('/Home/Shop/carriage_regulation/tag/carriage_regulation')}"><li <eq name="Think.get.tag" value="carriage_regulation">class="user_nav_on"</eq> >运费配置</li></a>
                    <a href="{:U('/Home/Shop/selDeliver/tag/selDeliver')}"><li <eq name="Think.get.tag" value="selDeliver">class="user_nav_on"</eq> >发货</li></a></if>
            <!-- <a href="{:U('/Home/Shop/selBill/tag/selBill')}"><li <eq name="Think.get.tag" value="selBill">class="user_nav_on"</eq> >单据查询</li></a> -->
            <div class="user_nav_line"></div>
            <h5>作品管理</h5>
            <!-- <a href="{:U('/Home/Shop/selRelease/tag/selRelease')}"><li <eq name="Think.get.tag" value="selRelease">class="user_nav_on"</eq> >发布作品</li></a> -->
            <if condition="$artistid eq 16">
                <a href="{:U('/Home/Shop/selGroom/tag/selGroom')}"><li <eq name="Think.get.tag" value="selgroom">class="user_nav_on"</eq> >推荐的作品</li></a>
                <else/>
            <a href="{:U('/Home/Shop/selUpload/tag/selUpload')}"><li <eq name="Think.get.tag" value="selRelease">class="user_nav_on"</eq> >发布作品</li></a>
            <a href="{:U('/Home/Shop/selOnSale/tag/selOnSale')}"><li <eq name="Think.get.tag" value="selOnSale">class="user_nav_on"</eq> >出售中的作品</li></a>
            <a href="{:U('/Home/Shop/selWarehouse/tag/selWarehouse')}"><li <eq name="Think.get.tag" value="selWarehouse">class="user_nav_on"</eq> >仓库中的作品</li></a>

            </if>
            <div class="user_nav_line"></div>
           <!-- <h5>客户服务</h5>
            <a href="{:U('/Home/Shop/selRights/tag/selRights')}"><li <eq name="Think.get.tag" value="selRights">class="user_nav_on"</eq> >维权管理</li></a>
            <a href="{:U('/Home/Shop/selReport/tag/selReport')}"><li <eq name="Think.get.tag" value="selReport">class="user_nav_on"</eq> >举报管理</li></a>
            <a href="#"><li>违规管理</li></a>
            <a href="{:U('/Home/Shop/selData/tag/selData')}"><li <eq name="Think.get.tag" value="selData">class="user_nav_on"</eq> >企业资料</li></a>-->
            </if>

            <if condition="$artistsRec.art_cate eq 16">
            <h5>推荐管理</h5>
                <a href="{:U('/Home/Shop/seldpsy/tag/selcpsy')}/detail/7"><li <eq name="Think.get.tag" value="selRelease">class="user_nav_on"</eq> >推荐收益</li></a>
                <a href="{:U('/Home/Shop/selRec/tag/selRec')}"><li <eq name="Think.get.tag" value="selRelease">class="user_nav_on"</eq> >我的推荐</li></a>
            </if>
            <!-- <h5>评论</h5>
             <a href="/Home/PersonalCenter/comment">
                 <li>我的评论</li>
             </a> -->
        </ul>
    </div>
</div>
<script src="__JS__/jquery-form.js"></script>
<script>
    $(function () {
        var progress = $('.xuanze_percent');
        $("#xuanze").wrap("<form id='myupload1' action='{:U('/Home/PersonalCenter/headImg')}' method='post' enctype='multipart/form-data'></form>");
        $("#xuanze").change(function(){ //选择文件
            $("#myupload1").ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                },
                uploadProgress: function(event, position, total, percentComplete) {

                },
                success: function(data) { //成功
                    var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="person_img" id="pic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
                    progress.html(img);
                    window.location.reload();
                },
                error:function(xhr){ //上传失败
                }
            });

        });
    });
</script>