<include file="Public:header" />
<style>
    .contact_right select {
        width: 100%;
        height: 40px;
        border: none;
        background: #eee;
        padding-left: 10px;
        font-size: 14px;
    }
</style>
<div class="ban1">
  <div class="banner_img">
    <img src="__IMAGES__/yishushequ.jpg" alt="" />
  </div>
</div>


<!--  / warpper  -->
<div class="warpper wrapper1">
    <div class="title">
    <div class="line"></div>
    <p class="font_tit1">About us</p>
    <h5>关 • 于 • 我 • 们</h5>
  </div>
  
  
	  <div class="wenzi" style="line-height:25px; text-indent:2em; font-size:14px;
	  width:1000px; margin:60px auto;" >
	  
		<!--<p>浙江美术网是杭州国力雕塑艺术有限公司旗下运营的网站。网站自建立以来，立足浙江，为浙江及全国、全球的艺术家、藏家和艺术机构服务的专业美术平台。
		浙江美术网专注于整个艺术品行业发展，致力于将浙江美术网打造为“艺术精品第一门户”。</p>
		<p>浙江美术网以整合艺术品行业优质资源，对艺术精品进行线上展示与销售；组织策划线下精品展览，为艺术作品市场化发展提供双平台支持。
		网站强大的后台支撑为艺术品社会价值的提升提供保证。</p>
		<p>
		浙江美术网始终以“高质量的服务水平”作为我们工作的重心；不断强化网站的品牌和权威性；为艺术爱好者、收藏家和文化单位提供高性价比的产品。
		做好“艺术走进大众、艺术引领生活时尚”的使者。
		</p>
	    <p><strong>联系地址：</strong>浙江省杭州市上城区宋城路11-1号大学生创意园内D2-D3区 </p><p><strong>邮编：</strong>310008</p>
		<p><strong>电话：</strong>0571-86502152</p>
		<p><strong>传真：</strong>0571-86559251</p>
		<p><strong>邮箱:</strong>zmwnet@126.com  </p>
		<p><strong>网址：</strong>www.zhejiangart.com.cn</p>--!>
<p>浙江美术网成立于2012年，隶属于杭州三虎文化创意有限公司旗下，是浙江工业和信息化部认证备案的网站。</p>
		<p>浙江美术网是一家立足浙江、面向全国乃至海外的艺术品行业门户和资讯平台。网站自创建以来，顺应文化艺术发展潮流，将传统艺术和电子商务相结合，通过平台化建设达到共建、共赢和共享的目的。</p>
		  <p>近年来，随着人们收入水平的提高和精神需求的提升，浙江美术网专门开发出针对艺术家、收藏家以及艺术爱好者使用的按印索图小程序“艺图猹”。小程序从技术层面解决艺术溯源难的问题，实现艺术品一品一码，让艺术品拥有自己的“身份证”。</p>
		<p>
			浙江美术网倡导“人人都是艺术家，人人都是收藏家”的理念，专注于推荐有潜质的艺术家，发掘有价值的艺术作品，逐步打造出集艺术资讯发布、艺术家推广、艺术作品售卖、艺术展览策划、艺术交流和艺术游学为一体的生态闭环。
		</p>
	    <p><strong>联系地址：</strong>浙江省杭州市上城区白塔人家兰巷101号 </p><p><strong>邮编：</strong>310008</p>
		<p><strong>电话：</strong>0571-86502152</p>
		<p><strong>传真：</strong>0571-86559251</p>
		<p><strong>邮箱:</strong>zmwnet@126.com  </p>
		<p><strong>网址：</strong>www.zhejiangart.com.cn</p>
           
	  
	  </div>
  

  
  <include file="Public:footer" />
  
</body>
</html>
