<include file="Public:head"/>
<link rel="stylesheet" href="__JS__/fm.selectator.jquery.css">
<style>
    .ftnormal {line-height: 25px!important;}
    .btn{vertical-align: baseline;}
    .newinput{ width:145px;}
    .select.mini{width: 110px;}
    .vtal-2{vertical-align: -2px;}
	.shady{ background:#000; opacity:0.5; width:100%; height:100%; position:fixed; top:0; left:0; z-index:111111; display:none; }
</style>
<script type="text/javascript" src="__LHG__/lhgcore.min.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>

<script type="text/javascript">

    J(function(){
        J('#starttime').calendar();
        J('#endtime').calendar();
    });
    function caxun() {
        var starttime = $('#starttime').val();
        var endtime = $('#endtime').val();

        if (starttime!=''&&endtime!=''){
            if (starttime>endtime){
                alert('起始时间必须小于结束时间！');
                return false;
            }
        }

    }
</script>

<div class="container">
<div class="inner clearfix">
    <include file="Public:left"/>
<!-- end content-left -->
<div class="shady" id="heemu"></div>
<img src="" id="em" style="position:fixed;width:34%;margin:auto;left:0;right:0;display:none;z-index:11111111111111;cursor:pointer;" onclick="this.style.display='none',document.getElementById('heemu').style.display='none'"/>
<div class="content-right fl">


    <h1 class="content-right-title">所有订单</h1>


    <form action="{:U('Admin/Yunrecomm/giftOrder')}" method="get">
        <div class="tables-searchbox">
            <input type="text" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" placeholder="手机号" class="input newinput" name="telephone" value="{$telephone}">
            <input type="text" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" placeholder="用户昵称" class="input newinput" name="person_name" value="{$person_name}">
            <input type="text" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" placeholder="输入订单号" class="input newinput" name="order_no" value="{$order_no}">
            <input type="text" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')"  name="starttime" id="starttime" value="{$starttime}" placeholder="订单起始时间" class="input Wdate mini" >
            <span class="mgr5">至</span>
            <input type="text"  onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" name="endtime" value="{$endtime}" id="endtime" placeholder="订单结束时间" class="input Wdate mini" >
           
            <button class="btn btn-primary vtal-2" onclick="return caxun()"><i class="gicon-search white"></i>查询</button>
        </div>
    </form>

    <div class="tabs clearfix mgt15">
        <!-- <a href="{:U('Admin/Order/index/')}" class="<if condition="($type eq '')">active</if> tabs_a fl">所有报单({$count1})</a>
        <a href="{:U('Admin/Order/index/type/1')}" class="<eq name="type" value="1">active</eq> tabs_a fl">A计划({$count2})</a>
        <a href="{:U('Admin/Order/index/type/2')}" class="<eq name="type" value="2">active</eq> tabs_a fl">B计划({$count3})</a>
        <a href="{:U('Admin/Order/index/type/3')}" class="<eq name="type" value="3">active</eq> tabs_a fl">C计划({$count4})</a> -->


        <div class="tabs clearfix mgt15">
            <a href="{:U('Admin/Yunrecomm/giftOrder')}" class="<eq name="_GET['order_status']" value="">active</eq> tabs_a fl">所有订单({$count})</a>
            <a href="{:U('Admin/Yunrecomm/giftOrder/order_status/10')}" class="<eq name="_GET['order_status']" value="10">active</eq> tabs_a fl">已取消({$count0})</a>
            <a href="{:U('Admin/Yunrecomm/giftOrder/order_status/1')}" class="<eq name="_GET['order_status']" value="1">active</eq> tabs_a fl">待付款({$count1})</a>
            <!--<a href="{:U('Admin/Yunrecomm/giftOrder/order_status/2')}" class="<eq name="_GET['order_status']" value="2">active</eq> tabs_a fl">待发货({$count2})</a>-->
            <a href="{:U('Admin/Yunrecomm/giftOrder/order_status/2')}" class="<eq name="_GET['order_status']" value="2">active</eq> tabs_a fl">已完成({$count2})</a>
            <!--<a href="{:U('Admin/Yunrecomm/giftOrder/order_status/3')}" class="<eq name="_GET['order_status']" value="3">active</eq> tabs_a fl">待收货({$count3})</a>
            <a href="{:U('Admin/Yunrecomm/giftOrder/order_status/4')}" class="<eq name="_GET['order_status']" value="4">active</eq> tabs_a fl">已签收({$count4})</a>
            <a href="{:U('Admin/Yunrecomm/giftOrder/order_status/5')}" class="<eq name="_GET['order_status']" value="5">active</eq> tabs_a fl">已完成({$count5})</a>-->
            <!--<a href="{:U('Admin/Order/index/order_status/6')}" class="<eq name="_GET['order_status']" value="6">active</eq> tabs_a fl">退款中({$count6})</a>-->
    </div>
        <table class="wxtables table-order mgt20">
            <colgroup>
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
               <!-- <col width="10%">-->
                <col width="10%">
                <!--<col width="10%">-->
            </colgroup>
            <thead>
                <tr>
                    <td align="center">订单用户</td>
                    <td align="center">订单金额</td>
                    <td align="center">礼包名</td>
                    <td align="center">实际支付</td>
                    <td align="center">支付时间</td>
                    <td align="center">支付类型</td>
                    <!--<td align="center">订单来源</td>-->
                   <!-- <td align="center">订单类型</td>-->
                    <td align="center">订单状态</td>

                    <!--<td align="center">操作</td>-->
                </tr>
            </thead>
        </table>


    	<table class="wxtables table-order mgt20">
              <colgroup>
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                  <col width="10%">
              </colgroup>

            <volist name="cache" id="vo" empty="暂无数据">
                <thead>

                    <tr>
                        <td colspan="9" class="ftnormal" style="background-color:#F2F8FC;">
                            <!--<input type="checkbox" class="checkbox table-ckbs" data-id="2137327" name="id" value="{$vo.id}">-->
                            <span>订单编号：<b>{$vo.order_no}</b></span>
                            <span class="mgl15">{$vo.order_time|date="Y-m-d H:i:s",###}</span>
                            <!---->
                            <span class="mgl15 colorRed">
                                <switch name="vo.order_status">
                                    <case value="1">未支付</case>
                                    <case value="2">已支付</case>
                                </switch>
                               <!--  <if condition="$vo['is_complete']">
                                <switch name="vo.is_complete">
                                    <case value="0">未分销</case>
                                    <case value="1">已分销</case>
                                </switch>
                                </if> -->
                            </span>
                         </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="top" class="txtCenter" style="padding-top:15px;vertical-align: inherit;">
                            <p><b>用户：</b>{$vo.person_name}</p>
                            <p><b>电话：</b>{$vo.telephone}</p>
                     	</td>
                        <td valign="top" class="txtCenter" style="padding-top:15px;vertical-align: inherit;">
                            <p><b>¥<if condition="$vo['total_price']">{$vo.total_price}<else />0.00</if></b></p>
                        </td>
                        <td valign="top" class="txtCenter" style="padding-top:15px;vertical-align: inherit;">
                            <p><b>{$vo.gift_name}</b></p>
                        </td>

                        <td valign="middle" align="center" class="txtCenter">
                            <p><b>¥<if condition="$vo['pay_price']">{$vo.pay_price}<else />0.00</if></b></p>
                        </td>
                        <td valign="middle" align="center"  class="txtCenter">
                            <notempty name="vo['pay_time']">
                            <p><b>{$vo.pay_time|date="Y-m-d H:i:s",###}</b></p>
                            </notempty>
                        </td>

                        <!-- 0待接受 1 申请中 2 任务开始 3任务完成  4确认任务完成 5 取消任务 6退款 7任务结束 -->
                        <td valign="middle" align="center"  class="txtCenter">
                            <notempty name="vo['pay_time']">
                            <p><b>
                            <switch name="vo.pay_way">
                                <case value="1">支付宝</case>
                                <case value="2">银联支付</case>
                                <case value="3">微信支付</case>
                                <case value="4">余额支付</case>
                            </switch>
                            </b></p>
                            </notempty>
                        </td>
                        <!--<td valign="middle" align="center"  class="txtCenter">
                            <p><b>
                            {$vo.arname}
                            </b></p>
                        </td>-->
                        <!-- <td valign="middle" align="center"  class="txtCenter">
                            <p><b>
                            <switch name="vo.tj_status">
                                <case value="1">推荐订单</case>
                                <case value="0">自传店铺订单</case>
                                <default/>美术网后台订单
                            </switch>
                            </b></p>
                        </td>-->
                        <td valign="middle" align="center"  class="txtCenter">
                            <p>
                            <switch name="vo.order_status">
                                <case value="0">已取消</case>
                                <case value="1">待付款</case>
                                <case value="2">已完成</case>
                                <case value="3">已完成</case>
                                <case value="4">已完成</case>
                                <case value="5">已完成</case>
                                <case value="6">已完成</case>
                            </switch>
                            </p>
                        </td>
                        <!--<td valign="top" style="vertical-align: inherit;">
                            <p>
                                <a href="{:U('Admin/Order/orderDetail')}/id/{$vo.id}" class="btn btn-mini btn-primary">查看详情</a>
                                &lt;!&ndash; 2是已支付需要发货 &ndash;&gt;

                                <?php if($vo['order_status']==2){ ?>
                                   <if condition="$vo.shop_id eq 0"> <a href="javascript:void(0);" class="btn btn-success j-editClass" title="发货" data-id="{$vo.id}">发货</a><else/></if>
                                <?php }?>
                                 <?php if($vo['order_status']==6){ ?>
                                    <a href="{:U('Admin/Order/alreturn')}/id/{$vo.id}" class="btn btn-mini btn-success" onclick="return confirm('确定退款？')">同意退款</a>
                                    <a href="{:U('Admin/Order/dereturn')}/id/{$vo.id}" class="btn btn-mini btn-warning" onclick="return confirm('确定拒绝？')">拒绝退款</a>
                                <?php }?>


                              &lt;!&ndash; 是否支付 1已支付 2退款中 &ndash;&gt;
                                &lt;!&ndash; <eq name="vo[order_status]" value="1">
                                    <a class="btn btn-mini btn-danger pay" data-id="{$vo.id}">付款</a>
                                </eq> &ndash;&gt;
                                &lt;!&ndash; 待发货状态2  未付款不能退 &ndash;&gt;
                               &lt;!&ndash;  <eq name="vo[order_status]" value="2">
                                    <a class="btn btn-mini btn-warning tui" data-id="{$vo.id}">退款</a>
                                </eq> &ndash;&gt;

                            </p>

                        </td>-->
                    </tr>
                </tbody>
        </volist>

            </table>



        <!-- end wxtables -->
        <div class="tables-btmctrl clearfix mgt10">
            <div class="fl" style="display:none;">
                <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
                <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
                <!-- <a href="javascript:void(0)" onclick="del()" class="btn btn-danger J_batch_del">删除订单</a> -->
            </div>

            <div class="pages" style="float:none;width:100%;text-align:center;padding-top:10px;">
                {$page}
            </div>
                <!-- end paginate -->

        </div>        <!-- end tables-btmctrl -->


    <form action="" method="post" id="ids">
        <input type="hidden" name="ids" value="">
    </form>


</div>
<!-- end content-right -->
</div>
</div>
    </div>
<!-- end container -->


<div class="jbox editfenlei disshow quxiao" style="height:400px;">
  <div class="jbox-title">
    <div class="jbox-title-txt">发货信息</div>
    <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 500px; ">

        <div class="formitems">
          <label class="fi-name"><span class="colorRed">*</span>快递公司：</label>
          <div class="form-controls">

            <select name="express_name" class="select" id="select1">
                <foreach name="express_list" item="vo">
                    <option value="{$vo['express_ma']}">{$vo['express_company']}</option>
                </foreach>
            </select>
              <input value="activate selectator" id="activate_selectator1" type="button" style="width:70px;height:30px;float:left;margin:1px 8px 0 12px;background:rgba(255, 102, 0, 1);color: #fff;border:0;font-size: 15px;display: none;">
            <span class="fi-help-text"></span> </div>
        </div>
        <div class="formitems">
          <label class="fi-name"><span class="colorRed">*</span>快递单号：</label>
          <div class="form-controls">
            <input type="text" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="input describe1" name="express_no">
            <span class="fi-help-text"></span> </div>
        </div>
        <div class="jbox-buttons" style="text-align:center;">
          <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="fahuo">确定发货</a>
          <a href="javascript:;" class="jbox-buttons-ok btn cancle">取消</a>
      </div>
  </div>
</div>

<!--gonggao-->
<include file="Public:foot"/>


<script src="__JS__/fm.selectator.jquery.js"></script>
<script>
    var $activate_selectator1 = $('#activate_selectator1');
    $activate_selectator1.click(function () {
        var $select1 = $('#select1');
        if ($select1.data('selectator') === undefined) {
            $select1.selectator({
                labels: {
                    search: 'Search here...'
                }
            });
            $activate_selectator1.val('搜索');
        } else {
            $select1.selectator('destroy');
            $activate_selectator1.val('activate selectator');
        }
    });
    $activate_selectator1.trigger('click');
</script>
<script type="text/javascript">
 $(".cancle").click(function(){
        $(this).parent().parent('.jbox').hide();
        $('#albums-overlay').hide();
        $(".quxiao").hide();
    })
 var id ='';
 $(".j-editClass").click(function(){
        id = $(this).attr("data-id");
        $('.editfenlei').show();
        $('#albums-overlay').show();
});

 $("#fahuo").click(function(){
     var data = {};
        data.express_name    = $.trim($("select[name=express_name]").val());
        // data.express_fee     = $.trim($("input[name=express_fee]").val());
        data.express_no         = $.trim($("input[name=express_no]").val());
        if(!data.express_name){
            alert("请选择物流公司！");return false;
        }
        if(!data.express_no){
            alert("请填写快递单号！");return false;
        }
        data.id = id ;
        $.ajax({
            url:"{:U('Admin/Order/express')}",
            type:'post',
            data :data,
            datatype : 'json',
            success:function(data){
                if(data.status==1){
                    alert(data.info);
                    location.href="{:U('Admin/Order/index')}";
                }else{
                    alert(data.info);
                }
            }
        });
 });

</script>