<include file="Public:head"/>
<style>
.btn-success {
	margin-top: 12px;
}
</style>
<div class="container">
<div class="inner clearfix"> <include file="Public:left"/>
  <!-- end content-left -->

  <div class="content-right fl">
    <h1 class="content-right-title">产品评论列表</h1>
    <!-- <div class="alert alert-info disable-del">
      <h4>提示</h4>
      删除分类会删除分类下面所有的产品 <a href="javascript:void(0);" class="alert-delete" title="隐藏"> <i class="gicon-remove"></i></a></div> -->
    <form action="{:U('/Admin/Goods/evaluate')}" method="post" style="float:left;">
      <div class="clearfix">
      <!-- <a href="javascript:void(0);" class="btn btn-success fl BtnAddClass">添加分类</a>  -->
        <div class="tables-searchbox fr">
            <input type="text" placeholder="产品名称" class="input" name="name" value="{$name}">
            <!--<select name="status" class="select small newselect">
                <option value="" selected>请选择</option>
                    <option <eq name="status" value="0">selected</eq> value="0">待审批</option>
                <option <eq name="status" value="1">selected</eq> value="1">已审批</option>
            </select>-->
            <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        </div>
      </div>
    </form>
    <table class="wxtables mgt15">
      <colgroup>
          <!-- <col width="5%"> -->
          <col width="10%">
          <col width="10%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="25%">
      </colgroup>
      <thead>
        <tr>
            <!-- <td><i class="icon_check"></i></td> -->
            <td class="center">用户信息</td>
            <td class="center">用户头像</td>
            <td class="center">订单号</td>
            <td class="center">评价产品</td>
            <td class="center">评价内容</td>
            <td class="center">评价时间</td>
            <td class="center">操作</td>
        </tr>
      </thead>
      <tbody>
        <foreach name="discuss" item="vo" >
          <tr>
            <!-- <td class="center"><input type="checkbox" class="checkbox table-ckbs" data-id="9788"></td> -->
            <td class="center">{$vo.realname}</td>
            <td class="center"><img src="{$vo.person_img}" style="max-width:60px;max-height:60px;"></td>
            <td class="center">{$vo.order_no}</td>
            <td class="center"><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
                <div class="table-item-img"> <img src="{$vo['logo_pic']}" alt=""> </div>
                <div class="table-item-info" style="width: 100px">
                    <p style="height:auto">{$vo.goods_name} <br/></p>
                </div>
            </a> </div></td>
            <td class="center">{$vo.content}</td>
            <td class="center">{$vo.add_time|date="Y-m-d H:i:s",###}</td>
            <td class="center">
                <a href="javascript:;" class="btn change-is_sale <eq name="vo['status']" value="1">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"  title="审批"><eq name="vo['status']" value="2">审批通过<else />取消审批</eq></a>
                <a href="{:U('Admin/goods/pjxq',array('id'=>$vo['id']))}" class="btn btn-success BtnAddClass" >查看内容</a>

               <eq name="vo.reply_status" value="2">
                <a href="javascript:" data-content="{$vo.content}" class="btn btn-warning reply-commemt" title="回复"  data-id="{$vo.id}">回复</a>
               <else/>
                <a href="javascript:" data-reply="{$vo.reply}" data-content="{$vo.content}" class="btn btn-success have-reply" title="回复"  data-id="{$vo.id}">已回复</a>
               </eq>

                <a href="{:U('/Admin/Goods/delDiscuss',array('id'=>$vo['id']))}" class="btn btn-warning j-delClass" title="删除" onclick="return confirm('确定要删除该评论吗？')" data-id="{$vo.id}">删除</a>
            </td>
          </tr>
        </foreach>
      </tbody>
    </table>
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
     <!--  <div class="fl"> <a href="javascript:void(0);" class="btn btn-primary btn_table_selectAll">全选</a> <a href="javascript:void(0);" class="btn btn-primary btn_table_Cancle">取消</a> -->
        <!--<a href="javascript;" class="btn btn-primary btn_table_delAll">批量删除</a></div>-->
        <div class="fr">
          <!--<div class="paginate">-->

          <div class="pages">
            <!--</div>-->
            {$page}
          </div>
          <!-- end paginate -->
        </div>
      </div>
      <!-- end tables-btmctrl -->
    </div>
    <!-- end content-right -->
  </div>
</div>
<!-- end container -->
<include file="Public:foot"/>
    <div class="jbox addfenlei disshow">
        <div class="jbox-title">
            <div class="jbox-title-txt">评论详情</div>
            <a href="javascript:void(0);" class="jbox-close cancle"></a></div>
        <div class="jbox-container" style="height: 263px;">
            <div class="formitems">
                <label class="fi-name"><span class="colorRed">*</span>评论内容：</label>
                <div class="form-controls">
                    <input type="text" id="neirong" class="input classname" name="classname" readonly />
                    <span class="fi-help-text"></span> </div>
            </div>

            <div class="formitems" style=" height:60px;">
                <label class="fi-name"><span class="colorRed"></span>评论图片：</label>
                <div class="form-controls images">
                    <div class="showimg"></div>
                </div>
            </div>
        </div>
       <!-- <div class="jbox-buttons"><a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="addcategory">确定</a><a
                href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>-->
    </div>

<div class="jbox editfenlei reply-com disshow">
  <div class="jbox-title">
    <div class="jbox-title-txt">回复评论</div>
    <a href="javascript:void(0);" class="jbox-close cancle"></a></div>
  <div class="jbox-container" style="height: 263px;">

    <div class="formitems">
      <label class="fi-name"><span class="colorRed">*</span>评论内容：</label>
      <div class="form-controls">
        <input type="text" class="input classname" name="content" id="content" readonly>
        <span class="fi-help-text"></span> </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>回复内容：</label>
      <div class="form-controls">
        <textarea col="10" row="10" style="height: 100px;width: 180px"  name="reply_com" id="reply_com" ></textarea>
        <input type="hidden"  class="input sort" name="commemt_id" id="commemt_id" >
        <span class="fi-help-text"></span> </div>
    </div>

  </div>
  <div class="jbox-buttons"><a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="reply">确定</a><a
            href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a></div>
</div>

    <div class="jbox editfenlei view-commemt disshow">
        <div class="jbox-title">
            <div class="jbox-title-txt">已回复评论</div>
            <a href="javascript:void(0);" class="jbox-close cancle"></a></div>
        <div class="jbox-container" style="height: 263px;">

            <div class="formitems">
                <label class="fi-name"><span class="colorRed">*</span>评论内容：</label>
                <div class="form-controls">
                    <input type="text" class="input classname" name="content" id="icontent" readonly>
                    <span class="fi-help-text"></span> </div>
            </div>
            <div class="formitems">
                <label class="fi-name"><span class="colorRed"></span>回复内容：</label>
                <div class="form-controls">
                    <textarea col="50" row="10" style="height: 100px;width: 180px" name="reply_com" id="ireply" readonly ></textarea>
                    <input type="hidden"  class="input sort" name="commemt_id"  >
                    <span class="fi-help-text"></span> </div>
            </div>

        </div>
        <div class="jbox-buttons">
            <!--<a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary">确定</a>-->
            <a href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a></div>
    </div>

<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript">
    // $(".BtnAddClass").click(function(){
    //     var content = $(this).attr('data-content');
    //     var pic = $(this).attr('data-imgs');
    //     $("#neirong").val(content);
    //     $(".showimg").html("");
    //      var pics = pic.split('|');
    //     $.each(pics,function(i,n){
    //         var imgstr = '<li style=\'position:relative;display:inline;\'><img src="' + n + '" height="70" width="90"></li>';
    //         $(".showimg").append(imgstr);
    //     });
    //     $('.addfenlei').show();
    //     $('#albums-overlay').show();
    // });
    $(".cancle").click(function(){
        $(this).parent().parent('.jbox').hide();
        $('#albums-overlay').hide();
    });
    $(".reply-commemt").click(function(){
        var content = $(this).attr('data-content');
        var commemt_id = $(this).attr('data-id');
        $("#commemt_id").val(commemt_id);
        $("#content").val(content);
        $(".reply-com").show();
    });
    $(".have-reply").click(function(){
        var content = $(this).attr('data-content');
        var reply = $(this).attr('data-reply');
        $("#icontent").val(content);
        $("#ireply").val(reply);
        $(".view-commemt").show();
    });
    $("#reply").click(function(){
        var content = $("#reply_com").val();
        var commemt_id = $("#commemt_id").val();
        if(!content){
            alert("请输入回复内容");return false;
        };
        $.post("{:U('Admin/Goods/Reply')}", {commemt_id:commemt_id,content:content}, function(data){
            if(data.status){
                alert(data.info);
                window.location.reload()
            }else{
                alert(data.info);
            }
        }, "json");
    });

	$(function () {
		var progress = $(".img");
		var bar = $('.bar') ;
		var percent = $('.percent');
		var progress = $('.progress');
		$("#addimage").wrap("<form id='myupload' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
		$("#addimage").change(function(){ //选择文件
			$("#myupload").ajaxSubmit({
				dataType:  'json', //数据格式为json
				beforeSend: function() { //开始上传
					progress.show(); //显示进度条
					var percentVal = '0%';
					bar.width(percentVal);
					percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%'; //获得进度
					bar.width(percentVal); //上传进度条宽度变宽
					percent.html(percentVal); //显示上传进度百分比
				},
				success: function(data) { //成功
					var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="addpic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
					$('.showimg').html(img);
					$("#addimage").val('');
					progress.hide();
				},
				error:function(xhr){ //上传失败
					//console.log(xhr.status)
				}
			});
		});
	});


	$(function () {
		var progress = $(".img");
		var bar = $('.bar') ;
		var percent = $('.percent');
		var progress = $('.progress');
		$("#editimage").wrap("<form id='myupload1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
		$("#editimage").change(function(){ //选择文件
			$("#myupload1").ajaxSubmit({
				dataType:  'json', //数据格式为json
				beforeSend: function() { //开始上传
					progress.show(); //显示进度条
					var percentVal = '0%';
					bar.width(percentVal);
					percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%'; //获得进度
					bar.width(percentVal); //上传进度条宽度变宽
					percent.html(percentVal); //显示上传进度百分比
				},
				success: function(data) { //成功
					var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="editpic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
					$('.showimgedit').html(img);
					$("#editimage").val('');
					progress.hide();
				},
				error:function(xhr){ //上传失败
					//console.log(xhr.status)
				}
			});
		});
	});



</script>


<!--添加分类-->

<script type="text/javascript">
    $(".change-is_sale").click(function (){
        var id   = $(this).attr("data-id");
        var item = "status";
        $.post("{:U('Admin/Goods/changeCommentStatus')}", {id:id,item:item}, function(data){
            if(data.status){
                window.location.reload()
            }else{
                alert(data.info);
            }
        }, "json")
    })

    // $(".BtnAddClass").click(function(){
    //     $('.addfenlei').show();
    //     $('#albums-overlay').show();
    // })
</script>
