<include file="Public:head"/>
<link rel="stylesheet" href="../css/lists.css">

<div class="container">
<div class="inner clearfix"> <include file="Public:left"/> 
  <!-- end content-left -->
  
  <div class="content-right fl">
    <h1 class="content-right-title">作品列表</h1>
    <a href="{:U('/Admin/Goods/addGoods')}" class="btn btn-success">发布作品</a>
    <form action="{:U('/Admin/Goods/goodsList')}" method="get">
      <div class="tables-searchbox newcearchbox">

        <input type="text" placeholder="产品名称" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" class="input" name="name" value="{$title}" >
        <!-- <input type="text" placeholder="商家编码" class="input" name="goods_no" value="" > -->
        <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        <!--<a href="/Item/item_export" class="btn btn-warning"><i class="gicon-share white"></i>-->
        <!--产品导出</a>-->
      </div>
      <div class="tabs clearfix mgt10"> 
        <a href="{:U('/Admin/Goods/goodsList')}" class="<eq name="_GET['is_sale']" value="">active</eq> tabs_a fl">全部({$counts})</a>
        <!--<a href="{:U('/Admin/Goods/goodsList/is_sale/2')}" class="<eq name="_GET['is_sale']" value="2">active</eq> tabs_a fl">出售中({$count1})</a>-->
        
        <a href="{:U('/Admin/Goods/goodsList/is_sale/3')}" class="<eq name="_GET['is_sale']" value="3">active</eq> tabs_a fl">待审核({$count3})</a>
        <a href="{:U('/Admin/Goods/goodsList/is_sale/4')}" class="<eq name="_GET['is_sale']" value="4">active</eq> tabs_a fl">审核通过({$count4})</a>
        <a href="{:U('/Admin/Goods/goodsList/is_sale/5')}" class="<eq name="_GET['is_sale']" value="5">active</eq> tabs_a fl">审核拒绝({$count5})</a>
        <a href="{:U('/Admin/Goods/goodsList/is_sale/2')}" class="<eq name="_GET['is_sale']" value="2">active</eq> tabs_a fl">上架中({$count1})</a>
        <a href="{:U('/Admin/Goods/goodsList/is_sale/1')}" class="<eq name="_GET['is_sale']" value="1">active</eq> tabs_a fl">下架中({$count2})</a>



      </div>
    </form>
    <!-- end tabs -->
    
    <table class="wxtables mgt10 table-order" id="tb_3" style="text-align:center;">
      <thead>
        <tr class="po_list">
          <td>id</td>
          <td>产品</td>
          <td>发布者</td>
          <td>是否上架</td>
          <td>排序</td>
          <td>销售租赁情况</td>
          <td>状态</td>
          <td>是否推荐</td>
          <td>操作<span></span></td>
        </tr>
      </thead>
      <tbody>
        <foreach name="cache" item="vo">
          <tr>
            <td> {$vo.id} </td>
            <td><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
                <div class="table-item-img"> <img src="{$vo['index_pic']}" alt=""> </div>
                <div class="table-item-info" style="width: 100px">
                  <p style="height:auto">{$vo.goods_name|mb_substr = ###,0,14,'utf-8'} <br/></p>
                  <span class="price">现价：¥{$vo.price}</span><br/>
                   </div>
                </a> </div></td>
            <if condition="$vo.promulgator eq 0"><td>美术网平台</td></if>
            <if condition="$vo.promulgator neq 0"><td>{$vo.artist_name}</td></if>
            <td><if condition="($vo.is_sale eq 1)"> 上架
                <else/>
                下架</if></td>
            
            <td> {$vo.sort} </td>
            <td class="class_name">
              <if condition="($vo.is_groom eq 0 and $vo.is_buy eq 0)">
                <span>未租赁</span>
                <elseif condition="($vo.is_groom eq 0 and $vo.is_buy eq 1)"/>
                <span style="color: blue">已租赁</span>
                <elseif condition="($vo.is_groom eq 1 and $vo.is_buy eq 1)"/>
                <span style="color: blue">已出售</span>
                <elseif condition="($vo.is_groom eq 1 and $vo.is_buy eq 0)"/>
                <span>未出售</span>
              </if>
            </td>
            <if condition="$vo.shenhe eq 0"><td style="color: red">待审核</td></if>
            <if condition="$vo.shenhe eq 1"><td style="color: red">审核通过</td></if>
            <if condition="$vo.shenhe eq 2"><td style="color: red">审核拒绝</td></if>
            <td>
              <div class="serialwrap">
                <a style='color:#<if condition="($vo.is_show eq 1) ">0C0<else />c00</if>;font-size:20px;text-align:center;cursor:pointer;' class="change-status" data-item="is_show" data-id="{$vo.id}">
                <if condition="($vo.is_show eq 1) ">√<else />×</if>
                </a>
              </div>
            </td>

            <td>
              <a href="{:U('/Admin/Goods/editGoods/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">编辑</a>
              <eq name="vo.is_buy" value="1">
                <a href="javascript:;" class="btn btn-success" >已出售</a>
                <else/>
              <if condition="($vo.shenhe eq 1)"><a href="javascript:;" class="btn change-is_sale <eq name="vo['is_sale']" value="0">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"  title="上架"><eq name="vo['is_sale']" value="0">上架<else />下架</eq></a></if>
              </eq>
              <a href="{:U('/Admin/Goods/delGoods/id')}/{$vo.id}" onclick="{if(!confirm('确定删除作品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除">删除</a>
              <if condition="$vo.shenhe eq 0"><a href="javascript:;" class="btn huifu" style="background-color: green;border-color: green; color: white" data-id="{$vo.id}">审核</a></if>
            </td>
          </tr>
        </foreach>
      </tbody>
    </table>
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
      <div class="fl">
        <div class="fr">
          <div class="pages"> {$page} </div>
          <!-- end paginate --> 
        </div>
      </div>
      <!-- end tables-btmctrl --> 
    </div>
    <!-- end content-right --> 
  </div>
</div>


  <div id="albums-overlay" class="disshow"></div>
  <div class="jbox addfenlei disshow" style="height:auto; overflow: visible;">
    <div class="jbox-title">
      <div class="jbox-title-txt">回复评论</div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 140px;overflow: visible;">
      <div class="formitems">
        <input type="hidden" class="input sort" name="commentId" id="commentId" >
        <label><span class="colorRed">*</span>内容：</label>

        <div class="form-controls">
          <textarea style="width: 200px;height: 100px;margin-left: -30px;" id="content"></textarea>
          <span class="fi-help-text"></span>
        </div>
      </div>

    </div>
    <div class="jbox-buttons">
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="agree">通过</a>
      <a href="javascript:void(0);" class="jbox-buttons-ok btn " id="disagree" style="background-color: red;border-color: red; color: white">拒绝</a>
      <a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
  </div>
  <script src="__JS__/jquery.js"></script>
  <script>
      $(".huifu").click(function(){
          $('.addfenlei').show();
          $('#albums-overlay').show();
      })

      $(".cancle").click(function(){
          $(this).parent().parent('.jbox').hide();
          $('#albums-overlay').hide();
      })

      $(".huifu").click(function(){
          var commentId = $(this).attr('data-id');
          $('#commentId').val(commentId);
      })

      $('#agree').click(function () {
          var id1 = $('#commentId').val();
          $.ajax({
              url: "{:U('/Admin/Goods/agree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })

      $('#disagree').click(function () {
          var id1 = $('#commentId').val();
          var content = $('#content').val();
          if(content == ''){
              //dialog.showTips("内容必填！", "warn");
              alert('内容必填');
              $('#content').focus();
              return false;
          }

          $.ajax({
              url: "{:U('/Admin/Goods/disagree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
                  disagree_detail:content
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })
  </script>
<!-- end container --> 
<include file="Public:foot"/>
<script>
$(".change-status").click(function (){
  var _this= $(this)
  var id   = $(this).attr("data-id");
  var item = $(this).attr("data-item");
  //console.log(id,item);
  $.post("{:U('Admin/Goods/changeStatus')}", {id:id,item:item}, function(data){
    if(data.status == 1){
      _this.css({color:"#0C0"}).html("√");
    }else if(data.status == 2){
      _this.css({color:"#c00"}).html("×");
      //window.location.reload()
    }else{
      alert(data.info);
    }
  }, "json")
})
$(".change-all-status").click(function (){
  if(!confirm("确定改变所有选中产品的状态？")){
    return false;
  }
  var ids = "";
  var item = $(this).attr("data-item");
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  }
  $.post("{:U('Admin/Goods/changeAllStatus')}" ,{ids:ids,item:item}, function (data){
    if(data.status){
      window.location.reload();
    }else{
      alert(data.info);
    }
  })
})
$(".change-is_sale").click(function (){
  var id   = $(this).attr("data-id");
  var item = "is_sale";
  $.post("{:U('Admin/Goods/changeStatus')}", {id:id,item:item}, function(data){
    if(data.status){
        //alert(data.info);
      window.location.reload()
    }else{
      alert(data.info);
    }
  }, "json")
})
$(".btn_table_delAll").click(function(){
  if(!confirm("确定删除所有选中的产品？")){
    return false;
  }
  var ids = "";
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  }
  $.post("{:U('Admin/Goods/delGoods')}" ,{ids:ids}, function (data){
    alert(data.info);
    if(data.status){
      window.location.reload();
    }
  })
})
</script>