<div class="content-left fl">
    <dl class="left-menu shop_3 sub_tags">
        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_3" data-id="3">分类管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='cateList'>active</eq> "><a href="{:U('/Admin/Goods/cateList')}">产品分类列表</a></dd>
        <dd class="subshop_0 <eq name='urlname' value='seriesList'>active</eq> " ><a href="{:U('/Admin/Goods/seriesList')}">所属系列列表</a></dd>
    </dl>
    <dl class="left-menu shop_3 sub_tags">
        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_4" data-id="4">sku管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='skuList'>active</eq> ">
            <a href="{:U('/Admin/Goods/skuList')}">sku设置</a>
        </dd>
        <!-- <dd class="subshop_0 <eq name='urlname' value='skuAttrList'>active</eq> ">
            <a href="{:U('/Admin/Goods/skuAttrList')}">sku值设置</a>
        </dd> -->
    </dl>
    <dl class="left-menu shop_3 sub_tags">
        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_5" data-id="5">产品管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='goodsList'>active</eq> ">
            <a href="{:U('/Admin/Goods/goodsList')}">产品列表</a>
        </dd>
    </dl>

    <dl class="left-menu shop_3 sub_tags">
        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_6" data-id="6">抢购管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='limitbuy'>active</eq> ">
            <a href="{:U('/Admin/Goods/limitbuy')}">抢购中心</a>
        </dd>
    </dl>


</div>