<div class="content-left fl">
        <dl class="left-menu shop_3 sub_tags">
            <dt>
                <i class="icon-menu tags"></i>
                <span id="shop_3" data-id="3">订单管理</span>
            </dt>
            <dd class="subshop_0 <eq name='urlname' value='index'>active</eq> ">
                <a href="{:U('/Admin/Order/index')}">订单中心</a>

            </dd>
            <dd class="subshop_0 <eq name='urlname' value='errorReport'>active</eq> ">
                <a href="{:U('/Admin/Order/errorReport')}">错误报告</a>

            </dd>
        </dl>
        <!--<dl class="left-menu shop_3 sub_tags">
            <dt>
                <i class="icon-menu tags"></i>
                <span id="shop_3" data-id="3">发单设置</span>
            </dt>
            <dd class="subshop_0 <eq name='urlname' value='timearea'>active</eq> ">
                <a href="{:U('/Admin/task/timearea')}">时间范围设置</a>
            </dd>
            <dd class="subshop_0 <eq name='urlname' value='range'>active</eq> ">
                <a href="{:U('/Admin/task/range')}">接单距离范围设置</a>
            </dd>

        </dl>
        <dl class="left-menu shop_3 sub_tags">
            <dt>
                <i class="icon-menu tags"></i>
                <span id="shop_3" data-id="3">手续费设置</span>
            </dt>
            <dd class="subshop_0 <eq name='urlname' value='counterfee'>active</eq> ">
                <a href="{:U('/Admin/task/counterfee')}">规则设置</a>
            </dd>
        </dl>
        <dl class="left-menu shop_3 sub_tags">
            <dt>
                <i class="icon-menu tags"></i>
                <span id="shop_3" data-id="3">手动发单</span>
            </dt>
            <dd class="subshop_0 <eq name='urlname' value='taskTemplateList'>active</eq> ">
                <a href="{:U('Admin/Task/taskTemplateList')}">发单模板设置</a>
            </dd>
            <dd class="subshop_0 <eq name='urlname' value='memberTemplateList'>active</eq> ">
                <a href="{:U('Admin/Task/memberTemplateList')}">发单用户设置</a>
            </dd>
        </dl>-->
</div>