<div class="content-left fl">
    <dl class="left-menu shop_8 sub_membership">


        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">首页</span>
        </dt>

        <dd class="subshop_0 <eq name='comptype' value='0'>active</eq>">
            <a href="{:U('/Admin/web/index')}">介绍列表</a>
        </dd>

        <dd class="subshop_0 <eq name='comptype' value='1'>active</eq>">
            <a href="{:U('/Admin/web/news')}">新闻中心</a>
        </dd>


        <dd class="subshop_0 <eq name='comptype' value='3'>active</eq>">
            <a href="{:U('/Admin/statics/index')}">设置</a>
        </dd>




        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">APP功能</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='4'>active</eq>">
            <a href="{:U('/Admin/web/app')}">功能介绍列表</a>
        </dd>

        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">关于我们</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='5'>active</eq>">
            <a href="{:U('/Admin/About/index')}">关于我们</a>
        </dd>
     
     

        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">联系我们</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='6'>active</eq>">
            <a href="{:U('/Admin/contact/index')}">联系我们</a>
        </dd>
        <dd class="subshop_0 <eq name='comptype' value='9'>active</eq>">
            <a href="{:U('/Admin/contact/suggestion')}">在线反馈</a>
        </dd>

        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">下载链接</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='7'>active</eq>">
            <a href="{:U('/Admin/down/index')}">下载列表</a>
        </dd>

        <dt>
            <i class="icon-menu tags"></i>
            <span id="shop_8" data-id="8">栏目banner图</span>
        </dt>
        <dd class="subshop_0 <eq name='comptype' value='8'>active</eq>">
            <a href="{:U('/Admin/slide/index')}">banner图列表</a>
        </dd>
      



    </dl>
</div>