<include file="Public:header" />
<div class="dianpu_box">
<div class="SellerCon">
  <div class="SellerTop">
    <h3>我要办展</h3>
  </div>
  <div class="SellerFlower">
  	<div class="paiuncenter_one">
      <h3>请填写以下报名表信息</h3>
      <p class="activedp">请填写真实姓名，联系方式等信息，确保我们能及联系到您！</p>
    </div>

    <div class="pZlCon fbzp-pZlCon">
      <form class="pZlConForm">
        <div class="pZlConI clearfix">
          <label class="pzLs">作者：</label>
          <input type="text" value="" name="auth" maxlength="10" onblur="value=value.replace(/[^\u4e00-\u9fa5]/g,'')" onkeyup="value=value.replace(/[^\u4e00-\u9fa5]/g,'')" id="auth">
        </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">手机：</label>
          <input type="text" value="" name="tel" maxlength="16" onblur="value=value.replace(/[^0-9]/g,'')" onkeyup="value=value.replace(/[^0-9]/g,'')" id="tel">
        </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">微信：</label>
          <input type="text" value="" name="wx" maxlength="30" id="wx">
        </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">邮箱：</label>
          <input type="text" value="" name="email" maxlength="30" id="email">
        </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">标题：</label>
          <input type="text" value="" name="title" maxlength="30" id="title">
        </div>
        <div class="pZlConI clearfix">
            <div class="pzLs">
              <label class="pzLs">起始时间：</label>
            </div>
            <div class="hlCnr">
              <input type="text" name="start" id="demo">
            </div>
          </div>
          <div class="pZlConI clearfix">
            <div class="pzLs">
              <label class="pzLs">结束时间：</label>
            </div>
            <div class="hlCnr">
              <input type="text" name="end" id="demo1">
            </div>
          </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">办展地点：</label>
          <input type="text" value="" name="address" maxlength="30" id="address">
        </div>
        <div class="pZlConI clearfix">
          <div class="pZlConI-div">
            <label class="pzLs">logo图片：</label>
            <div class="SelIdetPic-list">
              <div class="SelIdPic-border" id="s">
                <img src="__IMAGES__/SeladdPic.png">
                <h6>点此上传</h6>
                <input type="file" class="add_pic" name="upFile1" id="upFile1">
                <input type="hidden" name="logo" value="">
              </div>
            </div>
          </div>
          <h5>支持上传jpg，png，jpeg格式的图片，大小不超过5M，图片不能含二维码</h5>
        </div>
        <div class="pZlConI clearfix">
          <div class="pZlConI-div">
            <label class="pzLs">作品展示图片：</label>
            <div class="SelIdetPic-list">
              <div class="SelIdPic-border" id="ss">
                <img src="__IMAGES__/SeladdPic.png">
                <h6>点此上传</h6>
                <input type="file" name="upFile2" id="upFile2">
                <input type="hidden" name="detail_img" value="">
              </div>
            </div>
          </div>
          <h5>支持上传jpg，png，jpeg格式的图片，大小不超过5M，图片不能含二维码</h5>
        </div>
        <div class="pZlConI clearfix">
          <label class="pzLs">作品简介：</label>
          <textarea name="content" maxlength="30" id="content" rows="7" cols=""></textarea>
        </div>
        
      </form>
    </div>
  </div>

  <div class="SelNoticeStyle">
    <h4><a href="javascript:;" id="btn" >确定提交</a></h4>
  </div>
</div>
<div class="indexbottom"></div>
</div>
<include file="Public:header" />

</body>
</html>

<script type="text/javascript" src="__JS__/jedate/jedate.js"></script>
<script src="__JS__/jquery-form.js"></script>
<script type="text/javascript">
  function upFile1(){
    var percent = $('.upFile1_percent');
    var progress = $('.upFile1_percent');
    $("#upFile1").wrap("<form id='upFiles1' action='{:U('/Wxin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#upFile1").change(function(){ //选择文件
      $("#upFiles1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" style="width: 100% !important;" ><input type="hidden" name="logo" id="logo" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"/><input type="file" class="add_pic" name="upFile1" id="upFile1">';
          //$('.xuanze_showimge').html(img);
          $('#s').html(img);
          upFile1();
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
  }
  function upFile2(){
    var percent = $('.upFile2_percent');
    var progress = $('.upFile2_percent');
    $("#upFile2").wrap("<form id='upFiles2' action='{:U('/Wxin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
    $("#upFile2").change(function(){ //选择文件
      $("#upFiles2").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
          progress.show(); //显示进度条
          var percentVal = '0%';
          percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
          var percentVal = percentComplete + '%'; //获得进度
          percent.html(percentVal); //显示上传进度百分比
        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" style="width: 100% !important;" ><input type="hidden" name="detail_img" id="detail_img" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"/><input type="file" class="add_pic" name="upFile2" id="upFile2">';
          //$('.xuanze_showimge').html(img);
          $('#ss').html(img);
          upFile2();
          console.log(img);
          progress.hide();
        },
        error:function(xhr){ //上传失败
          //console.log(xhr.status)
        }
      });
    });
  }

  $(function(){
    upFile1();
    upFile2();
  })
  $('#btn').click(function () {
    var name = $.trim($('#auth').val());
    var cate   = $('input:radio[name="cate"]:checked').val();
    //var series = $('input:radio[name="series"]:checked').val();
    var series = $('select[name="series"]').val();
    var tel = $.trim($('#tel').val());
    var wx =  $.trim($('#wx').val());
    var email = $.trim($('#email').val());
    var title = $.trim($('#title').val());
    var question = $.trim($('#question').val());
    var questionTime = $.trim($('#demo').val());
    var end = $.trim($('#demo1').val());
    var address = $('input[name="address"]').val();
    var logo = $('input[name="logo"]').val();
    var detail_img = $('input[name="detail_img"]').val();
    var content = $('textarea[name="content"]').val();
    if(name==''){
      alert("作者必填");
      return false;
    }
    /*if(cate==undefined){
     alert("参展类型必选");
     return false;
     }*/
    /*if(series==undefined){
     alert("作品类型必选");
     return false;
     }*/
    if(tel==''){
      alert("手机号必填");
      return false;
    }
    var reg1 = /^1[3|4|5|7|8][0-9]{9}$/; //验证规则
    if(!reg1.test(tel)){
      alert("手机号码有误，请重填");
      return false;
    }
    if(wx==''){
      alert("微信必填");
      return false;
    }
    if(email==''){
      alert("邮箱必填");
      return false;
    }
    var reg = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;//邮箱

    if(!(reg.test(email))){
      alert("请输入正确邮箱");
      return false;
    }

    if(title == ''){
      alert('标题必填');
      return false;
    }
    /*if(question == ''){
     alert('展览要求必填');
     return false;
     }*/

    var time = new Date();
    var time1 = time.getTime();

    var questionTime1 = new Date(questionTime);
    var questionTime2 = questionTime1.getTime();
    if(questionTime == ''){
      alert('开始时间必填');
      return false;
    }

    if(questionTime2 < time1){
      alert('开始时间必需大于当前时间');
      return false;
    }

    if(end == ''){
      alert('结束时间必填');
      return false;
    }

    if(end <questionTime){
      alert('结束时间必需大于开始时间');
      return false;
    }

    if(address == ''){
      alert('请填写地点！');
      return false;
    }

    if(logo == undefined){
      alert('logo图片不能为空');
      return false;
    }
    if(detail_img == undefined){
      alert('作品展示图片不能为空');
      return false;
    }

    if(content==''){
      alert('作品简介必填');
      return false;
    }
    $.ajax({
      url: "{:U('/Wxin/ArtCommunity/upExhibitors')}",
      type: "post",
      dataType: "json",
      data:$("form").serialize(),
    }).done(function (g) {
      if (g.status == 1) {
        alert(g.info);
        location.href="{:U('Wxin/News/exhibition')}";
      } else {
        alert(g.info);
      }

    })

  })
  $(window).load(function(){
    var widthshijin = $('#demo').width();
    $('.jedatebox').width(widthshijin-2);

  })
jeDate({
    dateCell:"#demo",
    format:"YYYY-MM-DD",
    isinitVal:false,
    isClear:false,
    minDate:"2014-09-19 00:00:00",
    okfun:function(val){alert(val)}
  })

jeDate({
    dateCell:"#demo1",
    format:"YYYY-MM-DD",
    isinitVal:false,
    isClear:false,
    minDate:"2014-09-19 00:00:00",
    okfun:function(val){alert(val)}
 })
  
</script>