<include file="Public:header" />
<div class="allorder_top">
 <h3 class="headH3"> <a href="/Wxin/PersonalCenter/user"> <i class="fa fa-angle-left"></i> 修改密码 </a> </h3>
</div>

<!--shop-->

<div class="p_xiangqing1">
<!--  header  -->
<!--  密码修改  -->
<div class="password_box">
   <p><span>当前密码：</span><input type="password" value="" id="nowpass"/></p>
   <p><span>新设密码：</span><input type="password" value="" id="newpass"/></p>
   <p><span>确认密码：</span><input type="text" value="" id="password"/></p>
 <div class="shop_ddxq clearfix"> <a href="#" id="save">保存</a> </div>
</div>
</div>
<!--  center  -->


<include file="Public:footer" />
<script>
    $('#save').click(function () {
        var nowpass = $('#nowpass').val();
        var newpass = $('#newpass').val();
        var password = $('#password').val();

        if (!newpass.match(/^.{6,24}$/)) {
            dialog.showTips("新密码长度必须是6-24位！","warn");
            return false;
        }
        if(newpass==""){
            dialog.showTips("确认密码不能为空", "warn");
            return false;
        }
        if (!password.match(/^.{6,24}$/)) {
            dialog.showTips("确定密码长度必须是6-24位！","warn");
            return false;
        }

        if(newpass!=password){
            dialog.showTips("两次密码不一致", "warn");
            return false;
        }

        $.ajax({
            url: "{:U('/Wxin/personalCenter/editPassword')}",
            type: "post",
            dataType: "json",
            data: {
                password:newpass,
                nowpass:nowpass,
            }
        }).done(function (g) {
            if (g.status == 1) {
                alert(g.info);
                window.location.href = "{:U('Wxin/PersonalCenter/user')}";
            } else {
                alert(g.info);
            }

        })
    })
</script>

</body>
</html>

