<include file="Public:header" />


<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">
  
  <!--  / user  -->

  <div class="user">
    <div class="">
      
      <div class="row">
        <div class="col-sm-2">
            <include file="Public:user_left" />
        </div>
        <div class="col-sm-10">
          <div class="user_r">
            <ul class="user_all">
              <li class="actived" onclick="fnTabBoxSlide(this,4,1);"><a href="javascript:;">全部订单</a></li>
              <li onclick="fnTabBoxSlide(this,4,2);"><a href="javascript:;">未分享</a></li>
              <li onclick="fnTabBoxSlide(this,4,3);"><a href="javascript:;">待审核</a></li>
              <li onclick="fnTabBoxSlide(this,4,4);"><a href="javascript:;">已完成</a></li>
            </ul>

            <!-- 全部 -->
            <div id="TabShow1" class="TabHide4">
              <div class="user_r_share">
                <h5><span>添加时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>0</td>
                    <td>待分享</td>
                    <td><a href="##" class="myshare">分享</a><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a></td>
                  </tr>
                </table>  
              </div>


              <div class="user_r_share">
                <h5><span>分享时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>0.01</td>
                    <td>待审核</td>
                    <td><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a><a href="javascript:;">删除订单</a></td>
                  </tr>
                </table>  
              </div>

              <div class="user_r_share">
                <h5><span>分享时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>4.01</td>
                    <td>已完成</td>
                    <td><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a><a href="javascript:;">删除订单</a></td>
                  </tr>
                </table>  
              </div>

            </div>
            <!-- 全部 -->

            <!-- 待分享 -->
            <div id="TabShow2" class="TabHide4" style="display: none">
              <div class="user_r_share">
                <h5><span>下单时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>0</td>
                    <td>待分享</td>
                    <td><a href="##" class="myshare">分享</a><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a></td>
                  </tr>
                </table>  
              </div>
            </div>
            <!-- 待分享 -->

            <!-- 已分享 -->
            <div id="TabShow3" class="TabHide4" style="display: none">
              <div class="user_r_share">
                <h5><span>分享时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>0.01</td>
                    <td>待审核</td>
                    <td><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a><a href="javascript:;">删除订单</a></td>
                  </tr>
                </table>  
              </div>
            </div>
            <!-- 已分享 -->

            <!-- 已完成 -->
            <div id="TabShow4" class="TabHide4" style="display: none">
              <div class="user_r_share">
                <h5><span>分享时间：2016-09-05 18:13:59</span><span>订单号：2532742</span></h5>
                <table>
                  <tr>
                    <th class="user_r_sharelist" style="width:38%;">商品</th>
                    <th style="width:10%;">单价</th>
                    <th style="width:10%;">礼金</th>
                    <th style="width:10%;">状态</th>
                    <th style="width:12%;">操作</th>
                  </tr>
                  <tr>
                    <td class="user_r_sharelist"><img src="__IMAGES__/order_pro1.jpg" width="100"><span style="line-height:30px;">恣意的泼笔  蓝正辉</span></td>
                    <td>¥4,000.00</td>
                    <td>4.01</td>
                    <td>已完成</td>
                    <td><a href="{:U('/Home/PersonalCenter/shareDetails/tag/share')}">查看详情</a><a class="delete" href="javascript:;">删除订单</a></td>
                  </tr>
                </table>  
              </div>
            </div>
            <!-- 已完成 -->
          </div>
        </div>
      </div> 
    </div>     
  </div>


  <!--  / user  -->

  
   
</div>
<!--  / warpper  -->

<include file="Public/footer" />


<div class="task">
  <div class="task_bg"></div>
  <div class="task_con" style="margin-top:-300px;">
    <img src="__IMAGES__/dizhi_close.png" width="24">
    <div class="fenxiang">分享成功</div>
  </div>
</div>

</body>

<script>
function fnTabBoxSlide(Focus,Hide,Show){
    $(Focus).siblings().removeClass("actived");
    $(Focus).addClass("actived");
    $(".TabHide"+Hide).hide();
    $("#TabShow"+Show).slideDown("fast");
};

$('.user_r_share .delete').click(function(){
  $(this).parent().parent().parent().parent().remove();
});


$('.myshare').click(function(){
    $('.task').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task_con').addClass('task_con_on');
    },300)
})
$('.task_con>img').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})

</script>
</html>