<include file="Public:header" />
<link href="__CSS__/reset.css" media="screen" rel="stylesheet" type="text/css" />
<!--中间标题-->
<div class="p_credits" style="background-image:url(__IMAGES__/useheadBj.jpg);">
  <div class="headpic">
    <p class="circle_pic" style="background-image:url(<empty name="headimg.person_img">
    __IMAGES__/user_tx.jpg
    <else/>
    {$headimg.person_img}
    </empty>)">
    <input id="imgOne" name="imgOne" type="hidden" />
    <input style="width: 108px;height: 100px; background: red;border-radius: 50%; position: absolute; top: 3px;left: -15px;padding: 0;z-index: 10;cursor: pointer;opacity: 0;" type="file" accept="image/jpg,image/jpeg,image/png" class="input sort" name="serial" id="xuanze" />
    </p>

    <div class="headpicR"><p class="name">{$headimg.person_name}</p>
    <p class="mumber">账户余额：<span>{$result.wallet|default='0.00'}</span>元</p>
      <br />
      <a href="{:U('/Wxin/Order/chongzhi')}" class="mumber">充值</a>
    <a href="#" class="mumber" id="qie" style="background-color: #ccc !important;">切换账户</a>
      <script>
        $('#qie').click(function(){
          // dialog.showTips('','warn',function(){
          $.ajax({
            url:'/Wxin/User/zhuce',
            type:'get',
            data:{},
            dataType:'json',
            success: function(g){

              if(g.status == 1){
                window.location.href = '/Wxin/User/login/';
              }
            }
          })
          //})
        })
      </script>
    </div>
  </div>
</div>
<div class="phone_usershop">
  <!--<div class="p_myorder">
    <ul class="p_myorder_ul clearfix">
      <li><a href="{:U('Wxin/PersonalCenter/myOrder/tag/myOrder/value/1')}">
        <p><img src="__IMAGES__/p_order_03.png" /></p>
        我的订单</a></li>
      <li><a href="all_tuihuo.html">
      <p><img src="__IMAGES__/p_order_04.png" /></p>
      退款/退货</a></li>
      <li><a href="dai_pingjia.html">
        <p><img src="__IMAGES__/p_order_05.png" /></p>
        待评价</a> </li>
      <li><a href="success_pingjia.html">
        <p><img src="__IMAGES__/p_order_07.png" /></p>
        已评价</a></li>
    </ul>
  </div>-->
  <div class="p_myinfo">
    <p><i><img src="__IMAGES__/p_user_03.png" alt="" /> </i> <span>订单</span> 
      <span class="fr_else" onclick="location.href='{:U('Wxin/PersonalCenter/myOrder/tag/myOrder/value/1')}'">全部<i class="fa fa-angle-right"></i></span> </p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/lease/tag/lease/value/1')}'"><i> <img src="__IMAGES__/p_user_01.png" alt="" /></i><span>我的租赁</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/buyerCan/tag/buyerCan/value/2')}'"><i> <img src="__IMAGES__/p_user_18.png" alt="" /></i><span>我的竞卖</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
     <p onclick="location.href='{:U('Wxin/PersonalCenter/canzhan/tag/canzhan/value/3')}'"><i> <img src="__IMAGES__/p_user_19.png" alt="" /></i><span>我的参展</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
<!--    <p  onclick="location.href='mycoupon.html'"><i> <img src="__IMAGES__/p_user_17.png" alt="" /></i><span>我的礼金券</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>-->
    <p  onclick="location.href='{:U('Wxin/PersonalCenter/bank/tag/bank/value/4')}'"><i> <img src="__IMAGES__/p_user_16.png" alt="" /></i><span>我的提现</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/userInfo/tag/userInfo/value/5')}'"><i> <img src="__IMAGES__/p_user_09.png" alt="" /></i><span>我的资料</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/invoice/tag/invoice/value/5')}'"><i> <img src="__IMAGES__/order_no6.png" alt="" /></i><span>我的增值税发票</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p  onclick="location.href='{:U('Wxin/PersonalCenter/address/tag/address/value/5')}'"><i> <img src="__IMAGES__/p_user_10.png" alt="" /></i><span>收货地址</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/password/tag/password/value/5')}'"><i> <img src="__IMAGES__/p_user_11.png" alt="" /></i><span>修改密码</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/favorite/tag/favorite/value/5')}'"><i> <img src="__IMAGES__/p_user_04.png" alt="" /></i><span>我的收藏夹</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <!--<p onclick="location.href='myshare.html'"><i> <img src="__IMAGES__/p_user_12.png" alt="" /></i><span>我的分享</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>-->

    <if condition="$yun eq 2">
      <p onclick="location.href='{:U('Wxin/Shop/shop/tag/shop/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>我的店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <else/>
      <switch name="step">
        <case value="">
          <p onclick="location.href='{:U('Wxin/Shop/index/tag/index/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
        </case>
        <case value="0">
          <p onclick="location.href='{:U('Wxin/Shop/selNotice/tag/selNotice/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
        </case>

        <case value="1">
          <if condition="$type eq 0"><p onclick="location.href='{:U('Wxin/Shop/selIdentity/tag/selIdentity/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p></if>
          <if condition="$type eq 1"><p onclick="location.href='{:U('Wxin/Shop/selIdentityOne/tag/selIdentityOne/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p></if>
        </case>

        <case value="2">
          <p onclick="location.href='{:U('Wxin/Shop/ysjgl/tag/ysjgl/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
        </case>

        <case value="3">
          <p onclick="location.href='{:U('Wxin/Shop/selAudit/tag/selAudit/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
        </case>
        <case value="4">
          <if condition="$shenhe eq 3"><p onclick="location.href='{:U('Wxin/Shop/selSuccess/tag/selSuccess/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>创建店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p></if>
        </case>
        <case value="5">
          <if condition="$shenhe eq 2"><p onclick="location.href='{:U('Wxin/Shop/shop/tag/shop/value/6')}'"><i> <img src="__IMAGES__/dianpu.png" alt="" /></i><span>我的店铺</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p></if>
        </case>

      </switch>
    </if>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/crowdCan/tag/crowdCan/value/7')}'"><i> <img src="__IMAGES__/zongchou.png" alt="" /></i><span>我的众筹</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    <p onclick="location.href='{:U('Wxin/PersonalCenter/newlist/tag/newlist/value/8')}'"><i> <img src="__IMAGES__/tougao.png" alt="" /></i><span>我的投稿</span><span class="fr_else"><i class="fa fa-angle-right"></i></span></p>
    
  </div>
</div>

<!--  / user  -->

<include file="Public:footer" />
<script src="__JS__/jquery-form.js"></script>
<script>
  $(function () {
    var progress = $('.xuanze_percent');
    $("#xuanze").wrap("<form id='myupload1' action='{:U('/Wxin/PersonalCenter/headImg')}' method='post' enctype='multipart/form-data'></form>");
    $("#xuanze").change(function(){ //选择文件
      $("#myupload1").ajaxSubmit({
        dataType:  'json', //数据格式为json
        beforeSend: function() { //开始上传
        },
        uploadProgress: function(event, position, total, percentComplete) {

        },
        success: function(data) { //成功
          var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="person_img" id="pic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
          progress.html(img);
          window.location.reload();
        },
        error:function(xhr){ //上传失败
        }
      });

    });

    var val = "{$_GET['value']}";
    var show = $('div[data-value="'+val+'"]').attr('data-show');
    //console.log(show);
    if(show!=1){
      $('div[data-value="'+val+'"]').show();
      $('div[data-value="'+val+'"]').attr('data-show',1);
    }
  });
  $('.left h5').click(function () {
    var val = $(this).attr('data-value');
    //console.log(val);
    var show = $('div[data-value="'+val+'"]').attr('data-show');
    //console.log(show);
    if(show==1){
      $('div[data-value="'+val+'"]').hide();
      $('div[data-value="'+val+'"]').attr('data-show',0);
    }else {
      $('div[data-value="'+val+'"]').show();
      $('div[data-value="'+val+'"]').attr('data-show',1);
    }
  })
</script>

</body>
</html>