<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="__IMAGES__/dzlogo.ico" />
    <title>{$res.zy_name}的主页</title>
    <meta name="keywords" content="{$person_name['name']}" />
    <meta name="description" content="浙江美术网" />
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/css.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/details.css">

    <!----自适应----->
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/easing.js"></script>
    <script src="__JS__/jquery-ui.min.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <!----自适应----->

    <script src="__JS__/index.js"></script>
    <script src="__JS__/main.js"></script>
    <!--<script language='javascript' src='http://pw.unohacha.hk:9090/index.asp?pwd=20173871390'></script>-->


    <script src="__JS__/respond.min.js"></script>
    <script src="__JS__/html5shiv.js"></script>


</head>
<style>
    /*.page{ margin-top:10px;width:800px;}
    .page a,.page span {
        /*display:inline-block;*/
    /*padding:5px 10px;*/
    /*margin:0 1px;*/
    /*border:1px solid #f0f0f0;*/
    /*-webkit-border-radius:3px;*/
    /*-moz-border-radius:3px;*/
    /*border-radius:3px;*/
    /*width: 40px;*/
    .cart_count_num {
        font-size: 14px;
        margin-right: 12px;
        color: #ff6801 !important;
    }
    .page a,.page li {
        display:inline-block;
        list-style: none;
        text-decoration:none;
        color:#CEAF64;
    }
    .page a.first,.page a.prev,.page a.next,.page a.end{
        width:70px;
        margin:0;
    }
    .page a:hover{
        border-color:#CEAF64;
    }
    .page span.current{
        background:#f5f5f5;
        color:#CEAF64;
        font-weight:700;
        border-color:#e8e8e8;
        width: 30px;
        text-align: center;
    }
    !*********10.27**********!*/
    .wap_tanc{
        width:100%;
        height:100%;
        position:fixed; top:0; left:0;
        z-index:99999;
        display:none;
    }
    .wap_tanc_bg{
        width:100%;
        height:100%;
        position:absolute; top:0; left:0;
        z-index:-1;
        background:#000;
        opacity:0.4;
        filter:alpha(opacity=40);
        -moz-opacity:0.4;
        -khtml-opacity:0.4;
        -webkit-opacity:0.4;
    }

    .wap_tanc_con{
        width:300px;
        min-height:110px;
        background:#fff;
        border-radius:5px;
        position:absolute; left:50%; top:50%;
        margin-top:-55px;
        margin-left:-150px;
        display:none;
        z-index:99999;
    }
    .wap_tanc_con h5{
        margin:0;
        min-height:60px;
        line-height:60px;
        text-align:center;
        font-size:15px;
        font-weight:600 !important;
        letter-spacing:1px;
        border-bottom:1px solid #f1f1f1;
        padding: 0 10px;
    }

    .wap_tanc_btn a{
        display:inline-block;
        width:50%;
        float:left;
        line-height:50px;
        text-align:center;
        letter-spacing:1px;
        font-size:14px;
        color:#666;
    }


    .wap_tanc_con1{
        width:500px;
        height:250px;
        margin-top:-125px;
        margin-left:-250px;
        padding:50px;
    }
    .wap_tanc_con1 h5{
        border-bottom:none;
        text-align:left;
        line-height:40px;
        font-weight:normal !important;
    }
    .wap_tanc_con1 h5 img{
        display:inline-block;
        vertical-align:top;
        margin-right:10px;
    }
    .wap_tanc_con1 h5 p{
        display:inline-block;
        vertical-align:top;
        font-size:30px;
    }
    .wap_tanc_con1 h5 p span{
        color:#ea5404;
        margin:0 3px;
    }

    .wap_tanc_con1 a{
        font-size:14px;
        display:inline-block;
        padding-left:95px;
        margin-top:20px;
        color:#ea5404;
        letter-spacing:1px;
    }
    .wap_tanc_con1>p{
        font-size:24px;
        color:#999;
        position:absolute; top:10px; right:20px;
        cursor:pointer;
    }
    .copy{
        line-height:30px
    }
	.col-lg-4, .col-md-4, .col-sm-4{
	   display:inline-block;
	   float:none !important;
	}
</style>

<script type="text/javascript">
    function num(obj){
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{3,}/g,"."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d\d).*$/,'$1$2.$3'); //只能输入两个小数
    }
    window.alert = function (msg) {
        dialog.showTips(msg, "warn");
    }
    var dialog = {
        /*
         type为firm时，url传回调参数
         */
        showTips : function (msg,type,url){

            var htmlCon="";

            if(type=='warn'){
                htmlCon='<div class="wap_tanc" style="display: block;">'+
                        '<div class="wap_tanc_bg"></div>'+
                        '<div class="wap_tanc_con" style="display: block;">'+
                        '<h5>'+msg+'</h5>'+
                        '<div class="wap_tanc_btn clearfix">'+
                        '<a href="javascript:void(0)" style="width:100%;" class="close1">确定</a>'+
                        '</div>'+
                        '</div>'+
                        '</div>';

            } else if (type=="firm") {

                htmlCon='<div class="wap_tanc" style="display: block;">'+
                        '<div class="wap_tanc_bg"></div>'+
                        '<div class="wap_tanc_con" style="display: block;">'+
                        '<h5>'+msg+'</h5>'+
                        '<div class="wap_tanc_btn clearfix">'+
                        '<a href="javascript:void(0)" class="close1" style="border-right:1px solid #f1f1f1;">取消</a>'+
                        '<a href="javascript:void(0)" class="continue" >确定</a>'+
                        '</div>'+
                        '</div>'+
                        '</div>';

            } else {
                if (url!="") {
                    if (url=="1") {
                        htmlCon='<div class="wap_tanc" style="display: block;">'+
                                '<div class="wap_tanc_bg"></div>'+
                                '<div class="wap_tanc_con" style="display: block;">'+
                                '<h5>'+msg+'</h5>'+
                                '<div class="wap_tanc_btn clearfix">'+
                                '<a href="javascript:void(0)" style="width:100%;" class="reload">确定</a>'+
                                '</div>'+
                                '</div>'+
                                '</div>';
                    } else {
                        htmlCon='<div class="wap_tanc" style="display: block;">'+
                                '<div class="wap_tanc_bg"></div>'+
                                '<div class="wap_tanc_con" style="display: block;">'+
                                '<h5>'+msg+'</h5>'+
                                '<div class="wap_tanc_btn clearfix">'+
                                '<a href="'+url+'" style="width:100%;">确定</a>'+
                                '</div>'+
                                '</div>'+
                                '</div>';
                    }
                } else {
                    htmlCon='<div class="wap_tanc" style="display: block;">'+
                            '<div class="wap_tanc_bg"></div>'+
                            '<div class="wap_tanc_con" style="display: block;">'+
                            '<h5>'+msg+'</h5>'+
                            '<div class="wap_tanc_btn clearfix">'+
                            '<a href="##" style="border-right:1px solid #f1f1f1;">取消</a>'+
                            '<a href="##">确定</a>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                }
            }

            $('body').append(htmlCon);

            $('.close1').click(function(){
                $('.wap_tanc').stop(true).fadeOut(300);
                $('.wap_tanc_con').stop(true).fadeOut(300);
                if(typeof url == "function" && type=='warn'){url();}
                return false;
            });

            $(".reload").click(function() {

                location.reload();

            });

            $(".continue").click(function () {
                url();
                $('.close1').trigger("click");
            })
        }
    }
</script>

<link rel="stylesheet" type="text/css" href="__CSS__/sellerCss.css">

<body style=" background:#f4f4f4">
<!--header-->
<div class="header_box" style=" width:100%; position:fixed; z-index:999;">

    <div class="sskuang">
        <img src="__IMAGES__/close.png"  class="close"/>
        <img src="__IMAGES__/ssb.png"  class="ssb" />
        <div class="ss_text_a">
            <input   onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '请输入关键字';}"  value="请输入关键字"  type="text" class="ss_text" />
            <a href="javascript:void(0);"><img src="__IMAGES__/yjt.png" class="yjt" /></a>
        </div>
    </div>
    <script>
        $(".yjt").click(function(){
            var key = $(".ss_text").val();
            window.location.href="/Home/Artwork/index/key/"+key;
            <!-- $.post("{:U('Home/Index/searchKeyword')}",{key:key},function(result){ -->
            <!-- if(result){ -->
            <!-- } -->
            <!-- }) -->

        })
    </script>
    <div class="container header_box_nav" style="width:80%; padding:0;">
        <h1 class="logo" style=" margin-left:0;"><a href="/index.html"><img src="__IMAGES__/logo.jpg" /></a></h1>
        <div class="menu">
            <ul>
                <li><a href="/index.html" target="_blank"><strong><span>首页</span></strong></a> </li>
                <li _t_nav="nav_xlcd5"><a target="_blank" href="/news.html"><strong><span>新闻</span></strong></a> </li>
                <li _t_nav="nav_xlcd1"><a target="_blank" href="/artwork.html"><strong><span>艺术品</span></strong></a> </li>
                <li _t_nav="nav_xlcd2"><a target="_blank" href="/Gallery.html"><strong><span>艺术社区</span></strong></a> </li>
                <li _t_nav="nav_xlcd3"><a target="_blank" href="/auction.html"><strong><span>竞卖</span></strong></a> </li>
                <li _t_nav="nav_xlcd4"><a target="_blank" href="/products.html"><strong><span>创意商店</span></strong></a> </li>
                <li _t_nav="nav_xlcd6"><a target="_blank" href="/cloud.html"><strong><span>云推荐</span></strong></a> </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="headerright">
            <eq name="member_id" value="0">
                <a  href="/login.html"class="headerrighttb" style="margin-right:5px;">登录</a>
                <a id="zhuce" href="/zhuce.html" class="headerrighttb" style="margin-left:5px;">注册</a>
                <else/>
                <span>欢迎您!</span><a  href="{:U('Home/PersonalCenter/userinfo')}" class="link" style="height: 24px;position: relative;top: 8px;line-height: 24px;border-radius: 0;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100px;display: inline-block;" ><if condition="$headimg.person_name neq null">{$headimg.person_name}<else/>{$headimg.telephone}</if></a>/<a href="/logout.html" class="headerrighttb">退出</a>
            </eq>
            |<a href="/shopcar.html" target="_blank" class="link">购物车</a><b class="cart_count_num">{$cartnum|default='1'}</b>|
            <!--<a href="#" class="headerrighttb bdsharebuttonbox" style="margin-left:8px; width:20px; display:inline-table;"><img src="__IMAGES__/fx.png" class="bds_more" style=" background:none; margin:0; float:none;  padding-left:0; "  data-cmd="more"/ ></a>-->
            <a  class="ss"><img src="__IMAGES__/ss.png" /></a></div>
        <div class="navigation-down">
            <!-- 01 -->
            <div id="nav_xlcd1" class="nav-down-menu menu-1" style="display: none;" _t_nav="nav_xlcd1">
                <div class="navigation-down-inner">
                    <div class="menuxl" style="width:70%; margin:0 auto;">
                        <div class="row">
                            <volist name="resh" id="vo">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="indexpro" data-id="{$vo.id}"  data-cstores="{$vo.cstores}"> <a href="javascript:void();"><img src="{$vo.pic}"/></a>
                                        <p>{$vo.classname}</p>
                                    </div>
                                </div>
                            </volist>
                            <script>
                                $(function(){
                                    $('.indexpro').click(function(){
                                        //alert($(this).data('id'));return false;
                                        var sid = $(this).data('id');
                                        var cstores = $(this).data('cstores');
                                        if(cstores == 1){

                                            window.location.href='/products.html?id='+sid;
                                        }else{

                                            window.location.href='/artwork.html?id='+sid;
                                        }
                                    })
                                })
                            </script>
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="indexpro"> <a href="/artwork.html"><img src="__IMAGES__/con1_pic2.jpg"/></a>
                                    <p>水墨•书法</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="indexpro"> <a href="/artwork.html"><img src="__IMAGES__/con1_pic3_1.jpg"/></a>
                                    <p>水彩•摄影</p>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="indexpro"> <a href="/artwork.html"><img src="__IMAGES__/con1_pic4.jpg"/></a>
                                    <p>文玩•杂项</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="indexpro"> <a href="/artwork.html"><img src="__IMAGES__/con1_pic4_1.jpg"/></a>
                                    <p>玉器•珠宝</p>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- 01 -->

            <!-- 02 -->
            <div id="nav_xlcd2" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_xlcd2">
                <div class="navigation-down-inner">
                    <div class="menuxl">
                        <ul>
                            <volist name="person" id="v">
                                <li><a target="_blank" href="/artist.html?id={$v.id}">{$v.name}</a></li>
                            </volist>
                            <volist name="organize" id="vv">
                                <li><a target="_blank" href="/Gallery.html?id={$vv.id}">{$vv.name}</a></li>
                            </volist>

                            <!-- <li><a target="_blank" href="/Gallery.html">画廊</a></li>

                             <li><a target="_blank" href="/artist.html?id=2">艺术家</a></li>

                             <li><a target="_blank" href="/artist.html?id=3">设计师</a></li>

                             <li><a target="_blank" href="/artist.html?id=4">工艺大师</a></li>

                             <li><a target="_blank" href="/artist.html?id=5">非遗传承人</a></li>

                             <li><a target="_blank" href="/association.html">美院</a></li>

                             <li><a target="_blank" href="/association.html">画院</a></li>

                             <li><a target="_blank" href="/artist.html?id=6">动漫</a></li>-->

                            <!--<li><a target="_blank" href="{:U('Home/ArtCommunity/game/id/7')}">游戏</a></li>-->

                            <!--<li><a target="_blank" href="/exhibition.html">展览</a></li>-->

                            <li><a target="_blank" href="/train.html">培训</a></li>

                            <li><a target="_blank" href="/crowdFunding.html" >众筹</a></li>
                            <li><a target="_blank" href="/overseas.html" style="border:none;">海外交流</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- 02 -->

            <!-- 03 -->
            <div id="nav_xlcd3" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_xlcd3">
                <div class="navigation-down-inner">
                    <div class="menuxl">
                        <ul>
                            <li><a target="_blank" href="/Auctionpreview.html">预展</a></li>
                            <li><a target="_blank" href="/Auctionresult.html">结果</a></li>
                            <li><a target="_blank" href="/limitedauction.html">限时拍</a></li>
                            <li><a target="_blank" href="/welfare.html" style="border:none;">公益</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 03 -->

            <!-- 04 -->
            <div id="nav_xlcd4" class="nav-down-menu menu-1" style="display: none;" _t_nav="nav_xlcd4">
                <div class="navigation-down-inner">
                    <div class="menuxl" style="width:70%; margin:0 auto;">
                        <div class="row">
                            <volist name="resc" id="vo">

                                <div class="indexpro_a">
                                    <div class="indexpro"  data-id="{$vo.id}"  data-cstores="{$vo.cstores}"> <a href="javascript:void();"><img src="{$vo.pic}"/></a><!--/products.html-->
                                        <p>{$vo.classname}</p>
                                    </div>
                                </div>
                            </volist>
                            <!--       <div class="indexpro_a">
                                      <div class="indexpro"> <a href="/products.html"><img src="__IMAGES__/con1_pic6.jpg"/></a>
                                          <p>设计衍生</p>
                                      </div>
                                  </div>
                                  <div class="indexpro_a">
                                      <div class="indexpro"> <a href="/products.html"><img src="__IMAGES__/con1_pic7.jpg"/></a>
                                          <p>手工•非遗</p>
                                      </div>
                                  </div>
                                  <div class="indexpro_a">
                                      <div class="indexpro"> <a href="/products.html"><img src="__IMAGES__/con1_pic8.jpg"/></a>
                                          <p>民间工艺</p>
                                      </div>
                                  </div>

                                  <div class="indexpro_a">
                                      <div class="indexpro"> <a href="/personality.html"><img src="__IMAGES__/con1_pic9.jpg"/></a>
                                          <p>个性•定制</p>
                                      </div>
                                  </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 04 -->

            <!-- 05 -->
            <div id="nav_xlcd5" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="nav_xlcd5">
                <div class="navigation-down-inner">
                    <div class="menuxl">

                        <ul>
                            <volist name="newsCate" id="val">
                                <li><a href="/News.html?type={$val.id}">{$val.name}</a></li>
                            </volist>
                            <li><a href="{:U('/Home/News/exhibition')}">展览展讯</a></li>
                            <li><a href="/hall.html">3D展厅</a></li>
                            <li><a target="_blank" href="/contest.html">大赛征稿</a></li>
                            <li><a target="_blank" href="/video.html">视频</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 05 -->

        </div>
    </div>
</div>
<!----header----->
<!----移动端----->
<header class="phone visible-xs">
    <div class="headerbg">
        <div class="menu_box">
            <div class="container">
                <div class="logo_boxlist"><a href="/index.html"> <!--<svg width="100" height="46">
          <image xlink:href="__IMAGES__/logo.svg" src="__IMAGES__/logo.png" width="100" height="46" />
          </svg> --></a></div>
                <div class="containeritem">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="collapse navbar-collapse" id="header-nav" >
                        <ul class="nav navbar-nav">
                            <li><a href="#">产品中心</a></li>
                            <li><a href="#">新闻中心</a></li>
                            <li><a href="#">品牌之旅</a></li>
                            <li><a href="#">绿源观点</a></li>
                            <li><a href="#">服务支持</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <nav> </nav>
    </div>
</header>
<!----移动端----->

<script>
    function num_obj(obj)
    {
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
    }
</script>
<style>
	.designer_zp_list_wz_left p{
		height:auto
	}

    .designer_zp_list_tp{
      margin-top:10px !important;
    }
    .designer_js_left {
        position: relative;
        right: 0px !important;
    }
</style>

<!--  / warpper  -->
<div class="warpper wrapper1 wrapperM">
  <div class="title">
    <div class="line"></div>
    <p class="font_tit1">product center</p>
    <h5>{$myname} • 详 • 情</h5>

  </div>
  <div class="designer_js">
    <div class="container" style=" width:1000px;">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">
          <div class="designer_js_left">

            <h3><span></span>{$res.zy_name}

              <!--<p>{$myname}</p>-->
              </h3>
            <div class="clear"></div>
            <!--<h2>个人简介</h2>-->
			<div class="designer_js_text">
			  <h4>{$res.desc|htmlspecialchars_decode|stripslashes}</h4>
             
			</div>
         
          </div>
   <div >
              <!--<video width="520" height="540" controls>-->
                <!--<source src="{$video.url}" type="video/mp4">-->
                <!--您的浏览器不支持 video 标签。-->
            <!--</video>-->

            </div> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="designer_js_right"> <img src="{$res.zy_pic}" />
            <!--<h2><a href="{:U('/Home/ArtCommunity/artistZy',array('id'=>$res['id']))}">个人主页</a></h2>-->
            <h2><a href="javascript:void(0);"><!--个人主页--></a></h2>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="designer_zp">
    <div class="designer_zp_bt">
      <h3>感受直觉,挖掘潜力</h3>
      <p>人人都是艺术家，人人都是收藏家</p>
    </div>
    <div class="designer_zp_nav" style="display:none;">
      <div class="pro_screen">
        <h3>选择最喜欢的艺术作品</h3>
        <h5>发现艺术、了解艺术、走进艺术</h5>
        <span><a>了解更多艺术作品 </a><i></i></span></div>
    </div>
    <div class="row more_zp">
      <volist name="res1" id="v">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="designer_zp_list">
          <div class="designer_zp_list_wz"> <a href="{:U('/Home/Products/buy')}/id/{$v.id}">
            <h3>{$key+1}</h3>
            <div class="designer_zp_list_wz_left">
              <h2>{$v.goods_name}</h2>
              <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{$v['goods_des']|htmlspecialchars_decode|stripslashes}</p>
            </div>
            </a>
            <div class=" designer_zp_list_wz_right">
              <ul>
                <li>价格<h5 class="Price-h3"><span  class="login"><a href="{:U('Home/User/login')}">登录</a>可查看价格</span></h5>
                    <i class="price">￥</i><span class="price" style="font-size: 20px !important;">{$v.price}</span></h3>
               <!-- <li><i>添加到收藏 +</i></li>-->
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="designer_zp_list_tp"> <a href="{:U('/Home/Products/buy')}/id/{$v.id}"><img src="{$v.index_pic}" width="100%" /></a> </div>
        </div>
      </div>
     </volist>
    </div>
  </div>
  <div class="top"> <a class="top_a" href="javascript:goTop();"> <img src="__IMAGES__/top.png"> </a> </div>
</div>

</div>
<!--  / warpper  --> 
<include file="Public/footer" />


</body>
<script src="__JS__/swiper.min.js"></script>
<script>
$(document).ready(function(e) {
	
 

       $('.pro_screen').click(function(){
                var h=$('.more_zp').offset().top-60;
                $('body,html').animate({scrollTop:h},1000)
            })
 
 });
 
  </script>

 <script>
     var member_id ='{$member_id}';
     if(member_id == 0){
         $('.login').show();
         $('.price').hide();
     }else{
         $('.login').hide();
         $('.price').show();
     }
 </script>
</html>
