<include file="Public:header" />

<!--  / warpper  -->
<div class="warpper" style="padding-bottom:0;">
  <div class="products_inner">
    <div class="products_inner_ban">
      <div class="swiper-container swiper-container1" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="device"> <img src="{$res.index_pic}" width="100%"> </div>
          </div>
          <!--<div class="swiper-slide">
            <div class="device"> <img src="images/pro1.jpg" width="100%"> </div>
          </div>
          <div class="swiper-slide">
            <div class="device"> <img src="images/pro1.jpg" width="100%"> </div>
          </div>-->
        </div>
        <div class="swiper-pagination pagination1"></div>
      </div>
    </div>
    <div class="buy">
      <div class="buy_con_Tab1">
        <div class="buy_conTab1_1">
          <div class="row">
            <div class="col-lg-6 col-lg-md-6 col-sm-6">
              <div class="buy_con_text pm_con_text">
                <div class="CrowdFdot">
                  <h3>{$res.goods_cap}：{$res.goods_name}</h3>
                  <div class="crowdFdotTop clearfix">
                    <div class="CorwdFLeft">
                      <div class="CorwdF-plate">
                        <h3 class="CorwdF_h3"><span>筹集中</span><i>众筹活动进行中</i></h3>
                        <div class="CorwdFR-top"> <span>发起人：</span>
                          <div class="CorwdFR-topPic"> <img src="images/29_avatar_small2.jpg"> </div>
                          <p>王羽天</p>
                        </div>
                        <div class="CrowdF"><i>已筹
                          <if condition="$price eq ''"><font>0元</font></if>
                          <if condition="$price neq ''"><font>{$price}元</font></if>
                          / 目标 {$res.total_price}万元</i>
                          <i>完成 {$res.width}</i></div>
                        <span class="Schedule"><div class="Schedulel" style="width:{$res['width']} !important;" ></div></span> </div>
                      <div class="CrowdF-plate">
                        <div class="ys4 ys4_tit clearfix"> <span>认购:</span>
                          <p class="getnums">
                            <b>
                              <input type="text" style="width: 160px !important;text-align: center;height: 28px;font-size: 16px;"  value="{$res.mini}" onchange="exchange()">
                            </b>
                            <span>+</span><span>-</span></p>
                        </div>
                        <div class="ys4_tit clearfix"> <span class="gfzb">股份占比：{$res['mini']/100/$res['total_price']}%</span> </div>
                      </div>
                      <div class="CrowdF-plate"> <span class="CrowdF-input">
                        <input type="checkbox" class="check" checked=""/>
                        </span><span><a href="#">《风险揭示书》</a> / <a href="#">《用户服务协议》</a></span> </div>
                      <div class="buy_more">
                        <if condition="$res.end gt $now"><span class="more gmdd" style="background:#d70000;"><a href="javascript:void(0)" class="bu buy1" style=" color:#fff;" data-price="{$res.total_price}" data-id="{$res.id}">认购 </a><i></i></span></if>
                        <if condition="$res.end lt $now"><span class="more gmdd" style="background:grey;"><a href="javascript:void(0)" class="bu" style=" color:#fff;" >已结束 </a><i></i></span></if>
                        <div class="clear"></div>
                      </div>
                      <ul class="touzi-round">
                        <li> <strong>{$res.total_price} 万元</strong> <span>目标金额</span> </li>
                        <li> <strong>{$res.gz}万元</strong> <span>总估值</span> </li>
                        <li> <strong>{$res.crgf}%</strong> <span>出让股份</span> </li>
                        <li> <strong>{$res.mini}<sup>万元</sup></strong> <span>起投金额</span> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="pm_cont">
      <ul class="pm_cont_list">
        <li  class="focus" onClick="fnTabBoxFade(this,4,1);" class="on">
        <a>详情介绍</a>
        </li>
        <li onClick="fnTabBoxFade(this,4,2);"><a>投资概述(<span>5</span>)</a></li>
        <li onClick="fnTabBoxFade(this,4,3);"><a >资产包介绍</a></li>
        <li onClick="fnTabBoxFade(this,4,4);"><a>跟投记录</a></li>
        <div class="clear"></div>
      </ul>
      <div id="TabShow1" class="TabHide4 pm_cont1" >
        <div class="pm_cont1_top">
          {$goods_remind.content|htmlspecialchars_decode|stripslashes}
        </div>
        <div class="pm_cont1_bottom"> <span>材料：{$res.goods_skin}</span> <span>尺寸：{$res.goods_range}cm</span> <span>上市时间：{$res.goods_care}</span> <span>浏览次数： {$res.num}</span> <!--<span>价格范围：500-800</span>-->
          <div class="clear"></div>
          <div class="pm_cont1_text_all">
            <div class="col-lg-6 col-md-6 col-sm-6 colpadding">
              <div class="buyCt buyCtLeft">
                <p><span>作者简介：</span></p>
                <p><img src="{$res.goods_cap_pic}">{$res.goods_cap_des|htmlspecialchars_decode|stripslashes}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 colpadding">
              <div class="pm_cont1_text">
                <p><span>作品说明：</span></p>
                {$res.desc}
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="TabShow2" class="TabHide4 pm_cont4"  style=" display:none" >
        <div class="pm_cont3_con">
          <h2>{$res.tz_desc|htmlspecialchars_decode|stripslashes}</h2>
        </div>
      </div>
      <div id="TabShow3" class="TabHide4 pm_cont3"  style="display:none;"  >
        <div class="pm_cont3_con">
          <h2>{$res.zcb_desc|htmlspecialchars_decode|stripslashes}</h2>
        </div>
      </div>
      <div id="TabShow4" class="TabHide4 pm_cont2"  style=" display:none" >
        <ul class="pm_top">
          <li>跟投人</li>
          <li>金额</li>
          <li>时间</li>
          <div class="clear"></div>
        </ul>
        <volist name="jilu" id="j">
        <ul class="pm_ok">
          <li>{$j.person_name}</li>
          <li>{$j.pay_price}</li>
          <li>{$j.pay_price}</li>
          <div class="clear"></div>
        </ul>
          </volist>
      </div>
    </div>
  </div>
</div>
<form action="{:U('/Wxin/ArtCommunity/pay')}" method="post" name="form1">
  <input type="hidden" name="post_data" value="" />
</form>
<div class="products_inner_btn clearfix"> <a class="pro_innera1 pro_innera11" href="products_inner.html"><img src="images/pro_inner_kf.png" width="18"></br>
  <span>客服</span></a> <a class="pro_innera1 pro_innera11" href="products_inner.html"><img src="images/pro_inner_sc.png" width="18"></br>
  收藏</span></a> <a class="pro_innera3">加入购物车</a> <a class="pro_innera2" href="##">立即购买</a> </div>
</div>
</div>
<!--  / warpper  --> 

<!--  / footer  --> 

<!--  / footer  -->

</body>
<script language="javascript">
  $(document).ready(function(){

    var bignum = Number($('.ys4 .getnums b input').val());
    //alert(bignum);return false;
    var mini = '{$res.mini}';
    if ($(this).html() == '+') {
      $('.ys4 .getnums b input').val(parseInt(bignum) + parseInt(mini))
    } else if ($(this).html() == '-' && bignum > mini) {
      $('.ys4 .getnums b input').val(bignum - mini)
    }

    var post = {};

    post.price = $('.ys4 .getnums b input').val();
    var total_price = post.price;
    var total_price1 = '{$res.total_price}';
    $('.gfzb').html('股份占比：'+ total_price/100/total_price1+ '%')
  });

  function exchange(){
    var bignum = Number($('.ys4 .getnums b input').val());
    //alert(bignum);return false;
    var mini = '{$res.mini}';
    if ($(this).html() == '+') {
      $('.ys4 .getnums b input').val(parseInt(bignum) + parseInt(mini))
    } else if ($(this).html() == '-' && bignum > mini) {
      $('.ys4 .getnums b input').val(bignum - mini)
    }

    var post = {};

    post.price = $('.ys4 .getnums b input').val();
    var total_price = post.price;
    var total_price1 = '{$res.total_price}';
    $('.gfzb').html('股份占比：'+ total_price/100/total_price1+ '%')
  }

  $(".buy1").click(function (){
    var member_id = '{$member_id}';
    if(member_id == 0){
      dialog.showTips("请先注册，若有账号，请先登录！", "",'/Wxin/User/login');
      return false;
    }

    if($('.check').attr('checked') == ''){
      alert('请勾选协议书！');
      return false;
    }

    var post = {};
    post.member_id = '{$member_id}';
    post.price = $('.ys4 .getnums b input').val();
//        var price1 = $(this).attr('data-price');
//        post.price = post.count1 * price1;
    post.id = $(this).attr('data-id');

    var final_price = '{$res.total_price}';
    var ycje  = '{$price}';
    var mini = '{$res.mini}';
    var total_price = post.price;
    //alert(mini);
    //alert((final_price*10000-ycje)<mini);return false;
    //alert(total_price);return false;
    //alert(total_price-mini);return false;
    if((parseInt(final_price*10000)-parseInt(ycje))>parseInt(mini)){
      if(parseInt(total_price) < parseInt(mini)){
        alert("认购金额必须大于起投金额");
        return false;
      }
    }


    //alert(final_price*10000-ycje);return false;

    var crgf  = parseInt('{$res.crgf}');
    if(total_price > (final_price*10000-ycje)){
      alert('认购金额不能大于目标金额');
      return false;
    }


    /*
     var mini = '{$res.mini}';
     var total_price = post.price;
     //alert(mini);
     if(total_price < mini){
     alert("认购金额必须大于起投金额");
     return false;
     }

     var ycje  = '{$price}';
     var price = '{$res.total_price}';
     var crgf  = '{$res.crgf}';
     if(total_price > (price*10000-ycje)){
     alert('认购金额不能大于目标金额');
     return false;
     }*/



    var post1 = JSON.stringify(post);
    $("input[name=post_data]").val(post1);
    $("form[name=form1]").submit();

  })

  $(document).ready(function(e) {

    $(function () {

      $('.zpjs').click(function () {
        var h = $('.buy_con_Tab1').offset().top - 230;
        $('body,html').animate({scrollTop: h}, 2000)
      })

      $('.wypl').click(function () {
        var h = $('.cont_main').offset().top;
        $('body,html').animate({scrollTop: h}, 2000)
      })

      $('.tjbq').click(function () {
        var h = $('.biaoqian').offset().top;
        $('body,html').animate({scrollTop: h}, 2000)
      })

    })
  })

  $(function(){
    $(".jqzoom").jqueryzoom({
      xzoom:420,
      yzoom:400,
      offset:10,
      position:"right",
      preload:1,
      lens:1
    });
    $("#spec-list").jdMarquee({
      deriction:"left",
      width:420,
      height:70,
      step:2,
      speed:4,
      delay:10,
      control:true,
      _front:"#spec-right",
      _back:"#spec-left"
    });
    $("#spec-list img").bind("mouseover",function(){
      var src=$(this).attr("src");
      $("#spec-n1 img").eq(0).attr({
        src:src.replace("\/n5\/","\/n1\/"),
        jqimg:src.replace("\/n5\/","\/n0\/")
      });
      $(this).css({
        "border":"2px solid #6d79df",
        "padding":"1px"
      });
    }).bind("mouseout",function(){
      $(this).css({
        "border":"1px solid #ccc",
        "padding":"2px"
      });
    });
  })


  $(document).ready(function(){

    var show = false
    $(".ddgd").click(function(){
      //$(".more_gs").slideToggle();
      if(show==false){
        $(".more_text").slideDown();
        $(".ddgd").text("点击收回")

        show=true;
      }else{
        $(".more_text").slideUp();
        $(".ddgd").text("查看更多+")
        show=false;

      }
    })
    $(".ddgd").click(
            function(event){event.stopPropagation();}
    )


  })

  $('.ys4 .getnums span').click(function() {
    var bignum = Number($('.ys4 .getnums b input').val());
    var mini = '{$res.mini}';
    if ($(this).html() == '+') {
      $('.ys4 .getnums b input').val(parseInt(bignum) + parseInt(mini))
    } else if ($(this).html() == '-' && bignum > mini) {
      $('.ys4 .getnums b input').val(bignum - mini)
    }

    var post = {};

    post.price = $('.ys4 .getnums b input').val();
    var total_price = post.price;
    var total_price1 = '{$res.total_price}';
    $('.gfzb').html('股份占比：'+ total_price/100/total_price1+ '%')
  })
$(document).ready(function(){
	
	  
  var mySwiper = new Swiper('.swiper-container1',{
    pagination: '.pagination1',
    loop:true,
    grabCursor: true,
	autoplay:5000, 
	spaceBetween: 0,
	slidesPerGroup : 1,//设置几个一切换
	centeredSlides : true, //当前居中
    paginationClickable: true,
	autoplayDisableOnInteraction : false    //用户操作点的时候  停止自动切换
  })
   
	

$(window).scroll(function(){
  
  if($(window).scrollTop()>($('.products_inner_con').offset().top-60)){  
      $('.proinner_nav').addClass('proinner_navon');
      }else{
		  $('.proinner_nav').removeClass('proinner_navon');
		  }
	  	   	
}) 	


$('.show_xzd1').click(function(){
	$('.load_dh').stop(true).fadeIn(600);
	
	setTimeout(function(){
		$('.load_dh').stop(true).fadeOut(600);
		},4000)
	
	})


})


$(window).load(function(e) {
	var height1 = $(".device img").height();
	$(".swiper-container1").css("height",height1)

})

$(window).resize(function(e) {
	var height1 = $(".device img").height();
	$(".swiper-container1").css("height",height1)
})

$(document).ready(function(e) {
	var height1 = $(".device img").height();
	$(".swiper-container1").css("height",height1)

})


</script>
<script>
  $(document).ready(function(){
  
   var show = false
   $(".ddgd").click(function(){
     //$(".more_gs").slideToggle();
     if(show==false){
       $(".more_text").slideDown();
      $(".ddgd").text("点击收回")
      
       show=true;
       }else{
          $(".more_text").slideUp();
          $(".ddgd").text("查看更多+")
          show=false;
        
         }
        })
  $(".ddgd").click(
     function(event){event.stopPropagation();}
    )
  

})
</script>
</html>
