@charset "utf-8";

.com-link {
	display: inline-block;
	padding:5px 25px 10px 15px;
	background: url("../images/linkbg.png") no-repeat right bottom ;
	border-width:0 0 1px 1px;
	border-style:solid;
	border-color:#000000;
}

@media all and (-webkit-min-device-pixel-ratio : 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx), (min-device-pixel-ratio: 1.5) {
    .com-link {
        background-image: url("../images/linkbg-X2.png");
        background-size:13px 12px;
    }
}

