<include file="Public:head"/>
<link rel="stylesheet" href="../css/lists.css">

<div class="container">
<div class="inner clearfix"> <include file="Public:left"/> 
  <!-- end content-left -->
  
  <div class="content-right fl">
    <h1 class="content-right-title">众筹记录列表</h1>
    <form action="" method="get">
      <div class="tables-searchbox newcearchbox">

        <input type="text" placeholder="姓名/手机号" class="input" name="title" value="{$title}" >
        <!-- <input type="text" placeholder="商家编码" class="input" name="goods_no" value="" > -->
        <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        <!--<a href="/Item/item_export" class="btn btn-warning"><i class="gicon-share white"></i>-->
        <!--产品导出</a>-->
        <a href="{:U('/Admin/Community/indexcrowd/is_sale1/5')}" class="btn btn-success fr">导出</a>
      </div>
    </form>
    <!-- end tabs -->
    
    <table class="wxtables mgt10 table-order" id="tb_3" style="text-align:center;">
      <thead>
        <tr class="po_list">
          <td>购买者</td>
          <td>作品</td>
          <td>发布者</td>
          <td>目标价(万元)</td>
          <td>支付方式</td>
          <td>支付金额</td>
          <!--<td>状态</td> -->
          <td>支付日期</td>
          <!--<td>操作<span></span></td>-->
        </tr>
      </thead>
      <tbody>
        <foreach name="res" item="vo">
          <tr>
            <td><div>{$vo.realname}</div><div>{$vo.telephone}</div></td>
            <td><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
                <div class="table-item-img"> <img src="{$vo['logo_pic']}" alt=""> </div>
                <div class="table-item-info" style="width: 100px">
                  <p style="height:auto">{$vo.goods_cap|mb_substr = ###,0,14,'utf-8'} <br/></p>
                   </div>
                </a> </div></td>
            <if condition="$vo.promulgator eq 0"><td>美术网平台</td></if>
            <if condition="$vo.promulgator neq 0"><td>{$vo.qy_name}</td></if>
            <td> {$vo.total_price} </td>
            <td> <switch name="vo.pay_way">
              <case value="1">支付宝支付</case>
              <case value="2">银联支付</case>
              <case value="3">微信支付</case>
              <case value="4">余额支付</case>
            </switch> </td>
            <td> {$vo.pay_price}</td>
            <!--<if condition="$vo.shenhe eq 0"><td style="color: red">待审核</td></if>
            <if condition="$vo.shenhe eq 1"><td style="color: red">审核通过</td></if>
            <if condition="$vo.shenhe eq 2"><td style="color: red">审核拒绝</td></if> -->

            <td class="class_name">
              <span>{$vo.pay_time|date="Y-m-d H:i:s",###}</span>
            </td>
                  
            <!--<td>
              <a href="{:U('/Admin/Community/editCrowd/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">编辑</a>

              <a href="javascript:;" class="btn change-is_sale1 <eq name="vo['is_sale1']" value="0">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"  title="众筹情况"><eq name="vo['is_sale1']" value="0">众筹<else />众筹结束</eq></a>

              <a href="{:U('/Admin/Community/delCrowd/id')}/{$vo.id}" onclick="{if(!confirm('确定删除作品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除">删除</a>
              <if condition="$vo.shenhe eq 0"><a href="javascript:;" class="btn huifu" style="background-color: green;border-color: green; color: white" data-id="{$vo.id}">审核</a></if>

              </td>-->
          </tr>
        </foreach>
      </tbody>
    </table>
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
      <div class="fl">
        <div class="fr">
          <div class="pages"> {$page} </div>
          <!-- end paginate --> 
        </div>
      </div>
      <!-- end tables-btmctrl --> 
      
    </div>
    <!-- end content-right --> 
  </div>
</div>


  <div id="albums-overlay" class="disshow"></div>
  <div class="jbox addfenlei disshow" style="height:auto; overflow: visible;">
    <div class="jbox-title">
      <div class="jbox-title-txt">回复评论</div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 140px;overflow: visible;">
      <div class="formitems">
        <input type="hidden" class="input sort" name="commentId" id="commentId" >
        <label><span class="colorRed">*</span>内容：</label>

        <div class="form-controls">
          <textarea style="width: 200px;height: 100px;margin-left: -30px;" id="content"></textarea>
          <span class="fi-help-text"></span>
        </div>
      </div>

    </div>
    <div class="jbox-buttons">
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="agree">通过</a>
      <a href="javascript:void(0);" class="jbox-buttons-ok btn " id="disagree" style="background-color: red;border-color: red; color: white">拒绝</a>
      <a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
  </div>
  <script src="__JS__/jquery.js"></script>
  <script>
      $(".huifu").click(function(){
          $('.addfenlei').show();
          $('#albums-overlay').show();
      })

      $(".cancle").click(function(){
          $(this).parent().parent('.jbox').hide();
          $('#albums-overlay').hide();
      })

      $(".huifu").click(function(){
          var commentId = $(this).attr('data-id');
          $('#commentId').val(commentId);
      })

      $('#agree').click(function () {
          var id1 = $('#commentId').val();
          var content = $.trim($('#content').val());
          if(content == ''){
              alert('内容必填');
              $('#content').focus();
              return false;
          }
          $.ajax({
              url: "{:U('/Admin/Community/agree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })

      $('#disagree').click(function () {
          var id1 = $('#commentId').val();
          var content = $.trim($('#content').val());
          if(content == ''){
              alert('内容必填');
              $('#content').focus();
              return false;
          }

          $.ajax({
              url: "{:U('/Admin/Community/disagree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
                  disagree_detail:content
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })
  </script>
<!-- end container --> 
<include file="Public:foot"/>

<!-- $(".change-status").click(function (){
  var _this= $(this)
  var id   = $(this).attr("data-id");
  var item = $(this).attr("data-item");
  $.post("{:U('Admin/Community/changeStatus4')}", {id:id,item:item}, function(data){
    if(data.status == 1){
      _this.css({color:"#0C0"}).html("√");
    }else if(data.status == 2){
      _this.css({color:"#c00"}).html("×");
    }else{
      alert(data.info);
    }
  }, "json")
})
$(".change-all-status").click(function (){
  if(!confirm("确定改变所有选中产品的状态？")){
    return false;
  }
  var ids = "";
  var item = $(this).attr("data-item");
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  }
  $.post("{:U('Admin/Community/changeAllStatus')}" ,{ids:ids,item:item}, function (data){
    if(data.status){
      window.location.reload();
    }else{
      alert(data.info);
    }
  })
}) -->
<script>
$(".change-is_sale1").click(function (){
  var id   = $(this).attr("data-id");
  var item = "is_sale1";
  $.post("{:U('Admin/Community/changeStatus4')}", {id:id,item:item}, function(data){
    if(data.status){
        dialog.showTips(data.info, "crowd",'1');
      //window.location.reload()
    }else{
      alert(data.info);
    }
  }, "json")
})
</script>

<script>  
  $.post("{:U('Admin/Community/delCrowd')}" ,{ids:ids}, function (data){
    alert(data.info);
    if(data.status){
      window.location.reload();
    }
  })
</script>
<!-- $(".btn_table_delAll").click(function(){
  if(!confirm("确定删除所有选中的产品？")){
    return false;
  }
  var ids = "";
  $(".table-ckbs:checked").each(function(i){
    ids += $(this).attr("data-id")+"-"
  })
  if(!ids){
    alert("请选择产品！");return false;
  } -->