<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/sellerCss.css">


<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">
  
  <!--  / user  -->
  <div class="Selleruser">
    <div class="row">
      <div class="col-sm-2">
          <include file="Public:user_left1" />
      </div>
        <if condition="$res.shenhe eq 1">
      <div class="col-sm-10">
        <div class="SellerCon clearfix">

         <div class="SelAudCon">
          <div class="SelAudPic">
           <img src="__IMAGES__/SelAudPic1.png" />
          </div>
             <!--身份审核-->
          <div class="SelAudTxt">
           <div class="SellerTop SelIdTop">
            <p>亲爱的{$res.name}，您的身份</p>
            <h3>认证审核中</h3>
           </div>
           <h6>预计审核完成时间{$res.addtime|date="Y-m-d H:i:s",(###+3600*24*3)} ，我们尽快审核，请您耐心等待，敬请留意！</h6>
          </div>
             <!--店铺审核-->
         <!--<div class="SelAudTxt">
             <div class="SellerTop SelIdTop">
                 <p>尊敬的用户，您的店铺</p>
                 <h3>认证审核中</h3>
             </div>
             <h6>预计审核完成时间2017年5月15日 15：43：11，我们尽快审核，请您耐心等待，结果将通过短信，站内消息通知，敬请留意！</h6>
         </div>-->
         </div>
        </div>
      </div>
        </if>
            <if condition="$res.shenhe eq 3">
                <div class="col-sm-10">
                    <div class="SellerCon clearfix">
                        <div class="SelAudCon">
                            <div class="SelAudPic SelAudPic1">
                                <img src="__IMAGES__/SelAudPic2.png" />
                            </div>
                            <div class="SelAudTxt">
                                <div class="SellerTop SelIdTop">
                                    <!--店铺审核-->
                                    <!--<p>尊敬的用户，您的店铺</p>-->
                                    <!--身份审核-->
                                    <p>亲爱的{$res.name}，您的身份</p>
                                    <h3>未通过认证</h3>
                                    <h4 style="color:red">拒绝原因：{$res.feedback}</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="SelAud1Info clearfix">

                            <h2><a href="{:U('/Home/Shop/yunIdentity')}">请重新填写资料申请入驻</a></h2>
                        <div class="SelAud1Txt">
                            <h3>上次认证信息：</h3>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="SelAud1list">
                                        <h3>姓名：{$res.name}</h3>
                                        <h3>证件号码：{$res.f_card}</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="SelAud1list">
                                        <h3>电话：{$res.tel}</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="SelAud1list">
                                        <h3>地址：{$res.s_province}{$res.s_city}{$res.s_county}{$res.address}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </if>
        <if condition="$res.shenhe eq 2">
            <div class="col-sm-10">
                <div class="SellerCon clearfix">
                    <div class="SelAudCon">
                        <div class="SelAudPic SelAudPic1">
                            <img src="__IMAGES__/SelAudPic2.png" />
                        </div>
                        <div class="SelAudTxt">
                            <div class="SellerTop SelIdTop">
                                <p>亲爱的{$res.name}，您的身份</p>
                                <h3>已通过认证,请前往云推荐页面购买礼包</h3>
                            </div>
                            <h6>根据《网络交易管理办法》的规定，美术网将定期或不定期复核您的身份信息。请确保您账号绑定的身份信息真实有效，并确保账号为本人使用，请勿向他人转让、出租和借用账号。</h6>
                        </div>
                    </div>
                </div>
                <div class="SelAud1Info clearfix">
                    <div class="SelAud1Txt">
                        <h3>上次认证信息：</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="SelAud1list">
                                    <h3>姓名：{$res.name}</h3>
                                    <h3>证件号码：{$res.f_card}</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="SelAud1list">
                                    <h3>电话：{$res.tel}</h3>
                                    <h3>认证通过时间：{$res.check_time|date="Y-m-d H:i:s",###}</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="SelAud1list">
                                    <h3>地址：{$res.s_province}{$res.s_city}{$res.s_county}{$res.address}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </if>
        </div>  
      </div>
    </div>

   <!--</div>
</div>-->


  <!--  / user  -->

<!--  / warpper  -->

<include file="Public/footer" />
</body>
<script> 
function fnTabBoxSlide(Focus,Hide,Show){
    $(Focus).siblings().removeClass("actived");
    $(Focus).addClass("actived");
    $(".TabHide"+Hide).hide();
    $("#TabShow"+Show).slideDown("fast");
};
$('.quxiao').click(function(){
    $('.task').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task_con').addClass('task_con_on');
    },300)
})
$('.task_con>img').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})
$('.task_btn1_quxiao').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})

$('.delete').click(function(){
    $('.task1').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task1_con').addClass('task1_con_on');
    },300)
})
$('.task1_con>img').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})
$('.task1_btn1_quxiao').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})

</script>
</html>