<include file="Public:head"/>

<link rel="stylesheet" href="../css/lists.css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<!-- script type="text/javascript" src="__JS__/uploadPreview.min.js"></script -->
<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript" src="__C_JS__/news.js"></script>

<div class="container">
<div class="inner clearfix"> <include file="Public:left"/> 
  <!-- end content-left -->
  
  <div class="content-right fl">
    <h1 class="content-right-title">品牌中心</h1>
    <a href="{:U('/Admin/About/addAbout')}" class="btn btn-success">添加数据</a>
    
    <table class="wxtables mgt10" style="text-align:center;">
   	<colgroup>
      <col width="5%">
      <col width="20%">
      <col width="20%">
      <col width="20%">
      <col width="20%">
      </colgroup>
      <thead>
        <tr class="po_list">
         
          <td>图片</td>
          <td>操作<span></span></td>
        </tr>
      </thead>
      
      <tbody>
        <foreach name="result" item="vo">
          <tr>
     		 <td>
            	<div class="goodswrap">
            		<img src="{$vo.imgs}" style="width:100px;height:60px;"/>
            	</div>
             </td>
            <td>
              <a href="{:U('/Admin/About/editAbout/id')}/{$vo.id}" class="btn btn-primary j-editClass" title="修改">编辑</a>
              <a href="{:U('/Admin/About/delAbout/id')}/{$vo.id}"  onclick="{if(!confirm('确定删除产品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除">删除</a>
            </td>
         </tr>
        </foreach>
      </tbody>
    </table>
    
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
      <div class="fl"> 
        <!-- a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a --> 
        <!-- a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a--> 
        <!-- a href="javascript:;" class="btn btn-primary btn_table_delAll">删除</a--> 
    </div>
  </div>
</div>
<!-- end container --> 

<include file="Public:foot"/>

<script type="text/javascript">
	window.urls = {
		'index_url'	: "{:U('Admin/News/index')}",
	}
</script>
