<include file="Public:head"/>
<script src="__LAYDATE__/laydate.js"></script>
<style>
	.imgnav{
		max-height: 30px;
		overflow: hidden;
		cursor: pointer;
	}
	.imgwrapper{
		display: block;
		width: 78px;
		height: 78px;
		overflow: hidden;
	}
	.imgwrapper img{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		border:0;
	}
	.spanpd10{
		margin:10px;
	}
	.wxtables.wxtables-sku.newtable{
		width: 40%;
		margin: 0;
	}
    .input{
        height: 30px;
    }
    #edui1,#edui95{
        width: 800px !important;
    }
	.img-list li{
		width: 60px;
		height:60px;
	}
	.cst_h3 span{font-weight: normal;}
	#imgdiv img{ max-width:190px; max-height:190px; display:none; margin:5px;}
	.btnimage{width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; position:relative; text-align:center; line-height:31px;}
	.file{ position:absolute; top:0px; left:0; width:80px; height:30px; background:white; border:1px solid #d9d9d9;cursor:pointer; opacity:0}
	#imgdiv2 img{ max-width:88px; max-height:88px; display:none; margin:5px;}
	#xuanze2{ width:60px; height:30px; background:white; border:1px solid #d9d9d9; }
	#xuanze2:hover{ background:#E6E6E6; }
	.huase{display:none; width:86px; height:30px; margin:5px; text-indent:5px;}

</style>
<script type="text/javascript" src="__LHG__/lhgcore.min.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>


<script type="text/javascript" src="__C_JS__/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="__JEDATE__/jedate.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    });


</script>
<div class="container">
  <div class="inner clearfix">
    <include file="Public:left"/>
    <!-- end content-left -->

    <div class="content-right fl">
      <h1 class="content-right-title">拍卖详情</h1>
      <input type="hidden" id="j-isSid" value="0">
      <!-- 是否选择了淘宝类目 -->
      <input type="hidden" id="j-hasNorms" value="1">
      <!-- 淘宝类目下是否有属性 -->
      <input type="hidden" id="supplier" value="">
        <div class="panel-single panel-single-light mgt20">
          <h3 class="cst_h3 mgb20">基本信息</h3>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>分类：</label>
            <div class="form-controls">
                <input name="start" style="padding:0px 5px;width:220px;height:28px;line-height:30px;" readonly value="{$res.cate_name}"/>
              <span class="fi-help-text error"></span> </div>
          </div>

          <div class="formitems">
              <label class="fi-name"><span class="colorRed">*</span>起始时间：</label>
              <div class="form-controls">
                <input class="laydate-icon" readonly name="start" style="padding:0px 5px;width:220px;height:28px;line-height:30px;" value="{$res['start']|date='Y-m-d H:i:s',###}"/>
                <span class="fi-help-text"></span>
              </div>
            </div>

            <div class="formitems">
              <label class="fi-name"><span class="colorRed">*</span>结束时间：</label>
              <div class="form-controls">
                <input class="laydate-icon" readonly name="end" style="padding:0px 5px;width:220px;height:28px;line-height:30px;" value="{$res['end']|date='Y-m-d H:i:s',###}"/>
                <span class="fi-help-text"></span>
              </div>
            </div>

          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>保定金：</label>
            <div class="form-controls">
              <input type="text" class="input" readonly id="baoding" name="baoding" value='{$res["baoding"]}' onkeyup="num(this)">
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>起拍价：</label>
            <div class="form-controls">
              <input type="text" class="input" readonly id="start_price" name="start_price" value='{$res["start_price"]}' onkeyup="num(this)">
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>保留价：</label>
            <div class="form-controls">
              <input type="text" class="input" readonly id="baoliu" name="baoliu" value='{$res["baoliu"]}' onkeyup="num(this)">
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>加价幅度：</label>
            <div class="form-controls">
              <input type="text" class="input" readonly id="fudu" name="fudu" value='{$res["fudu"]}' onkeyup="num(this)">
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>佣金：</label>
            <div class="form-controls">
              <input type="text" class="input" readonly id="yongjin" name="yongjin" value='{$res["yongjin"]}' onkeyup="num(this)">
            </div>
          </div>

          <div class="formitems">
            <label class="fi-name"><span class="colorRed"></span>排序：</label>
            <div class="form-controls">
              <input type="text" class="input mini" readonly name="sort" value="{$res['sort']}">
            </div>
          </div>
        </div>
        <!-- end 基本信息 -->

        <div class="panel-single panel-single-light mgt20">
          <h3 class="cst_h3 mgb20">作品信息</h3>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作品名称：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_name" id="goods_name" value="{$res['goods_name']}">
              <span class="fi-help-text"></span> </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作品描述：</label>
            <div class="form-controls">
                {$res['goods_des']|htmlspecialchars_decode|stripslashes}
              <span class="fi-help-text"></span> </div>
          </div>
         <!-- <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>上市时间：</label>
            <div class="form-controls">
              &lt;!&ndash;<input type="text" class="input xxlarge" name="goods_care" style="width:600px">&ndash;&gt;
              <input class="laydate-icon" id="demo2" readonly name="goods_shi" style="padding:0px 5px;width:220px;height:28px;line-height:30px;" value="{$res['goods_shi']}"/>
              <span class="fi-help-text"></span>
            </div>
          </div>-->
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>重量：</label>
            <div class="form-controls">
              <input type="text" class="input mini" readonly name="weight" id="weight" value="{$res['weight']}" onkeyup="num(this)">
              <span style="color:red;">单位g</span>
              <span class="fi-help-text"></span> </div>
          </div>

         <!-- <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作者头像(小)：</label>
            <div class="form-controls pdt5 j-imglistPanel">
              <div class="xuanze_showimge fl mgr10">
                  <a href="{$res['logo_pic']}" target="_blank"><img src="{$res['logo_pic']}" height="80"></a>
              </div>
              <div class="xuanze_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" /><span class="xuanze_percent">80%</span></div>
              <span class="fi-help-text fl lh30 mgl10"></span>
            </div>
          </div>-->

          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作品展示图片：</label>
            <div class="form-controls pdt5 j-imglistPanel">
              <div class="baotuan_showimge fl mgr10">
                  <a href="{$res['index_pic']}" target="_blank"><img src="{$res['index_pic']}" height="80"></a>
              </div>
              <div class="baotuan_progress fl mgr15" style="display:none"><img src="__IMAGES__/loadings.gif" width="30" /><span class="baotuan_percent">80%</span></div>
              <span class="fi-help-text fl lh30 mgl10"></span>
            </div>
          </div>

          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作品切换图片：</label>
            <div class="form-controls pdt5 j-imglistPanel">
              <div class="duoxuan_progress fl mgr15" style="display:none">
                <img src="__IMAGES__/loadings.gif" width="30" />
                <span class="duoxuan_percent">80%</span></div>
              <span class="fi-help-text fl lh30 mgl10"></span>
              <div style="clear:both"></div>
              <div class="duoxuan_showimge mgr10">
                <foreach name="pm_slide" item="v">
                  <a href="{$v['pic']}" target="_blank"><img class="mgr10 mgt10" data-id="{$v['id']}" src="{$v['pic']}" height="80"></a>
                </foreach>
              </div>
            </div>
          </div>

        </div>

        <div class="panel-single panel-single-light mgt20 j-showinhyd" style="display: block;">
          <h3 class="cst_h3 mgb20">作品参数</h3>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作者：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_cap" id="goods_cap" style="width:600px" value="{$res['goods_cap']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>作品编号：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_mel" id="goods_mel" style="width:600px" value="{$res['goods_mel']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>材质：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly id="goods_skin" name="goods_skin" style="width:600px" value="{$res['goods_skin']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
          <!--<div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>材料：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_liao" style="width:600px" id="goods_liao" value="{$res['goods_liao']}">
              <span class="fi-help-text"></span>
            </div>
          </div>-->
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>尺寸：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_range" id="goods_range" style="width:600px" value="{$res['goods_range']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>创作年代：</label>
            <div class="form-controls">
              <!--<input type="text" class="input xxlarge" name="goods_care" style="width:600px" value="{$cache['goods_care']}">-->
              <input class="laydate-icon" id="demo3" readonly name="goods_care" style="padding:0px 5px;width:220px;height:28px;line-height:30px;" value="{$res['goods_care']}"/>
              <span class="fi-help-text"></span>
            </div>
          </div>
          <div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>品相：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_com" id="goods_com" style="width:600px" value="{$res['goods_com']}">
              <span class="fi-help-text"></span>
            </div>
          </div>
          <!--<div class="formitems">
            <label class="fi-name"><span class="colorRed">*</span>版本：</label>
            <div class="form-controls">
              <input type="text" class="input xxlarge" readonly name="goods_version" id="goods_version" style="width:600px" value="{$res['goods_version']}">
              <span class="fi-help-text"></span>
            </div>
          </div>-->
        </div>

        <!--<div class="panel-single panel-single-light mgt20 j-showinhyd" style="display: block;">
        <h3 class="cst_h3 mgb20">详情</h3>
        <! class="formitems">
          <label class="fi-name"><span class="colorRed">*</span>作者详情：</label>
          <div class="form-controls">
              {$res['detail']|htmlspecialchars_decode|stripslashes}
              </div>
              </div>
                </div>-->

                <!-- end 详情及其它 -->
          <div class="clearfix">
              <ul class="cache-statistics fr">
                  <li class="txtCenter" style="text-align:right;margin-right:10px;">
                      <a href="javascript:history.back(-1);" data-id="2197883" class="btn btn-primary" id="j-order-close">返回</a>
                  </li>
              </ul>
          </div>
                    </div>
                    <!-- end content-right -->
                    </div>
                    </div>
                    <!-- end container -->

                    <include file="Public:foot"/>
                    <div id="albums-overlay" style="display: none;"></div>
                    <div class="jbox fenlei select-fenlei disshow" >
                    <div class="jbox-title">
                    <div class="jbox-title-txt">请选择标签</div>
                    <a href="javascript:void(0);" class="jbox-close cancle"></a></div>
                    <div class="jbox-container" style="height: 75px;">
                    <div class="formitems">
                    <label class="fi-name"><span class="colorRed"></span>选择标签：</label>
                <div class="form-controls">
                    <select name="select_class_id" id="select_class_id" class="select">
                    <foreach name="categorylist" item="vo" >
                    <option disabled value="">{$vo.classname}</option>
                </foreach>
                </select>
                <span class="fi-help-text"></span> </div>
                    </div>
                    </div>
                    <div class="jbox-buttons"> <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="select_class">确定</a> <a href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a> </div>
                    </div>



                    <div id="albums-overlay1" style="display: none;"></div>
                    <div class="jbox fenlei select-series disshow" >
                    <div class="jbox-title">
                    <div class="jbox-title-txt">请选择所属系列</div>
                    <a href="javascript:void(0);" class="jbox-close cancle"></a></div>
                    <div class="jbox-container" style="height: 75px;">
                    <div class="formitems">
                    <label class="fi-name"><span class="colorRed"></span>选择分类：</label>
                <div class="form-controls">
                    <select name="select_series_id" id="select_series_id" class="select">
                    <foreach name="serieslist" item="vo" >
                    <option value="{$vo.id}">{$vo.classname}</option>
                <!--  <foreach name="vo.cate" item="vo1" >
                    <option value="{$vo1.id}">&nbsp;&nbsp;&nbsp;|-{$vo1.classname}</option>
                </foreach> -->
                </foreach>
                </select>
                <span class="fi-help-text"></span> </div>
                    </div>
                    </div>
                    <div class="jbox-buttons"> <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="select_series">确定</a> <a href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a> </div>
                    </div>







                    <!--选择分类-->
                    <script type="text/javascript">
                    function num(obj){
                        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
                        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
                        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
                        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
                        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
                    }
                $(".cancle").click(function(){
                    $(this).parent().parent('.jbox').hide();
                    $('#albums-overlay').hide();
                });

                $("#select_class").click(function(){
                    var clssid=$("#select_class_id  option:selected").val();
                    var classname=$("#select_class_id option:selected" ).text();
                    $('#class_id').val(clssid);
                    $('#class_name').val(classname);
                    $(this).parent().parent('.jbox').hide();
                    $('#albums-overlay').hide();
                });


                /*UE.getEditor('editor',{
                    toolbars: [

                        ['source', 'fontfamily','fontsize','bold','italic', 'underline','forecolor','redo','undo','insertunorderedlist','insertorderedlist','cleardoc', 'justifyleft','justifyright','justifycenter','justifyjustify','insertimage','inserttable','insertrow','insertcol', "mergeright", "mergedown", "deleterow", "deletecol", "splittorows", "splittocols", "splittocells", "deletecaption",  'inserttitle', 'mergecells', 'deletetable','cleardoc','insertparagraphbeforetable', 'edittable', 'edittd']

                    ],

                    autoHeightEnabled: false,
                    autoFloatEnabled: true,
                    elementPathEnabled:false,
                    enableContextMenu:false,
                    wordCount:false,

                });*/

                $("#j-select_series_id").click(function(){
                    $('.select-series').show();
                    $('#albums-overlay1').show();
                });
                $(".cancle").click(function(){
                    $(this).parent().parent('.jbox').hide();
                    $('#albums-overlay1').hide();
                });

                $("#select_series").click(function(){
                    var seriesid=$("#select_series_id  option:selected").val();
                    var seriesname=$("#select_series_id option:selected" ).text();
                    $('#series_id').val(seriesid);
                    $('#series_name').val(seriesname);
                    $(this).parent().parent('.jbox').hide();
                    $('#albums-overlay1').hide();
                });




               /* UE.getEditor('editor2',{
                    toolbars: [

                        ['source', 'fontfamily','fontsize','bold','italic', 'underline','forecolor','redo','undo','insertunorderedlist','insertorderedlist','cleardoc', 'justifyleft','justifyright','justifycenter','justifyjustify','insertimage','inserttable','insertrow','insertcol', "mergeright", "mergedown", "deleterow", "deletecol", "splittorows", "splittocols", "splittocells", "deletecaption",  'inserttitle', 'mergecells', 'deletetable','cleardoc','insertparagraphbeforetable', 'edittable', 'edittd']

                    ],

                    autoHeightEnabled: false,
                    autoFloatEnabled: true,
                    elementPathEnabled:false,
                    enableContextMenu:false,
                    wordCount:false,

                });*/
              </script>
              <script type="text/javascript">
                  function toVaild(){
                      //var classname=$('input[type=checkbox]').val();
                      var series_name = $.trim($('#series_name').val());
                      var demo = $.trim($('#demo').val());
                      var demo1 = $.trim($('#demo1').val());
                      var baoding = $.trim($('#baoding').val());
                      var start_price = $.trim($('#start_price').val());
                      var baoliu = $.trim($('#baoliu').val());
                      var fudu = $.trim($('#fudu').val());
                      var yongjin = $.trim($('#yongjin').val());

                      var goods_name=$.trim($('#goods_name').val());
                      //var editor2=$('#editor2').text();
                      var demo2 = $.trim($('#demo2').val());
                      var pic = $.trim($('#pic').val());
                      var goods_cap = $.trim($('#goods_cap').val());
                      var goods_mel = $.trim($('#goods_mel').val());
                      var goods_skin = $.trim($('#goods_skin').val());
                      var goods_liao = $.trim($('#goods_liao').val());
                      var goods_range = $.trim($('#goods_range').val());
                      var demo3 = $.trim($('#demo3').val());
                      var goods_com = $.trim($('#goods_com').val());
                      var goods_version = $.trim($('#goods_version').val());
                      var weight = $.trim($('#weight').val());

                      if(series_name==''||series_name==null){
                          alert('分类必选');
                          $('#series_name').focus();
                          return false;
                      }

                      if(demo==''||demo==null){
                          alert('开始时间必填');
                          $('#demo').focus();
                          return false;
                      }
                      if(demo1==''||demo1==null){
                          alert('结束时间必填');
                          $('#demo1').focus();
                          return false;
                      }

                      if(demo>=demo1){
                          alert('开始时间必须小于结束时间');
                          $('#demo').focus();
                          return false;
                      }

                      var time = new Date();
                      var time1 = time.getTime();


                      var d1time = new Date(demo1);
                      var d1time1 = d1time.getTime();

                      if(d1time1<=time1){
                          alert('结束时间必需大于当前时间');
                          $('#demo').focus();
                          return false;
                      }

                      if(baoding==''||baoding==null){
                          alert('保定金必填');
                          $('#baoding').focus();
                          return false;
                      }
                      if(start_price==''||start_price==null){
                          alert('起拍价必填');
                          $('#start_price').focus();
                          return false;
                      }
                      if(baoliu==''||baoliu==null){
                          alert('保留价必填');
                          $('#baoliu').focus();
                          return false;
                      }
                      if(fudu==''||fudu==null){
                          alert('加价幅度必填');
                          $('#fudu').focus();
                          return false;
                      }
                      if(yongjin==''||yongjin==null){
                          alert('佣金必填');
                          $('#yongjin').focus();
                          return false;
                      }

                      if(goods_name==''||goods_name==null){
                          alert('作品名称必填');
                          $('#goods_name').focus();
                          return false;
                      }
                      /*if(editor2==''||editor2==null){
                          alert('作品描述必填');
                          $('#editor2').focus();
                          return false;
                      }*/
                      if(demo2==''||demo2==null){
                          alert('上市时间必填');
                          $('#demo2').focus();
                          return false;
                      }

                      var d2time = new Date(demo2);
                      var d2time1 = d2time.getTime();
                      if(d2time1>=time1){
                          alert('上市时间必需小于当前时间');
                          $('#demo').focus();
                          return false;
                      }

                      if(weight==''||weight==null){
                          alert('产品重量必填');
                          $('#weight').focus();
                          return false;
                      }

                      /*if(pic==undefined){
                          alert('图片必选');
                          $('#pic').focus();
                          return false;
                      }*/
                      if(goods_cap==''||goods_cap==null){
                          alert('作者必填');
                          $('#goods_cap').focus();
                          return false;
                      }
                      if(goods_mel==''||goods_mel==null){
                          alert('作品编号必填');
                          $('#goods_mel').focus();
                          return false;
                      }
                      if(goods_skin==''||goods_skin==null){
                          alert('材质必填');
                          $('#goods_skin').focus();
                          return false;
                      }
                      if(goods_liao==''||goods_liao==null){
                          alert('材料必填');
                          $('#goods_skin').focus();
                          return false;
                      }
                      if(goods_range==''||goods_range==null){
                          alert('尺寸必填');
                          $('#goods_range').focus();
                          return false;
                      }
                      if(demo3==''||demo3==null){
                          alert('创建年代必填');
                          $('#demo').focus();
                          return false;
                      }

                      var dtime = new Date(demo3);
                      var dtime1 = dtime.getTime();

                      if(dtime1>=time1){
                          alert('创建年代必需小于当前时间');
                          $('#demo').focus();
                          return false;
                      }
                      if(goods_com==''||goods_com==null){
                          alert('品相必填');
                          $('#goods_com').focus();
                          return false;
                      }
                     /* if(goods_version==''||goods_version==null){
                          alert('版本必填');
                          $('#goods_version').focus();
                          return false;
                      }*/
                  }
              </script>
              <!--提交表单前验证end-->

              <!--上传图片-->

              <script type="text/javascript" src="__JS__/jquery.js"></script>
              <script type="text/javascript" src="__JS__/uploadPreview.min.js"></script>

              <script type="text/javascript" src="__JS__/jquery-form.js"></script>
              <script type="text/javascript">

                  function delImg(obj){
                      if(!confirm("删除这张图片？")){
                          return false;
                      }
                      var id = $(obj).attr("data-id");
                      if(id){
                          $.post("{:U('Admin/Pm/delPmSlide')}", {id:id}, function (data){
                              if(data.status==1){
                                  $(obj).remove();
                              }else{
                                  alert(data.info);
                              }
                          }, "json");
                          return false;
                      }
                      $(obj).next("input").remove();
                      $(obj).remove();
                  }
                  $(function () {
                      var percent = $('.xuanze_percent');
                      var progress = $('.xuanze_percent');
                      $("#xuanze").wrap("<form id='myupload1' action='{:U('/Admin/Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
                      $("#xuanze").change(function(){ //选择文件
                          $("#myupload1").ajaxSubmit({
                              dataType:  'json', //数据格式为json
                              beforeSend: function() { //开始上传
                                  progress.show(); //显示进度条
                                  var percentVal = '0%';
                                  percent.html(percentVal);
                              },
                              uploadProgress: function(event, position, total, percentComplete) {
                                  var percentVal = percentComplete + '%'; //获得进度
                                  percent.html(percentVal); //显示上传进度百分比
                              },
                              success: function(data) { //成功
                                  var img = '<img src="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'" height="80" ><input type="hidden" name="serial" id="pic" value="'+data[0]["savepath"].substr(1)+data[0]["savename"]+'"></input>';
                                  $('.xuanze_showimge').html(img);
                                  progress.hide();
                              },
                              error:function(xhr){ //上传失败
                                  //console.log(xhr.status)
                              }
                          });
                      });


                      var percent = $('.duoxuan_percent');
                      var progress = $('.duoxuan_percent');
                      $("#duoxuan").wrap("<form id='myupload' action='{:U('/Admin/Pm/pmPics')}' method='post' enctype='multipart/form-data'></form>");
                      $("#duoxuan").change(function(){ //选择文件
                          $("#myupload").ajaxSubmit({
                              dataType:  'json', //数据格式为json
                              beforeSend: function() { //开始上传
                                  progress.show(); //显示进度条
                                  var percentVal = '0%';
                                  percent.html(percentVal);
                              },
                              uploadProgress: function(event, position, total, percentComplete) {
                                  var percentVal = percentComplete + '%'; //获得进度
                                  percent.html(percentVal); //显示上传进度百分比
                              },
                              success: function(data) { //成功
                                  var img = '<img src="'+data.img+'" height="80"  class="mgr10 mgt10 " onclick="delImg(this)"><input type="hidden" name="pic1[]" id="pic1" value="'+data.img+'"></input>';
                                  //console.log(img);
                                  $('.duoxuan_showimge').append(img);
                                  progress.hide();
                              },
                              error:function(xhr){ //上传失败
                                  //console.log(xhr.status)
                              }
                          });
                      });

                      var percent = $('.baotuan_percent');
                      var progress = $('.baotuan_percent');
                      $("#baotuan").wrap("<form id='baotuan1' action='{:U('/Admin/Pm/pmLogo')}' method='post' enctype='multipart/form-data'></form>");
                      $("#baotuan").change(function(){ //选择文件
                          $("#baotuan1").ajaxSubmit({
                              dataType:  'json', //数据格式为json
                              beforeSend: function() { //开始上传
                                  progress.show(); //显示进度条
                                  var percentVal = '0%';
                                  percent.html(percentVal);
                              },
                              uploadProgress: function(event, position, total, percentComplete) {
                                  var percentVal = percentComplete + '%'; //获得进度
                                  percent.html(percentVal); //显示上传进度百分比
                              },
                              success: function(data) { //成功
                                  var img = '<img src="'+data.index+'" height="80" ><input type="hidden" name="index_pic" id="pic2" value="'+data.index+'"></input><input type="hidden" name="logo_pic" id="pic3" value="'+data.logo+'"></input>';
                                  $('.baotuan_showimge').html(img);
                                  progress.hide();
                              },
                              error:function(xhr){ //上传失败
                                  //console.log(xhr.status)
                              }
                          });
                      });

                  });
                  function add_re(r){
                      $('#restriction'+r).show();
                  }
                  function del_re(r){
                      $('#restriction'+r).hide();
                  }
              </script>
              <script>
                  /*;!function(){
                      laydate({
                          elem: '#demo',
                          format: 'YYYY-MM-DD hh:mm:ss',
                      })

                  }();

                  ;!function(){
                      laydate({
                          elem: '#demo1',
                          format: 'YYYY-MM-DD hh:mm:ss',
                      })

                  }();*/

                 /* ;!function(){
                      laydate({
                          elem: '#demo2',
                          format: 'YYYY',
                      })

                  }();
                  ;!function(){
                      laydate({
                          elem: '#demo3',
                          format: 'YYYY',
                      })

                  }();*/
              </script>












