<include file="Public:head"/>
<link rel="stylesheet" href="__CSS__/lists.css">

<div class="container">
<div class="inner clearfix"> <include file="Public:left"/> 
  <!-- end content-left -->
  
  <div class="content-right fl">
    <h1 class="content-right-title">审核列表</h1>
    <!--<a href="{:U('/Admin/Pm/addPm')}" class="btn btn-success">添加拍卖</a>-->
    <form action="{:U('/Admin/Pm/pmAuditList')}" method="get">
      <div class="tables-searchbox newcearchbox">

        <input type="text" placeholder="产品名称" onblur="value=value.replace(/\s/g,'')" onkeyup="value=value.replace(/\s/g,'')" class="input" name="name" value="{$title}" >
        <!-- <input type="text" placeholder="商家编码" class="input" name="goods_no" value="" > -->
        <button class="btn btn-primary" style="line-height:26px;"> <i class="gicon-search white"></i>查询 </button>
        <!--<a href="/Item/item_export" class="btn btn-warning"><i class="gicon-share white"></i>-->
        <!--产品导出</a>-->
      </div>
      <div class="tabs clearfix mgt10"> 
        <a href="{:U('/Admin/Pm/pmAuditList')}" class="<eq name="_GET['is_sale']" value="">active</eq> tabs_a fl">全部({$counts})</a>
        <!--<a href="{:U('/Admin/Pm/pmList/is_sale/1')}" class="<eq name="_GET['is_sale']" value="1">active</eq> tabs_a fl">出售中({$count1})</a>
        <a href="{:U('/Admin/Pm/pmList/is_sale/2')}" class="<eq name="_GET['is_sale']" value="2">active</eq> tabs_a fl">下架中({$count2})</a>-->
        <a href="{:U('/Admin/Pm/pmAuditList/is_sale/3')}" class="<eq name="_GET['is_sale']" value="3">active</eq> tabs_a fl">待审核({$count3})</a>
        <a href="{:U('/Admin/Pm/pmAuditList/is_sale/4')}" class="<eq name="_GET['is_sale']" value="4">active</eq> tabs_a fl">审核通过({$count4})</a>
        <a href="{:U('/Admin/Pm/pmAuditList/is_sale/5')}" class="<eq name="_GET['is_sale']" value="5">active</eq> tabs_a fl">审核拒绝({$count5})</a>



      </div>
    </form>
    <!-- end tabs -->
    
    <table class="wxtables mgt10 table-order" id="tb_3" style="text-align:center;">
      <thead>
        <tr class="po_list">
          <td>产品</td>
          <td>发布者</td>
          <!--<td>是否上架</td>-->
          <td>排序</td>
          <td>状态</td>
          <td>操作<span></span></td>
        </tr>
      </thead>
      <tbody>
        <foreach name="cache" item="vo">
          <tr>
            <td><div class="goodswrap"> <a href="javascript:void(0)" class="block" target="_blank" title="{$vo['goods_name']}">
                <div class="table-item-img"> <img src="{$vo['index_pic']}" alt=""> </div>
                <div class="table-item-info" style="width: 100px">{$vo.goods_name}</div>
                </a> </div></td>
            <if condition="$vo.promulgator eq 0"><td>美术网平台</td><else/><td>其他</td></if>
            <!--<td><if condition="($vo.is_shang eq 1)"> 上架
              <else/>
              下架</if></td>-->
            <td> {$vo.sort} </td>
            <if condition="$vo.shenhe eq 0"><td style="color: red">待审核</td></if>
            <if condition="$vo.shenhe eq 1"><td style="color: red">审核通过</td></if>
            <if condition="$vo.shenhe eq 2"><td style="color: red">审核拒绝</td></if>

            <td>
              <a href="{:U('/Admin/Pm/xqPm/id')}/{$vo.id}" class="btn btn-primary j-editClass">查看详情</a>
                <!--<a href="javascript:;" class="btn change-is_shang <eq name="vo['is_shang']" value="0">btn-success<else />btn-danger</eq>" data-id="{$vo.id}"><eq name="vo['is_shang']" value="0">上架<else />下架</eq></a>-->

              <!--<a href="{:U('/Admin/Pm/delPm/id')}/{$vo.id}" onclick="{if(!confirm('确定删除作品吗?'))return false;} " class="btn j-delClass btn-warning" title="删除">删除</a>-->
              <if condition="$vo.shenhe eq 0">
                <a href="javascript:;" class="btn btn-success tongguo" data-id="{$vo.id}">通过</a>
                <a href="javascript:;" class="btn btn-danger jujue" data-id="{$vo.id}">拒绝</a>
              </if>
              </td>
          </tr>
        </foreach>
      </tbody>
    </table>
    <!-- end wxtables -->
    <div class="tables-btmctrl clearfix">
      <div class="fl">
        <div class="fr">
          <div class="pages"> {$page} </div>
          <!-- end paginate --> 
        </div>
      </div>
      <!-- end tables-btmctrl --> 
      
    </div>
    <!-- end content-right --> 
  </div>
</div>


  <div id="albums-overlay" class="disshow"></div>
  <div class="jbox addfenlei disshow" style="height:auto; overflow: visible;">
    <div class="jbox-title">
      <div class="jbox-title-txt">回复评论<span id="error" style="background-color: red;border-color: red;color: white "></span></div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 140px;overflow: visible;">
      <div class="formitems">
        <input type="hidden" class="input sort" name="commentId1" id="commentId1" >

        <label><span class="colorRed">*</span>内容：</label>

        <div class="form-controls">
          <textarea style="width: 200px;height: 100px;margin-left: -30px;" id="content"></textarea>
          <span class="fi-help-text"></span>
        </div>
      </div>

    </div>
    <div class="jbox-buttons">
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="disagree">确定</a>
      <a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
  </div>

  <!--<div class="jbox addfenlei disshow" style="height:auto; overflow: visible;">
    <div class="jbox-title">
      <div class="jbox-title-txt">回复评论<span id="error" style="background-color: red;border-color: red;color: white "></span></div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 140px;overflow: visible;">
      <div class="formitems">
        <select name="num_id" id="num_id">
          <option value="">请选择拍卖场次</option>
          <foreach name="num" item="vo" >
            <option value="{$vo.id}">第{$vo.num}场  <eq name="vo['is_xs']" value="0">普通场<else/>限时场</eq>  开始时间:{$vo['start_time']|date='Y-m-d H:i:s',###}</option>
          </foreach>
        </select>
        <span class="fi-help-text"></span>
      </div>

      <div class="formitems">
        <input type="hidden" class="input sort" name="commentId0" id="commentId0" >

        <label><span class="colorRed">*</span>内容：</label>

        <div class="form-controls">
          <textarea style="width: 200px;height: 100px;margin-left: -30px;" id="content"></textarea>
          <span class="fi-help-text"></span>
        </div>
      </div>

    </div>
    <div class="jbox-buttons">
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="agree">通过</a>
      <a href="javascript:void(0);" class="jbox-buttons-ok btn " id="disagree" style="background-color: red;border-color: red; color: white">拒绝</a>
      <a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
  </div>-->
  <div class="jbox editfenlei disshow" style="height:auto; overflow: visible; height: 300px">
    <div class="jbox-title">
      <div class="jbox-title-txt">关联场次</div>
      <a href="javascript:;" class="jbox-close cancle"></a></div>
    <div class="jbox-container" style="height: 160px;overflow: visible;">
      <div class="formitems">
        <label><span class="colorRed">*</span>选择场次类型：</label>

        <div class="form-controls">
          <input type="hidden" class="input sort" name="commentId0" id="commentId0" >
          <input type="radio" name="type" checked="checked" onclick="lx(this)" value="0" />普通场
          <input type="radio" name="type" value="1" onclick="lx(this)"/>限时场
          <span class="fi-help-text"></span>
        </div>
      </div>
      <div class="formitems">

        <label><span class="colorRed">*</span>请选择拍卖场次：</label>

        <div class="form-controls  pt disshow">
          <select name="num_id0" id="num_id0">
            <option value="">--请选择--</option>
            <foreach name="num" item="vo" >
              <eq name="vo['is_xs']" value="0"><option value="{$vo.id}">第{$vo.num}场</option></eq>
            </foreach>
          </select>
          <span class="fi-help-text ccxq0"></span>
        </div>

        <div class="form-controls  xs disshow">
          <select name="num_id1" id="num_id1">
            <option value="">--请选择--</option>
            <foreach name="num" item="vo" >
              <eq name="vo['is_xs']" value="1"><option value="{$vo.id}">第{$vo.num}场</option></eq>
            </foreach>
          </select>
          <span class="fi-help-text"></span>
        </div>
      </div>
      <div class="formitems  date disshow">
        <label><span class="colorRed">*</span>开始时间：</label>
        <select name="date" id="date">
          <option value="">--请选择--</option>
        </select>
        <select name="xiaoshi" id="xiaoshi">
          <option value="">--请选择--</option>
          <option value="10:00:00">10:00</option>
          <option value="12:00:00">12:00</option>
          <option value="14:00:00">14:00</option>
          <option value="15:00:00">15:00</option>
          <option value="17:00:00">17:00</option>
          <option value="19:00:00">19:00</option>
        </select>
        <span class="fi-help-text  ccxq1"></span>
      </div>
    </div>
    <div class="jbox-buttons">
      <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="agree">确定</a>
      <a href="javascript:void (0);" class="jbox-buttons-ok btn cancle">取消</a></div>
  </div>
</div>

  <script src="__JS__/jquery.js"></script>
  <script>
      function lx(obj) {
          var type = $(obj).val();
          if (type==0){
              $('.xs').hide();
              $('.pt').show();
          }else {
              $('.pt').hide();
              $('.xs').show();
          }
      }

      $(".cancle").click(function(){
          $(this).parent().parent('.jbox').hide();
          $('#albums-overlay').hide();
      })

      $(".tongguo").click(function(){
          $('.editfenlei').show();
          $('#albums-overlay').show();
          $('.pt').show();
          var commentId = $(this).attr('data-id');
          $('#commentId0').val(commentId);
      })
      $(".jujue").click(function(){
          $('.addfenlei').show();
          $('#albums-overlay').show();
          var commentId = $(this).attr('data-id');
          $('#commentId1').val(commentId);
      })

      $('#agree').click(function () {
          var id1 = $('#commentId0').val();
          var type = $("input[name='type']:checked").val();
          var date = $('#date').val();
          var xiaoshi = $('#xiaoshi').val();
          //console.log(type);
          if (type==0){
              var num_id = $('#num_id0').val();
              if (num_id==''||num_id==null){
                  alert('场次必选');
                  return false;
              }
          }else {
              var num_id = $('#num_id1').val();
              if (num_id==''||num_id==null){
                  alert('场次必选');
                  return false;
              }


              if (date==''||date==null){
                  alert('开始时间必选');
                  return false;
              }


              if (xiaoshi==''||xiaoshi==null){
                  alert('开始时间小时必选');
                  return false;
              }
          }
          $.ajax({
              url: "{:U('/Admin/Pm/agree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
                  num_id:num_id,
                  type: type,
                  date: date,
                  xiaoshi: xiaoshi,
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  //num(id1);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })

      $('#disagree').click(function () {
          var id1 = $('#commentId1').val();
          var content = $('#content').val();
          if(content == ''){
              //$('.jbox').hide();
              $('#content').focus();
              alert("内容必填！");
              return false;
          }

          $.ajax({
              url: "{:U('/Admin/Pm/disagree')}",
              type: "post",
              dataType: "json",
              data: {
                  id: id1,
                  disagree_detail:content
              }
          }).done(function (g) {
              if (g.status == 1) {
                  alert(g.info);
                  window.location.reload();
              } else {
                  alert(g.info);
              }

          })
      })

    function num(id1) {
        $('.addfenlei2').show();
        $('#albums-overlay2').show();
    }
  </script>
<!-- end container --> 
<include file="Public:foot"/>
<script>
    $('#num_id0').change(function () {
        var num_id = $('select[name="num_id0"]').val();
        $.post("{:U('Admin/Pm/numDetail')}", {num_id:num_id}, function(data){
            if(data.status){
                var str = "开始时间："+data.info.start_time+"<br />结束时间："+data.info.end_time;
                $('.ccxq0').html(str);
                //console.log(data.info);
            }else{
                alert(data.info);
            }
        }, "json")
    })

    $('#num_id1').change(function () {
        var num_id = $('select[name="num_id1"]').val();
        $.post("{:U('Admin/Pm/numDetail')}", {num_id:num_id}, function(data){
            if(data.status==1){
                $('.date').show();
                var str = "开始时间："+data.info.start_time+"<br />结束时间："+data.info.end_time;
                $('.ccxq1').html(str);
                var date = '<option value="">--请选择--</option>';
                for (var k in data.date){
                    date+='<option value="'+data.date[k]['date']+'">'+data.date[k]['date']+'</option>';
                }
                $('#date').html(date);
                //console.log(data.info);
            }else{
                alert(data.info);
            }
        }, "json")
    })
</script>
</script>
