<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/sellerCss.css">


<!--  / warpper  -->
<div class="warpper wrapper1" style="margin: 150px auto 80px;">
  
  <!--  / user  -->
  <div class="Selleruser">
    <div class="row">
      <div class="col-sm-2">
          <include file="Public:shop_left" />
      </div>
      <div class="col-sm-10">
          <div class="user_r">
	            <ul class="user_all">
	              <li class="actived"><a href="javascript:;">举报</a></li>
	            </ul>
              <div class="jubao_txt">我要举报</div>
              <ul class="jubao">
                <li>美术网账号被盗，<a href="#">请点此报案</a></li>
                <li>被骗取财物，<a href="#">请点此报案</a></li>
                <li>举报违规商品，<a href="#">请点此举报</a></li>
                <li>信息被泄露，<a href="#">请点此报案</a></li>
                <li>举报钓鱼、中奖等恶意网址，<a href="#">请点此举报</a></li>
                <li>投诉商品冒用品牌或与品牌商品类似，<a href="#">请点此举报</a></li>
                <li>收到的知识产权侵权投诉，<a href="#">请点此处理</a></li>
                <li>非上述情况，<a href="#">联系美术网客服热线</a></li>
                
              </ul>
          </div>
        </div>
    </div>
          
   </div>      
</div>


  <!--  / user  -->

<!--  / warpper  -->

<include file="Public/footer" />

<div class="task">
  <div class="task_bg"></div>
  <div class="task_con" style="margin-top:-300px;">
    <img src="__IMAGES__/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要取消订单？</div>
    <div class="task_btn">
      <div class="task_btn1">
        <a href="##" class="task_btn1_on">确定</a>
        <a href="##" class="task_btn1_quxiao">取消</a>    
      </div>
    </div>
  </div>
</div>

<div class="task1">
  <div class="task1_bg"></div>
  <div class="task1_con" style="margin-top:-300px;">
    <img src="__IMAGES__/dizhi_close.png" width="24">
    <div class="fenxiang">你确定要删除订单？</div>
    <div class="task1_btn">
      <div class="task1_btn1">
        <a href="##" class="task1_btn1_on">确定</a>
        <a href="##" class="task1_btn1_quxiao">取消</a>    
      </div>
    </div>
  </div>
</div>


</body>
<script> 
function fnTabBoxSlide(Focus,Hide,Show){
    $(Focus).siblings().removeClass("actived");
    $(Focus).addClass("actived");
    $(".TabHide"+Hide).hide();
    $("#TabShow"+Show).slideDown("fast");
};
$('.quxiao').click(function(){
    $('.task').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task_con').addClass('task_con_on');
    },300)
})
$('.task_con>img').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})
$('.task_btn1_quxiao').click(function(){
      $('.task').stop(true).fadeOut(1000);
      $('.task_con').removeClass('task_con_on');
})

$('.delete').click(function(){
    $('.task1').stop(true).fadeIn(1000);
    setTimeout(function(){
        $('.task1_con').addClass('task1_con_on');
    },300)
})
$('.task1_con>img').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})
$('.task1_btn1_quxiao').click(function(){
      $('.task1').stop(true).fadeOut(1000);
      $('.task1_con').removeClass('task1_con_on');
})

</script>
<script>
	// $(document).ready(function(){
	// 	$('.fukuan').click(function(){
	// 		$(this).parents('.user_r_list').remove();
	// 	})
		
	// })
</script>
</html>